<div class="container-fluid">
    <div class="row">
        <div class="col">

            <div class="bg-white d-flex flex-row-reverse">
                <div class="p-3">
                    <input class="form-control form-control-sm" placeholder="Filter by name or email"
                           [(ngModel)]="filter" (ngModelChange)="fetchUsers()">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">

                <table class="table">
                    <thead class="small text-uppercase">
                    <tr>
                        <th>Name</th>
                        <th>Account Type</th>
                        <th>Entry Count</th>
                        <th>Registered</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.firstName}} {{user.lastName}}
                            <div class="small text-muted">{{user.email}}</div>
                        </td>
                        <td>{{user.accountType | titlecase}}
                            <i class="bi bi-pencil ps-3"></i></td>
                        <td>{{user.visibleEntryCount}}</td>
                        <td>
                            {{user.registerDate | date}}
                            <div class="fst-italic text-muted small" *ngIf="user.lastLogin">Last
                                Login: {{user.lastLogin | date}}</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <ngb-pagination [collectionSize]="paging.available" [pageSize]="paging.limit"
                                [(page)]="paging.currentPage"
                                [boundaryLinks]="true" [maxSize]="5" (pageChange)="pageChange($event)" size="sm">
                    <ng-template ngbPaginationFirst><i class="fa fa-fw fa-angle-double-left"></i> First</ng-template>
                    <ng-template ngbPaginationPrevious><i class="fa fa-fw fa-angle-left"></i>Prev</ng-template>
                    <ng-template ngbPaginationNext>Next<i class="fa fa-fw fa-angle-right"></i></ng-template>
                    <ng-template ngbPaginationLast>Last<i class="fa fa-fw fa-angle-double-right"></i></ng-template>
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>
