<div class="container-fluid">
    <div class="row">
        <div class="px-0 col d-flex">

            <div class="border-end bg-white" style="flex:0 0 250px">
                <app-main-sidebar-menu></app-main-sidebar-menu>
            </div>

            <div class="flex-grow-1">
                <div class="bg-white border-bottom p-3">
                    <app-header></app-header>
                </div>

                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col px-4 pt-5 pb-3">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h3 class="mb-0">
                                        <span class="text-secondary">{{entry.type}}</span> {{entry.name}}
                                    </h3>

                                    <div class="small text-muted">
                                        {{entry.creationTime | date : 'medium'}}
                                        <a class="ms-2" routerLink="/profile/{{entry.ownerId}}">{{entry.owner}}</a>
                                    </div>
                                    <!--                <a type="button" class="btn bg-white"><i class="bi bi-people-fill"></i> Share</a>-->
                                </div>

                                <div>
                                    <a class="border btn btn-sm bg-white shadow-sm"
                                       style="color: #525f7f; font-weight: 500"
                                       [ngbTooltip]="entry.name" [placement]="'top'">
                                        <i class="bi bi-arrow-90deg-up"></i> Strain
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--                    <div class="row">-->
                    <!--                    <div class="row">-->
                    <!--                        <div class="col">-->
                    <!--                            <div class="container-fluid" style="width: 75vw">-->
                    <ng-container *ngFor="let field of entry.fields; let i = index">
                        <app-text-field *ngIf="field.fieldInputType === 'TEXT'"
                                        [(field)]="entry.fields[i]"></app-text-field>
                        <ng-container *ngIf="field.fieldInputType !== 'TEXT'">
                            <div class="row p-1">

                                <div class="col-3 offset-1">
                                    {{field.label}}
                                </div>

                                <div class="col-8">
                                    {{field.value}}
                                </div>
                            </div>

                        </ng-container>
                    </ng-container>
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <div class="row mt-4">
                        <div class="col px-4">
                            <div>
                                SEQUENCE
                                <!--                                <app-part-visualization [entry]="entry"></app-part-visualization>-->
                            </div>
                        </div>

                    </div>

                    <pre>{{entry | json}}</pre>

                </div>
            </div>
        </div>
    </div>
</div>
