<div class="container-fluid">
    <div class="row">
        <div class="px-0 col d-flex">

            <div class="bg-white" style="flex:0 0 250px">
                <app-main-sidebar-menu></app-main-sidebar-menu>
            </div>

            <div class="flex-grow-1">
                <div class="bg-white border-bottom p-3">
                    <app-header></app-header>
                </div>

                <div class="container" *ngIf="entry">

                    <div class="row px-4 pt-4 pb-3">
                        <div class="col">
                            <div class="d-flex justify-content-between">
                                <div>

                                    &nbsp;<h2 class="page-title"><span class="text-muted">{{entry.type}}</span>
                                    &nbsp;{{entry.partId}}</h2>
                                    <span style="letter-spacing: .04em; line-height: 1rem;"
                                          class="small text-muted"> {{entry.creationTime | date : 'medium'}}</span>
                                    &nbsp;<span class="text-muted">|</span>&nbsp;
                                    <a routerLink="/profile/{{entry.ownerId}}">{{entry.owner}}</a>
                                </div>

                                <div>
                                    <a class="border btn btn-sm bg-white shadow-sm mt-3"
                                       style="color: #525f7f; font-weight: 500"
                                       [ngbTooltip]="entry.partId" [placement]="'top'">
                                        <i class="bi bi-arrow-90deg-up"></i> Strain
                                    </a>

                                    <div ngbDropdown class="d-inline-block">
                                        <button class="btn btn-sm btn-white ms-1 mt-3" ngbDropdownToggle>Actions
                                        </button>

                                        <div ngbDropdownMenu aria-labelledby="actionDropDownOptions">
                                            <div ngbDropdownItem class="small" (click)="editAction()">Edit</div>
                                            <div ngbDropdownItem class="small">Delete</div>
                                            <div ngbDropdownItem class="small">Export</div>

                                            <div class="dropdown-divider"></div>

                                            <div ngbDropdownItem class="small">Add To</div>
                                            <div ngbDropdownItem class="small">Remove</div>
                                            <div ngbDropdownItem class="small">Move To</div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-between mt-2">
                                        <i class="bi bi-arrow-left"></i>
                                        <small>1/1</small>
                                        <i class="bi bi-arrow-right"></i>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <ng-container *ngIf="!expandMetaData">
                        <div class="row bg-white mx-4 mb-2 rounded">
                            <div class="col py-3 ps-3">

                                <div class="d-flex justify-content-between">
                                    <div *ngFor="let field of summaryFields"
                                         class="text-center text-nowrap bp3-text-overflow-ellipsis"
                                         style="max-width: 250px">
                                        <div class="small text-uppercase text-muted">
                                            {{field.label}}
                                        </div>
                                        {{field.value}}
                                    </div>

                                    <div class="cursor-pointer fs-5" (click)="expandCollapseMetaData()">
                                        <i class="bi "
                                           [ngClass]="{'bi-chevron-down': !expandMetaData, 'bi-chevron-up': expandMetaData}"></i>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="expandMetaData">
                        <div class="row bg-white mx-4">
                            <div class="col pt-2 pb-3">


                                <ng-container *ngIf="entry.fields && entry.fields.length">
                                    <div class="row p-1" *ngFor="let field of entry.fields">

                                        <ng-container *ngIf="field.fieldInputType === 'TEXT' || !field.fieldInputType
                                                                        || field.fieldInputType === 'LONG_TEXT'">
                                            <app-text-field [field]="field" [part]="entry"
                                                            [longText]="field.fieldInputType === 'LONG_TEXT'"></app-text-field>
                                        </ng-container>


                                        <ng-container *ngIf="field.fieldInputType === 'SELECT'">
                                            <app-select-field [field]="field" [part]="entry"></app-select-field>
                                        </ng-container>


                                        <ng-container *ngIf="field.fieldInputType === 'DATE'">
                                            <app-date-picker [field]="field" [part]="entry"></app-date-picker>
                                        </ng-container>


                                        <ng-container *ngIf="field.fieldInputType === 'USER_WITH_EMAIL'">
                                            <app-user-with-email-field [field]="field"
                                                                       [part]="entry"></app-user-with-email-field>
                                        </ng-container>


                                        <ng-container *ngIf="field.fieldInputType === 'TEXTAREA'">
                                            <app-textarea-field [field]="field" [part]="entry"></app-textarea-field>
                                        </ng-container>


                                        <ng-container *ngIf="field.fieldInputType === 'BOOLEAN'">
                                            <app-boolean-field [field]="field" [part]="entry"></app-boolean-field>
                                        </ng-container>


                                        <ng-container *ngIf="field.fieldInputType === 'MULTI_TEXT'">
                                            <app-multi-text-field [field]="field" [part]="entry"></app-multi-text-field>
                                        </ng-container>

                                    </div>
                                </ng-container>
                            </div>

                            <div class="col-1">
                                <div class="cursor-pointer pt-2" (click)="expandCollapseMetaData()">
                                    <i class="bi float-end font-12em fs-5"
                                       [ngClass]="{'bi-chevron-down': !expandMetaData, 'bi-chevron-up': expandMetaData}"></i>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <div class="row mt-4">
                        <div class="col">
                            <div class="mx-4">
                                <app-part-visualization [entry]="entry"></app-part-visualization>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
