<div class="font-90em">
    <div ng-if="searchResultToolTip.alias"><b>Alias</b>: {{searchResultToolTip.alias}}</div>
    <div ng-if="searchResultToolTip.selectionMarkers"><b>Selection Markers</b>:
        {{searchResultToolTip.selectionMarkers.toString()}}
    </div>
    <div ng-if="searchResultToolTip.backbone"><b>Backbone</b>: {{searchResultToolTip.backbone}}
    </div>
    <div><b>Creator</b>: {{searchResultToolTip.creator}}</div>
    <div ng-if="searchResultToolTip.originOfReplication"><b>Origin of Replication</b>:
        {{searchResultToolTip.originOfReplication}}
    </div>
    <div><b>Owner</b>: {{searchResultToolTip.owner}}</div>
    <div ng-if="searchResultToolTip.links"><b>Links</b>: {{searchResultToolTip.links}}</div>
    <div ng-if="searchResultToolTip.replicatesIn"><b>Replicates In</b>:
        {{searchResultToolTip.replicatesIn}}
    </div>
    <div><b>Status</b>: {{searchResultToolTip.status | capitalize}}</div>
    <div><b>Bio Safety Level</b>: {{searchResultToolTip.bioSafetyLevel}}</div>
    <div ng-if="searchResultToolTip.promoters"><b>Promoters</b>: {{searchResultToolTip.promoters}}
    </div>
    <div ng-if="searchResultToolTip.keywords"><b>Keywords</b>: {{searchResultToolTip.keywords}}
    </div>
    <div ng-if="searchResultToolTip.references"><b>References</b>:
        {{searchResultToolTip.references}}
    </div>
    <div><b>Funding Source</b>: {{searchResultToolTip.fundingSource}}</div>
    <div class="no_wrap"><b>Principal Investigator</b>:
        {{searchResultToolTip.principalInvestigator}}
    </div>
    <div><b>Modified</b>: {{searchResultToolTip.modificationTime | date:'medium'}}</div>
    <div ng-if="searchResultToolTip.intellectualProperty"><b>IP Information</b>:
        {{searchResultToolTip.intellectualProperty}}
    </div>
</div>
