<!-- public folders on the selected remote registry -->
<table cellspacing="0" cellpadding="0" width="219px" style="margin-left: 5px;">
    <tr data-ng-repeat="folder in selectedPartnerFolders">
        <td>
            <div class="system_collection_user_menu_row" style="background-color: #f9f9f9"
                 ng-click="selectRemotePartnerFolder(folder)">
                <i class="fa fa-folder-o fa-fw"
                   style="font-size: 12px; color: #a1a0a0; padding-left: 9px"></i> &nbsp;&nbsp;
                <span class="font-85em" style="font-size: 12px">{{folder.folderName | limitTo:23}}</span>&nbsp;
                <span class="menu_count">{{folder.count | number}}</span>
            </div>
        </td>
    </tr>
</table>