<div class="d-flex justify-content-between">
    <div>
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-primary" ngbDropdownToggle>
                <span><i class="bi bi-plus-square-dotted"></i> Add single entry</span>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="goToCreateEntry(type)" *ngFor="let type of types">{{type}}</button>
            </div>
        </div>
        &nbsp;

        <button class="btn btn-primary" (click)="goToUpload()">
            <span class="small"><i class="bi bi-table"></i> Upload multiple entries</span>
        </button>
    </div>
    <div style="width: 350px">
        <input class="form-control" placeholder="Search">
    </div>
    <div>
        <i class="bi bi-bell"></i>
        <span class="text-light"> |</span>
        {{loggedInUser.email}}
        <span class="text-light"> |</span>
        <button class="btn btn-sm btn-link" (click)="logout()">Logout</button>
    </div>
</div>

