<div class="min-vh-100 d-flex align-items-center">
    <div class="container">
        <div class="row">

            <div class="col-lg-5 mx-auto p-5 border shadow-sm bg-white rounded">

                <div class="text-center">
                    <img src="assets/img/img.png" alt="logo" style="height: 60px">
                </div>

                <hr class="border-top">

                <div class="pt-3">

                    <div class="alert alert-danger p-2" *ngIf="this.validation.invalidPassword"><i
                            class="fa fa-fw fa-exclamation-triangle"></i> Invalid login or
                        password. Please try again.
                    </div>

                    <form id="login-form" [formGroup]="form" (ngSubmit)="loginUser()">
                        <div class="mb-4">
                            <label for="userId" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="userId" formControlName="id"
                                   name="userId" [ngClass]="{'is-invalid': idIsInvalidAndTouched}"
                                   required [attr.aria-invalid]="idIsInvalidAndTouched">
                        </div>

                        <div class="d-flex align-items-center justify-content-between">
                            <div><label class="form-label" for="password">Password</label></div>
                            <div class="mb-2"><a routerLink="/forgotPassword" class="small">Forgot password?</a>
                            </div>
                        </div>

                        <input type="password" class="form-control" id="password" name="password"
                               [attr.aria-invalid]="passwordIsInvalidAndTouched"
                               [ngClass]="{'is-invalid': passwordIsInvalidAndTouched}" required>

                        <div class="mt-5">
                            <button [disabled]="processing"
                                    class="w-100 btn btn-primary pull-right py-2 fw-bold" id="submit">
                                <div *ngIf="processing" class="spinner-border spinner-border-sm text-light"
                                     role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                Sign In
                            </button>
                        </div>
                    </form>

                </div>

                <br>

                <div class="small text-center">Don't have an account? <a routerLink="/register">Create one now</a></div>
            </div>

        </div>

    </div>
</div>
