<div class="vh-100 px-2" *ngIf="user && user.sessionId">

    <img src="assets/img/img.png" alt="" width="210px" class="mt-3 cursor-pointer" (click)="goHome()" height="33">

    <br><br>

    <div>
        <div class="list-group">
            <a *ngFor="let collection of collections"
               class="d-flex justify-content-between list-group-item-action list-group-item-action rounded"
               (click)="selectCollection(collection)" [routerLink]="'/collection/' + collection.name"
               [ngClass]="{'bg-light fw-bold': selectedOption && (collection.name === selectedOption)}"
               style="font-size: .92rem; font-weight: 400; padding: 0.75rem 0.75rem">
                <div class="ps-3">
                    <i class="pe-2 text-primary bi" [ngClass]="collection.icon"></i>
                    {{collection.display}}
                </div>
                <!--            <i class="bi bi-chevron-right" *ngIf="selectedOption && (collection.name === selectedOption.name)"></i>-->
            </a>
        </div>
    </div>

    <br><br>


    <!--    <div class="mt-5 text-uppercase small text-muted">Available Registries</div>-->
    <!--    <hr>-->

    <div class="footer"></div>
</div>



