<div class="btn-toolbar">

    <div class="btn-group" style="margin-left: 20px">

        <!--add to folder-->
        <button class="btn btn-default action-menu" ng-disabled="addToDisabled" ng-click="openAddToFolderModal(false)">
            <i class="fa fa-fw fa-folder font-12em"></i>
            <br>
            <small class="text-uppercase font-55em">Add To</small>
        </button>

        <!--remove from folder-->
        <button class="btn btn-default action-menu" ng-disabled="!canMoveFromFolder()"
                ng-click="removeEntriesFromFolder()">
            <i class="fa fa-folder-open-o font-12em"></i>
            <br>
            <small class="text-uppercase font-55em">Remove</small>
        </button>

        <!--move to -->
        <button class="btn btn-default action-menu uib-dropdown-toggle" ng-disabled="!canMoveFromFolder()"
                ng-click="openAddToFolderModal(true)">
            <i class="fa fa-folder-o font-12em"></i>
            <br>
            <small class="text-uppercase font-55em">Move To</small>
        </button>
    </div>


    <!--edit and delete-->
    <div class="btn-group" style="margin-left: 20px">
        <button class="btn btn-default action-menu" ng-disabled="!canEdit()" ng-click="editEntry()">
            <i class="fa fa-pencil font-12em"></i>
            <br>
            <small class="text-uppercase font-55em">Edit</small>
        </button>

        <button class="btn btn-default action-menu" ng-disabled="!canDelete()" ng-click="deleteSelectedEntries()">
            <i class="fa fa-trash-o font-12em"></i>
            <br>
            <small class="text-uppercase font-55em">Delete</small>
        </button>
    </div>

    <!--download-->
    <button class="btn btn-default action-menu" ng-disabled="addToDisabled" ng-click="csvExport()"
            style="margin-left: 20px">
        <i class="fa fa-cloud-download font-12em"></i>
        <br>
        <small class="text-uppercase font-55em">Export</small>
    </button>


    <!--transfer-->
    <div class="btn-group" style="margin-left: 20px" ng-if="user.isAdmin">
        <button class="btn btn-default action-menu" ng-disabled="!transferAvailable()"
                ng-click="openTransferEntriesModal()">
            <i class="fa fa-share font-12em"></i>
            <br>
            <small class="text-uppercase font-55em">Transfer</small>
        </button>

        <!--accept transferred entries-->
        <button class="btn btn-default action-menu" ng-disabled="!canAccept()" ng-click="acceptTransferredEntries()">
            <i class="fa fa-save font-12em"></i>
            <br>
            <small class="text-uppercase font-55em">Accept</small>
        </button>
    </div>

    <div class="pull-right" style="margin-right: 2px; height: 30px" ng-if="serverFeedback">
        <uib-alert style="width: 300px; padding: 5px 25px 5px 10px" type="{{serverFeedback.type}}"
                   close="closeFeedbackAlert()"
                   dismiss-on-timeout="5000">
            <small>{{serverFeedback.message}}</small>
        </uib-alert>
    </div>
</div>

