<div class="btn-toolbar">

    <div class="btn-group" style="margin-left: 20px">

        <!--add to folder-->
        <button class="btn btn-default action-menu" ng-disabled="!canAddToFolder()" ng-click="openAddToFolderModal(false)">
            <i class="fa fa-fw fa-folder font-12em"></i>
            <br>
            <small class="text-uppercase font-55em">Add To</small>
        </button>

        <!--remove from folder-->
        <button class="btn btn-default action-menu" ng-disabled="!canMoveFromFolder()"
                ng-click="removeEntriesFromFolder()">
            <i class="fa fa-folder-open-o font-12em"></i>
            <br>
            <small class="text-uppercase font-55em">Remove</small>
        </button>

        <!--move to -->
        <button class="btn btn-default action-menu uib-dropdown-toggle" ng-disabled="!canMoveFromFolder()"
                ng-click="openAddToFolderModal(true)">
            <i class="fa fa-folder-o font-12em"></i>
            <br>
            <small class="text-uppercase font-55em">Move To</small>
        </button>
    </div>


    <!--edit, delete/erase, and restore-->
    <div class="btn-group" style="margin-left: 20px">
        <button class="btn btn-default action-menu" ng-disabled="!canEdit()" ng-click="editEntry()">
            <i class="fa fa-pencil font-12em"></i>
            <br>
            <small class="text-uppercase font-55em">Edit</small>
        </button>

        <button class="btn btn-default action-menu" ng-show="!isDealingWithDeleted()" ng-disabled="!canDelete()" ng-click="deleteSelectedEntries()">
            <i class="fa fa-trash-o font-12em"></i>
            <br>
            <small class="text-uppercase font-55em">Delete</small>
        </button>

        <button class="btn btn-default action-menu" ng-show="isDealingWithDeleted()" ng-disabled="!canDelete()" ng-click="deleteSelectedEntries()">
            <i class="fa fa-trash font-12em"></i>
            <br>
            <small class="text-uppercase font-55em">Permanent</small>
        </button>

        <button class="btn btn-default action-menu" ng-if="canRestore()" ng-click="restoreSelectedEntries()">
            <i class="fa fa-undo font-12em"></i>
            <br>
            <small class="text-uppercase font-55em">Restore</small>
        </button>
    </div>

    <!--download-->
    <div class="btn-group" style="margin-left: 20px" uib-dropdown>
        <button class="btn btn-default action-menu" ng-disabled="addToDisabled" uib-dropdown-toggle>
            <i class="fa fa-cloud-download font-12em"></i>
            <br>
            <small class="text-uppercase font-55em">Export <span class="caret"></span></small>
        </button>

        <ul class="uib-dropdown-menu">
            <li><a href="#" class="font-90em" ng-click="csvExport(false)">CSV Only</a></li>
            <li><a href="#" class="font-90em" ng-click="csvExport(true)">CSV & sequences</a></li>
            <!--<li class="divider"></li>-->
            <!--<li><a href="#" class="font-90em">Customize</a></li>-->
        </ul>
    </div>

    <!--transfer-->
    <div class="btn-group" style="margin-left: 20px" ng-if="user.isAdmin">
        <button class="btn btn-default action-menu" ng-disabled="!transferAvailable()"
                ng-click="openTransferEntriesModal()">
            <i class="fa fa-share font-12em"></i>
            <br>
            <small class="text-uppercase font-55em">Transfer</small>
        </button>

        <!--accept transferred entries-->
        <button class="btn btn-default action-menu" ng-disabled="!canAcceptTransfer()" ng-click="acceptTransferredEntries()">
            <i class="fa fa-save font-12em"></i>
            <br>
            <small class="text-uppercase font-55em">Accept</small>
        </button>
    </div>

    <div class="pull-right" style="margin-right: 2px; height: 30px" ng-if="serverFeedback">
        <uib-alert style="width: 300px; padding: 5px 25px 5px 10px" type="{{serverFeedback.type}}"
                   close="closeFeedbackAlert()"
                   dismiss-on-timeout="5000">
            <small>{{serverFeedback.message}}</small>
        </uib-alert>
    </div>
</div>

