<div class="container-fluid" ng-controller="AdminController">
    <div class="row entry_general_header_td" style="height: 60px">

        <div class="col-md-11">
            <h4 style="text-transform: uppercase;"><strong style="color: #888;">Site Administration</strong>
                <strong style="text-transform: capitalize;">{{selectedDisplay}}</strong><br>
                <small class="font-65em">With great power...</small>
            </h4>
        </div>
        <div class="col-md-1" style="margin-top: 20px;">
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <ng-include src="adminOptionSelection"></ng-include>
        </div>
        <div class="col-md-2" style="padding-right: 0">
            <table class="profile_menu pull-right" cellpadding="0" cellspacing="0">
                <tr ng-repeat="menuOption in profileMenuOptions">
                    <td ng-class="{selected:menuOption.selected}" ng-click="showSelection($index)">
                        <i class="fa {{menuOption.icon}}" style="font-size: 14px; margin-right: 10px;"></i>{{menuOption.display}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
