<div>
    <a href="/folders/personal"><img class="cursor_pointer" src="/img/logo.png" alt="ICE" height="84px"></a>

    <div class="sidebarLinks">

        <div class="sideBarHeader collections_header">Collections</div>

        <div ng-repeat="collection in collectionList" ng-if="collection.count||collection.alwaysVisible">
            <div ng-class="{collection_user_menu_row_selected:collection.display.toLowerCase()===selectedFolder}"
                 ng-init="showAddCollection=false">

                <div class="collection-menu" ng-click='selectCollection(collection.name)'
                     ng-mouseenter="showAddCollection=collection.name==='personal'"
                     ng-mouseleave="showAddCollection=false">

                    <span ng-show="collection.name!==selectedFolder">
                        <i class="fa fa-fw"
                           style="font-size: 17px; color: #d1d0d0;" ng-class="collection.icon"></i>
                        {{collection.display}}
                    </span>

                    <span ng-show="collection.name===selectedFolder">
                        <i class="fa fa-fw" style="font-size: 17px" ng-class="collection.iconOpen"></i>
                        <b>{{collection.display}}</b>
                        </span>

                    <span class="menu_count">
                        <span ng-hide="showAddCollection">{{(collection.count | number) || 0}}</span>
                        <!--shown only for personal collection-->
                        <i ng-show="showAddCollection" ng-click="hideAddCollection=!hideAddCollection"
                           class="fa fa-plus edit_icon" style="font-size: 14px">
                        </i>
                    </span>
                </div>

                <ice.menu.collections.details
                        ng-show="selectedFolder===collection.name"></ice.menu.collections.details>
            </div>
        </div>
    </div>
</div>