<div class="content-menu">
    <ice.menu.collections></ice.menu.collections>
    <br>
    <ice.menu.wor></ice.menu.wor>
</div>

<div class="navbar-fixed-top" style="background-color: #fff" ng-cloak>

    <a href="folders/personal"><img class="cursor_pointer" ng-src="{{siteSettings.logo}}" alt="ICE"></a>

    <div style="position: fixed; top: 0; right: 0; left: 260px; background-color: #fff; border-bottom: 1px solid #f6f6f6">
        <!-- very top of header. Account and logout links -->
        <div style="background-color: #f1f1f1; padding:6px">

            <!-- table for search, menu, and profile and other options (e.g. logout) -->
            <ice-search-input></ice-search-input>

            <!-- links -->
            <div style="position: absolute; top: 12px; right: 10px">
                <div style="display: inline-block; vertical-align: top;">
                    <a ng-href="profile/{{user.id}}">{{user.email}}</a>
                </div>

            <span class="form-group" ng-if="false">&nbsp;
                <button style="background: transparent; border: none !important;" title=""
                        data-placement="bottom" data-content="contents"
                        data-template="views/popover.html" data-trigger="focus" bs-popover>
                    <i class="fa fa-bell" style="font-size: 16px"></i><sup
                        class="count-badge">4</sup>
                </button>
            </span>

                <!--<span class="cursor_pointer" ng-if="false">&nbsp;-->
                <!--<i class="fa fa-envelope" style="font-size: 16px"></i>-->
                <!--<sup class="count-badge">8</sup>-->
                <!--</span>-->
            <span class="cursor_pointer"
                  ng-if="shoppingCartContents.length"
                  popover-trigger="click"
                  popover-placement="bottom" popover-title="Samples Cart"
                  uib-popover-template="shoppingCartTemplate">
                &nbsp;
                <i class="fa fa-shopping-cart" style="font-size: 16px"></i>
                <sup class="count-badge">{{shoppingCartContents.length}}</sup>
            </span>
            <span class="cursor_pointer" ng-if="user.isAdmin">&nbsp;
                <a href="admin" style="color: #ff4500;" class="opacity_hover"><i
                        class="fa fa-sliders" style="font-size: 20px"></i></a>
            </span>
                &nbsp;
            <span class="cursor_pointer opacity_hover">
                <i class="fa fa-sign-out" style="font-size: 20px" uib-tooltip="Logout"
                   tooltip-placement="bottom"
                   data-ng-click="logout()"></i>
            </span>
                &nbsp;&nbsp;&nbsp;
                <!-- end table for search, menu, and profile and other options (logout)  -->
            </div>
        </div>

        <div class="btn-toolbar" style="margin-top: 23px;">
            <!-- sub menu [Create Entry, Add To, etc] -->
            <div class="btn-group" uib-dropdown is-open="createEntry.isOpen">
                <button type="button" class="subMenuCreateNew btn-sm"
                        style="font-size: 14px"
                        ng-click="toggleUploadDropdown($event, 'create')">Create Entry <span class="caret"></span>
                </button>

                <button type="button" style="padding: 5px 5px"
                        class="btn-xs subMenuCreateNew"
                        title="Bulk Import" ng-click="toggleUploadDropdown($event, 'upload')">
                    <i class="fa fa-table" style="font-size: 19px"></i>
                </button>

                <ul class="uib-dropdown-menu">
                    <li ng-repeat="choice in items">
                        <a ng-href="{{createType}}/{{choice.type}}" class="cursor_pointer">
                            <i ng-if="createType==='upload'"
                               class="opacity_4 color_444 fa fa-fw fa-table"></i> {{choice.name}}</a>
                    </li>
                </ul>
            </div>

            <ice-action-menu></ice-action-menu>

        </div>

        <!-- space -->
        <div style="height: 18px"></div>
    </div>
</div>

<div id="content">
    <div ui-view autoscroll="false"></div>
</div>
