<div style="height: 60px;">
    <div class="col-sm-10">
        <img src="img/doe-bioenergy-research-cent.gif" height="60px">
        <img src="img/lbnl-logo.gif" height="60px">
        <img src="img/sandia-lab-logo.gif" height="60px">
        <img src="img/ucb-logo.gif" height="60px">
        <img src="img/ucdavis-logo.gif" height="60px">
        <img src="img/carnegie-institution-logo.gif" height="60px">
        <img src="img/llnl-logo.gif" height="60px">
        <img src="img/pnw.png" height="60px">
    </div>
    <div class="text-right">
        &copy;&nbsp;<a href="https://github.com/JBEI/ice">JBEI ICE Registry</a> <span
            class="label label-primary">{{siteSettings.version || "5.0.1"}}</span><br>
        All rights reserved. <br>
        <a href="https://github.com/JBEI/ice/issues/new">Submit an Issue</a>&nbsp; <span class="text-muted">|</span>
        &nbsp;<a
            href="http://public-registry.jbei.org/manual">Help</a>
    </div>
</div>
