<div style="height: 60px;">
    <div class="col-sm-10" style="max-height: 60px; overflow: hidden;">
        <img src="img/doe-bioenergy-research-cent.gif" height="60px">
        <img src="img/lbnl-logo.gif" height="60px">
        <img src="img/sandia-lab-logo.gif" height="60px">
        <img src="img/ucb-logo.gif" height="60px">
        <img src="img/ucdavis-logo.gif" height="60px">
        <img src="img/carnegie-institution-logo.gif" height="60px">
        <img src="img/llnl-logo.gif" height="60px">
        <img src="img/pnw.png" height="60px">
    </div>
    <div class="text-right" style="white-space: nowrap;">
        &copy;&nbsp;<a href="https://github.com/JBEI/ice">JBEI ICE Registry</a> <span
            class="label label-primary">5.7.3</span><br>
        All rights reserved. <br>
        <a href="https://github.com/JBEI/ice/issues/new">Submit an Issue</a>&nbsp; <span class="text-muted">|</span>
        &nbsp;<a href="http://ice.jbei.org/">Help</a>
    </div>
</div>
