<div class="container-fluid">
    <div class="row" style="margin-top: 80px">
        <div class="col-md-6">
            <div class=" pull-right">
                <ng-include src="'/views/institution.html'"></ng-include>
            </div>
        </div>
        <div class="col-md-6">
            <form name="resetPasswordForm()" data-ng-submit="submit()">
                <div class="form-group">
                    <br><img src="img/logo.png"><br><br><span data-ng-if="errMsg != undefined">{{errMsg}}</span><br>
                </div>

                <div class="form-group">
                    <input type="text" class="login_input" placeholder="Username" data-ng-model="userId"/>
                </div>

                <button type="submit" class="btn btn-sm btn-primary"><strong>Reset Password</strong>
                </button>
                <button type="button" ng-click="cancel()" class="btn btn-default btn-sm">Cancel</button>
            </form>
        </div>
    </div>
</div>