<div class="container-fluid">
    <div class="row" style="margin-top: 80px">
        <div class="col-md-6">
            <div class=" pull-right">
                <ng-include src="'/views/institution.html'"></ng-include>
            </div>
        </div>
        <div class="col-md-6">
            <form name="resetPasswordForm" data-ng-submit="resetPassword()">
                <div class="form-group">
                    <br><img src="img/logo.png"><br><br><br>

                    <alert type="'info'" style="width: 250px; padding: 8px">
                        <i style="font-size: 15px" class="fa fa-info-circle"></i>
                        <span class="font-85em">A new password will be sent by email</span>
                    </alert>
                </div>

                <div class="form-group">
                    <input type="text" ng-class="{'login_input':!user.error, 'login_input_error':user.error}"
                           placeholder="Username" ng-model="user.email" ng-change="user.error=undefined"/>
                </div>

                <button type="submit" class="btn btn-sm btn-primary"><strong>Reset Password</strong>
                </button>
                <button type="button" ng-click="cancel()" class="btn btn-default btn-sm">Cancel</button>
            </form>
        </div>
    </div>
</div>