<div class="container-fluid">
    <div class="row" style="margin-top: 80px">
        <div class="col-md-6">
            <div class=" pull-right">
                <ng-include src="siteSettings.loginMessage"></ng-include>
            </div>
        </div>
        <div class="col-md-6">
            <form ng-submit="resetPassword()">
                <div class="form-group">
                    <br><img ng-src="{{siteSettings.logo}}"><br><br><br>

                    <div class="alert alert-info" style="width: 265px; padding: 6px" ng-if="!user.processed">
                        <span class="font-90em">Enter your username to reset your password</span>
                    </div>

                    <div class="alert alert-info" ng-if="user.processed&&!user.error"
                         style="width: 265px; padding: 6px">
                        <span class="font-90em">Check your email for your new password</span>
                    </div>

                    <div class="alert alert-danger" ng-if="user.error" style="width: 265px; padding: 6px">
                        <span class="font-90em">Error resetting password. Please try again</span>
                    </div>
                </div>

                <div class="form-group" ng-if="!user.processed">
                    <input ng-disabled="user.processing" type="text" style="width: 265px"
                           ng-class="{'login_input':!user.error, 'login_input_error':user.error}"
                           placeholder="Username" ng-model="user.email" ng-change="user.error=undefined"/>
                </div>

                <button type="submit" class="btn btn-sm btn-link" ng-if="user.processed&&!user.error"
                        ng-click="redirectToLogin()">
                    <strong><i class="fa fa-fw fa-long-arrow-left color-888"></i> Back to Login</strong>
                </button>
                <button ng-if="!user.processed" ng-disabled="(user.processing&&user.email)||!user.email" type="submit"
                        class="btn btn-sm btn-primary" ng-click="resetPassword()">
                    <strong>Reset Password</strong>
                </button>
                <button type="button" ng-click="redirectToLogin()" class="btn btn-default btn-sm"
                        ng-if="!user.processed">
                    <span>Cancel</span>
                </button>
            </form>
        </div>
    </div>
</div>