<div class="login_message_panel">The Joint BioEnergy Institute (<a href="http://www.jbei.org"
                                                                   target="_blank">JBEI</a>) is a San
    Francisco Bay Area scientific partnership led by <a href="http://www.lbl.gov" target="_blank">Lawrence
        Berkeley National Laboratory</a> and including the <a href="http://www.sandia.gov" target="_blank">Sandia
        National Laboratories</a>, the <a href="http://www.universityofcalifornia.edu" target="_blank">University
        of California</a> campuses of Berkeley and Davis, the <a href="http://carnegiescience.edu"
                                                                 target="_blank">Carnegie Institution for
        Science</a>, <a href="http://www.llnl.gov" target="_blank">Lawrence Livermore National
        Laboratory</a>, and <a href="http://www.pnnl.gov" target="_blank">Pacific Northwest National
        Laboratory</a>.<p>JBEI's primary scientific mission is to advance the development of the next
        generation of biofuels - drop-in liquid fuels derived from the solar energy stored in plant biomass.
        JBEI is one of three U.S. <a href="http://energy.gov" target="_blank">Department of Energy</a>
        Bioenergy Research Centers.</p></div>