<div class="login_message_panel">
    The <a href="http://www.jbei.org"
           target="_blank">Joint BioEnergy Institute</a>'s Inventory of Composable Elements (ICE) is an
    open source registry software and platform for managing information about biological parts.
    It is capable of recording  information about “legacy” parts such as plasmids,
    microbial host strains, and <i>Arabidopsis</i> seeds.

    <br><br>
    ICE is built upon the idea of a Web of Registries, and thus provides strong
    support for distributed, interconnected use. It includes several useful
    graphical applications for sequence annotation, manipulation and analysis.
</div>