<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="row" style="margin-top: 80px">
        <div class="col-md-6">
            <div class=" pull-right">
                <ng-include src="siteSettings.loginMessage"></ng-include>
            </div>
        </div>
        <div class="col-md-6">
            <form name="loginForm" data-ng-submit="getAccessToken()">
                <div class="form-group">
                    <br><img ng-src="{{siteSettings.logo}}"><br><br>

                    <div class="alert alert-danger" style="width: 220px; padding: 8px" ng-if="errMsg">
                        <i style="font-size: 15px" class="fa fa-exclamation-triangle"></i>
                        <span class="font-90em">Login failed. Please try again.</span>
                    </div>
                </div>

                <div class="form-group" ng-if="canChangePassword">
                    <input type="text" ng-disabled="login.processing&&!errMsg"
                           ng-class="{'login_input':!login.emailError, 'login_input_error':login.emailError}"
                           placeholder="Username" ng-model="login.email"
                           ng-change="login.emailError=undefined;login.processing=undefined"/>
                    <img src="img/loader-mini.gif" ng-if="login.processing&&!errMsg">
                    <br><br>

                    <div class="input-group">
                        <input type="password" ng-disabled="login.processing&&!errMsg"
                               ng-class="{'login_input':!login.passwordError, 'login_input_error':login.passwordError}"
                               placeholder="Password" ng-model="login.password"
                               ng-change="login.passwordError=undefined;login.processing=undefined"
                               style="border-right: 0; width: 173px"/>

                        <span class="input-group-addon" style="padding:3px; border-radius: 0;
                        background-color: #fff; width: 20px" ng-if="!login.passwordError">
                            <a href="forgot-password" class="font-80em">Forgot?</a>
                         </span>

                        <span class="input-group-addon" style="padding:3px; border-radius: 0;
                        background-color: #fcc; border: 1px solid #cc3333; border-left: 0;width: 20px"
                              ng-if="login.passwordError">
                            <a href="forgot-password" class="font-80em">Forgot?</a>
                         </span>

                        <!--width: 20px border : 1 px solid #cc3333;-->
                        <!--background-color: #fcc;-->
                    </div>
                </div>

                <div class="form-group" ng-if="!canChangePassword">
                    <input type="text" ng-disabled="login.processing&&!errMsg"
                           ng-class="{'login_input':!login.emailError, 'login_input_error':login.emailError}"
                           placeholder="Username" ng-model="login.email"
                           ng-change="login.emailError=undefined;login.processing=undefined"/>
                    <img src="img/loader-mini.gif" ng-if="login.processing&&!errMsg">
                    <br><br>

                    <input type="password" ng-if="!canChangePassword" ng-disabled="login.processing&&!errMsg"
                           ng-class="{'login_input':!login.passwordError, 'login_input_error':login.passwordError}"
                           placeholder="Password" ng-model="login.password"
                           ng-change="login.passwordError=undefined;login.processing=undefined"/>
                </div>

                <div class="checkbox">
                    <label class="font-90em">
                        <input type="checkbox"> Remember me on this computer
                    </label>
                </div>

                <br>

                <button type="submit" class="btn btn-sm btn-primary" ng-disabled="login.processing&&!errMsg">
                    <strong>Sign in</strong>
                </button>

                <div class="btn-group" ng-if="canCreateAccount">
                    <a href="register" class="btn btn-default btn-sm">Create account</a>
                </div>
            </form>

            <!--<div style="margin-top: 38px;" ng-if="canChangePassword">-->
            <!--<a href="forgot-password" class="font-90em">Forgot your password?</a>-->
            <!--</div>-->
        </div>
    </div>
</div>