<div class="container-fluid">
    <div class="row" style="margin-top: 80px">
        <div class="col-md-6">
            <div class=" pull-right">
                <ng-include src="'/views/institution.html'"></ng-include>
            </div>
        </div>
        <div class="col-md-6">
            <form name="loginForm" data-ng-submit="submit()">
                <div class="form-group">
                    <br><img src="img/logo.png"><br><br>
                    <alert type="'danger'" style="width: 250px; padding: 8px" ng-if="errMsg">
                        <i style="font-size: 15px" class="fa fa-exclamation-triangle"></i>
                        <span class="font-90em">Login failed. Please try again.</span>
                    </alert>
                </div>

                <div class="form-group">
                    <input type="text" class="login_input" placeholder="Username" data-ng-model="userId"/>
                    <br>
                    <input type="password" class="login_input" placeholder="Password" data-ng-model="userPassword"/>
                </div>

                <div class="checkbox">
                    <label class="font-90em">
                        <input type="checkbox"> Remember me on this computer
                    </label>
                </div>

                <button type="submit" class="btn btn-sm btn-primary"><strong>Sign in</strong>
                </button>
                <button type="button" ng-if="canCreateAccount" ng-click="goToRegister()"
                        class="btn btn-default btn-sm">Create account
                </button>
            </form>

            <div style="margin-top: 38px;" ng-if="canChangePassword">
                <a href="forgot-password" class="font-90em">Forgot your password?</a>
            </div>
        </div>
    </div>
</div>