<div class="container-fluid">
    <div class="row" style="margin-top: 80px">
        <div class="col-xs-6">
            <div class="pull-right">
                <ng-include src="'/views/institution.html'"></ng-include>
            </div>
        </div>
        <div class="col-xs-6">
            <form name="registerForm" data-ng-submit="submit()">
                <div class="form-group">
                    <br><img src="img/logo.png"><br><br><span data-ng-if="errMsg != undefined">{{errMsg}}</span><br>
                </div>

                <div class="row pad_top">
                    <div class="col-md-3 text-right">First Name <span class="required">*</span></div>
                    <div class="col-md-9" ng-mouseover="partIdEdit=true" ng-mouseout="partIdEdit=false">
                        <div class="input-group">
                            <input type="text" ng-model="firstName" class="input_box" maxlength="125"
                                   style="width: 205px;">
                        </div>
                    </div>
                </div>

                <div class="row pad_top">
                    <div class="col-md-3 text-right">Last Name <span class="required">*</span></div>
                    <div class="col-md-9" ng-mouseover="partIdEdit=true" ng-mouseout="partIdEdit=false">
                        <div class="input-group">
                            <input type="text" ng-model="lastName" class="input_box" maxlength="125"
                                   style="width: 205px;">
                        </div>
                    </div>
                </div>

                <div class="row pad_top">
                    <div class="col-md-3 text-right">Email <span class="required">*</span></div>
                    <div class="col-md-9" ng-mouseover="partIdEdit=true" ng-mouseout="partIdEdit=false">
                        <div class="input-group">
                            <input type="text" ng-model="email" class="input_box" maxlength="125"
                                   style="width: 205px;">
                        </div>
                    </div>
                </div>

                <div class="row pad_top">
                    <div class="col-md-3 text-right">Institution <span class="required">*</span></div>
                    <div class="col-md-9" ng-mouseover="partIdEdit=true" ng-mouseout="partIdEdit=false">
                        <div class="input-group">
                            <input type="text" ng-model="institution" class="input_box" maxlength="125"
                                   style="width: 205px;">
                        </div>
                    </div>
                </div>

                <div class="row pad_top">
                    <div class="col-md-3 text-right">About you</div>
                    <div class="col-md-9" ng-mouseover="partIdEdit=true" ng-mouseout="partIdEdit=false">
                        <div class="input-group">
                            <textarea class="input_box" style="width: 205px; height: 60px;"
                                      data-ng-model="about"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row pad_top">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <button type="submit" class="btn btn-primary btn-sm"><b>Submit</b></button>
                        <button type="button" ng-click="cancel()" class="btn btn-link">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
