<div class="container-fluid">
    <div class="row" style="margin-top: 80px">
        <div class="col-xs-6">
            <div class="pull-right">
                <ng-include src="'/views/institution.html'"></ng-include>
            </div>
        </div>
        <div class="col-xs-6">
            <form name="registerForm" data-ng-submit="submit()">
                <div class="form-group">
                    <br><img src="img/logo.png"><br>
                    <br><span data-ng-if="errMsg != undefined">{{errMsg}}</span><br>
                </div>

                <div class="form-group">
                    <input type="text" class="login_input" placeholder="First name" data-ng-model="userId"/>
                    <br>
                    <input type="text" class="login_input" placeholder="Last name" data-ng-model="firstName"/>
                    <br>
                    <input type="text" ng-model="email" class="login_input" maxlength="125" placeHolder="Email">
                    <br>
                    <input type="text" ng-model="institution" class="login_input" maxlength="125"
                           placeHolder="Institution">
                    <br>
                    <textarea class="login_input" style="height: 60px;" placeHolder="About you"
                              data-ng-model="about"></textarea>
                    <br>
                    <button type="submit" class="btn btn-primary btn-sm"><b>Submit</b></button>
                    <button type="button" ng-click="cancel()" class="btn btn-default btn-sm">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
