<table cellspacing="0" cellpadding="0" width="210px">
    <tr>
        <td class="collections_header">
            TAGS <span class="menu_count"><i class="fa fa-plus-square fa-fw" style="font-size: 14px"></i></span>
        </td>
    </tr>
    <tr>
        <td>
            <div class="system_font-90em_row">
                <i class="fa fa-tag" style="font-size: 14px; color: red;"></i>
                <span class="font-90em">Doc</span>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="system_font-90em_row">
                <i class="fa fa-tag" style="font-size: 14px; color: green;"></i> <span
                    class="font-90em">Grumpy</span>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="system_font-90em_row">
                <i class="fa fa-tag" style="font-size: 14px; color: #ff00ff;"></i> <span
                    class="font-90em">Happy</span>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="system_font-90em_row">
                <i class="fa fa-tag" style="font-size: 14px; color: orange;"></i> <span
                    class="font-90em">Sleepy</span>
            </div>
        </td>
    </tr>
</table>