<div class="font-90em">
    <div><b style="color: #888">Alias</b>: {{currentTooltip.alias}}</div>
    <div><b style="color: #888">Selection Markers</b>: {{currentTooltip.selectionMarkers.toString()}}</div>
    <div ng-if="currentTooltip.backbone"><b style="color: #888">Backbone</b>: {{currentTooltip.backbone}}</div>
    <div><b style="color: #888">Creator</b>: {{currentTooltip.creator}}</div>
    <div ng-if="currentTooltip.originOfReplication"><b style="color: #888">Origin of Replication</b>:
        {{currentTooltip.originOfReplication}}
    </div>
    <div><b style="color: #888">Owner</b>: {{currentTooltip.owner}}</div>
    <div ng-if="currentTooltip.links"><b style="color: #888">Links</b>: {{currentTooltip.links}}</div>
    <div ng-if="currentTooltip.replicatesIn"><b style="color: #888">Replicates In</b>: {{currentTooltip.replicatesIn}}
    </div>
    <div><b style="color: #888">Bio Safety Level</b>: {{currentTooltip.bioSafetyLevel}}</div>
    <div ng-if="currentTooltip.promoters"><b style="color: #888">Promoters</b>: {{currentTooltip.promoters}}</div>
    <div ng-if="currentTooltip.keywords"><b style="color: #888">Keywords</b>: {{currentTooltip.keywords}}</div>
    <div ng-if="currentTooltip.references"><b style="color: #888">References</b>: {{currentTooltip.references}}</div>
    <div><b style="color: #888">Funding Source</b>: {{currentTooltip.fundingSource}}</div>
    <div class="no_wrap"><b style="color: #888">Principal Investigator</b>: {{currentTooltip.principalInvestigator}}
    </div>
    <div><b style="color: #888">Modified</b>: {{currentTooltip.modificationTime | date:'medium'}}</div>
    <div ng-if="currentTooltip.intellectualProperty"><b style="color: #888">IP Information</b>:
        {{currentTooltip.intellectualProperty}}
    </div>
</div>
