    <div><b style="color: #888">Selection Markers</b>: {{currentTooltip.selectionMarkers}}</div>
    <div><b style="color: #888">Alias</b>: {{currentTooltip.alias}}</div>
    <div><b style="color: #888">Backbone</b>: {{currentTooltip.backbone}}</div>
    <div><b style="color: #888">Creator</b>: {{currentTooltip.creator}}</div>
    <div><b style="color: #888">Origin of Replication</b>:</div>
    <div><b style="color: #888">Owner</b>:</div>
    <div><b style="color: #888">Links</b>:</div>
    <div><b style="color: #888">Replicates In</b>:</div>
    <div><b style="color: #888">Complete</b>:</div>
    <div><b style="color: #888">Bio Safety Level</b>:</div>
    <div><b style="color: #888">Promoters</b>:</div>
    <div><b style="color: #888">Keywords</b>:</div>
    <div><b style="color: #888">References</b>:</div>
    <div><b style="color: #888">Funding Source</b>: {{currentTooltip.fundingSource}}</div>
    <div class="no_wrap"><b style="color: #888">Principal Investigator</b>: {{currentTooltip.principalInvestigator}}
    </div>
    <div><b style="color: #888">Modified</b>: {{currentTooltip.modified}}</div>
    <div><b style="color: #888">Strains</b>:</div>
    <div><b style="color: #888">IP Information</b>:</div>
