<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss('cancel')">&times;</button>
    <span class="bebas modal-title" style="color: #657B83;font-size: 19px">
        <i class="fa fa-fw fa-cloud-download"></i> &nbsp;Custom Export</span>
</div>

<div class="modal-body">

    Select the information you wish to export from the fields below:

    <div ng-repeat="(key, value) in fields" ng-if="canDisplayFieldSet(key)">
        <div class="entry-details-subheader">
            <strong style="color: #233559">{{key | capitalize}} Information</strong>
            <!--<a class="small pull-right" ng-click="selectAll(key)">Select all</a>-->
        </div>
        <br>

        <div class="row">
            <div class="col-sm-12">
                <ul style="-webkit-column-count: 3; -moz-column-count: 3; column-count: 3; list-style-type: none;">
                    <li ng-repeat="(fieldKey, fieldValue) in value" class="cursor_pointer"
                        ng-click="fieldValue.omit=!fieldValue.omit">
                        <i class="fa fa-fw"
                           ng-class="{'fa-square-o': fieldValue.omit, 'fa-check-square': !fieldValue.omit}"></i>
                        {{fieldValue.label}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="entry-details-subheader">
        <strong style="color: #233559">Sequence Information</strong>
    </div>
    <br>
    <b style="margin-left: 30px">Format&nbsp;</b>

    <div class="btn-group" uib-dropdown>
        <button id="single-button" type="button" class="btn btn-xs btn-default" uib-dropdown-toggle>
            {{sequence.format}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem" ng-click="sequence.format='Genbank'"><a href="#">Genbank</a></li>
            <li role="menuitem" ng-click="sequence.format='SBOL'"><a href="#">SBOL</a></li>
            <li role="menuitem" ng-click="sequence.format='FASTA'"><a href="#">FASTA</a></li>
            <li role="menuitem" ng-click="sequence.format='GFF3'"><a href="#">GFF3</a></li>
            <li role="menuitem" ng-click="sequence.format='Plain'"><a href="#">Plain</a></li>
        </ul>
    </div>

</div>

<div class="modal-footer" ng-if="!processingDownload">
    <div class="pull-right">
        <button class="btn btn-sm btn-link" ng-click="$dismiss('cancel')">Cancel</button>
        <button class="btn btn-sm btn-primary" ng-disabled='processingDownload' ng-click="customExport()">Export
        </button>
    </div>
</div>

<div class="modal-footer" ng-if="processingDownload">
    <i>You request has been submitted. You will be notified by email when it is processed.</i>

    <div class="pull-right">
        <button class="btn btn-sm btn-default" ng-click="$dismiss('cancel')">Close</button>
    </div>
</div>


