<div class="container-fluid">
    <div class="row">
        <div class="px-0 col d-flex">

            <div class="border-end bg-white" style="flex:0 0 250px">
                <app-main-sidebar-menu (selectedCollectionChange)="collectionSelected($event)"></app-main-sidebar-menu>
            </div>

            <div class="flex-grow-1">
                <div class="bg-white border-bottom p-3">
                    <app-header></app-header>
                </div>

                <div class="container-fluid">

                    <div class="row">
                        <div class="col">

                            <div class="container-fluid" style="width: 75vw">
                                <div class="row">

                                    <div class="col">

                                        <div *ngIf="!selectedFolderId" class="container-fluid p-0">

                                            <div class="row">
                                                <div class="col px-4 pt-5 pb-3">
                                                    <div class="d-flex justify-content-between">
                                                        <h2 class="text-secondary">
                                                            {{selectedOption.display}}
                                                            <!--                                                            <span *ngIf="selectedFolderId">-->
                                                            <!--                                                                <i class="bi bi-chevron-right small"></i> {{selectedFolder.folderName}}-->
                                                            <!--                                                            </span>-->
                                                        </h2>
                                                        <div>
                                                            <!--                                                            <button type="button" class="btn btn-white"-->
                                                            <!--                                                                    [disabled]="!selectedFolderId|| !selectedFolder.canEdit">-->
                                                            <!--                                                                <i class="bi bi-people-fill"></i> Share-->
                                                            <!--                                                            </button>-->

                                                            <button class="btn btn-primary ms-2">Upload</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col px-4">


                                                    <div class="d-flex">

                                                        <!--                        <div class="border btn btn-white mb-1 me-2 px-2">-->
                                                        <div
                                                                class="border btn btn-white me-2 mb-1 text-black-50 py-0 shadow-sm">
                                                            <i class="bi bi-plus" style="font-size: 2.7em"></i>
                                                            <div class="small">Add</div>
                                                        </div>

                                                        <div class="text-nowrap overflow-hidden" style="width: 100vw">

                                                            <div *ngFor="let folder of this.folders"
                                                                 class="small rounded-1 p-2 me-2 shadow-sm border d-inline-block text-truncate"
                                                                 style="background-color: #f6fbff; width: 140px">
                                                                <i class="bi bi-folder"></i>&nbsp;
                                                                <a [routerLink]="'folder/' + folder.id"
                                                                   (click)="selectFolder(folder)"
                                                                   class="cursor-pointer">{{folder.folderName}}</a>
                                                                <div class="border-top mt-2 pt-2 text-muted">
                                                                    {{folder.count | number}} entries
                                                                    <div
                                                                            class="mt-1">{{folder.creationTime | date}}</div>
                                                                    <!--                                                                                                        <pre>{{folder | json}}</pre>-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row pt-3">
                                                <div class="col px-4">
                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <button class="btn btn-white btn-sm"><i
                                                                    class="bi bi-funnel"></i> Filter &nbsp;<span
                                                                    class="small fw-bold border-start ps-2 py-1">0</span>
                                                            </button>
                                                            <button class="btn btn-sm ms-3"><i class="bi bi-search"></i>
                                                            </button>
                                                            <!--                            <input>-->
                                                        </div>
                                                        <div>
                                                            <div class="btn-group btn-group-sm">
                                                                <button type="button" class="btn btn-white">Add to
                                                                </button>
                                                                <button type="button" class="btn btn-white">Remove from
                                                                </button>
                                                                <button type="button" class="btn btn-white">Move to
                                                                </button>
                                                            </div>

                                                            <div class="btn-group btn-group-sm ms-3">
                                                                <button type="button" class="btn btn-white">Edit
                                                                </button>
                                                                <button type="button" class="btn btn-white">Delete
                                                                </button>
                                                            </div>

                                                            <button type="button" class="btn btn-sm btn-white ms-3"><i
                                                                    class="bi bi-download"></i>
                                                                Export
                                                            </button>

                                                        </div>
                                                    </div>

                                                    <div class="bg-white rounded mt-4">
                                                    </div>

                                                    <div class="bg-white p-3 rounded-bottom">
                                                        <app-parts-table
                                                                [collection]="selectedOption.name"></app-parts-table>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        <router-outlet *ngIf="selectedFolderId"></router-outlet>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
