<div class="container-fluid">
    <div class="row">
        <div class="px-0 col d-flex">

            <div class="bg-white" style="flex:0 0 250px">
                <app-main-sidebar-menu (selectedCollectionChange)="collectionSelected($event)"></app-main-sidebar-menu>
            </div>

            <div class="flex-grow-1">
                <div class="bg-white border-bottom p-3">
                    <app-header></app-header>
                </div>

                <div class="container-fluid">

                    <div class="row">
                        <div class="col">

                            <div class="container-fluid" style="width: 75vw">
                                <div class="row">

                                    <div class="col">

                                        <div *ngIf="!selectedFolderId" class="container-fluid p-0">

                                            <div class="row">
                                                <div class="col px-4 pt-5 pb-3">
                                                    <div class="d-flex justify-content-between">
                                                        <h2 class="text-secondary">
                                                            {{selectedOption.display}}
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col px-4">

                                                    <div class="d-flex">

                                                        <!--                        <div class="border btn btn-white mb-1 me-2 px-2">-->
                                                        <div (click)="showCreateNewFolderModal()"
                                                             *ngIf="this.selectedOption && this.selectedOption.name === 'personal'"
                                                             class="border btn btn-white me-2 mb-1 text-black-50 py-0 px-1 shadow-sm">
                                                            <i class="bi bi-plus" style="font-size: 2.8em"></i>
                                                            <div class="small text-nowrap" style="margin-top: -10px">
                                                                Folder
                                                            </div>
                                                        </div>

                                                        <div class="text-nowrap"
                                                             style="width: 100vw; overflow-y: hidden">

                                                            <div *ngFor="let folder of this.folders"
                                                                 class="small rounded-1 p-2 me-2 shadow-sm border d-inline-block text-truncate folder">
                                                                <i class="bi bi-folder"></i>&nbsp;
                                                                <a [routerLink]="'folder/' + folder.id"
                                                                   (click)="selectFolder(folder)"
                                                                   class="cursor-pointer">{{folder.folderName}}</a>
                                                                <div class="border-top mt-2 pt-2 text-muted">
                                                                    {{folder.count | number}} entries
                                                                    <div
                                                                        class="mt-1">{{folder.creationTime | date}}</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row pt-3">
                                                <div class="col px-4">
                                                    <app-folder-actions></app-folder-actions>

                                                    <br>

                                                    <app-parts-table
                                                        [collection]="selectedOption.name"></app-parts-table>

                                                </div>
                                            </div>

                                        </div>

                                        <router-outlet *ngIf="selectedFolderId"></router-outlet>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
