table a {
    color: #2c7be5;
    text-decoration: none;
}

table a:hover {
    color: #2362b7;
    text-decoration: underline;
}

.btn-primary {
    border-color: #006fcf;
    background-color: #006fcf;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.folder:hover {
    background-color: white;
}

.folder {
    background-color: #f8f9fa;
    width: 140px;
    border: 1px solid #4b4a4a;
}
