<div class="row">
    <div class="comment margin-top-20" ng-repeat="comment in (comments = (entryComments | orderBy: 'id':true))">
        <span class="close pull-left">{{entryComments.length - $index}}</span>
        <small class="attachment_small_text pull-right">{{comment.commentDate | date:'medium'}}</small>
        <br><br>

        <div ng-if="!comment.edit">{{comment.message}}</div>
        <div ng-if="comment.edit"><textarea rows="5" cols="60" class="input_box"
                                            ng-model="comment.message"></textarea>

            <div>
                <button type="submit" class="btn btn-primary btn-xs" ng-click="updateComment(comment)">Update
                </button>
                <button type="button" ng-click="comment.edit=false" class="btn btn-default btn-xs">Cancel</button>
            </div>
        </div>
        <br><br>

        <div style="height: 1px; margin: 9px 0; overflow: hidden; background-color: #e5e5e5"></div>
        <div class="pull-left"><a ng-href="/profile/{{comment.accountTransfer.id}}">{{comment.accountTransfer.firstName}}
            {{comment.accountTransfer.lastName}}</a> &nbsp; <i ng-if="comment.modified" class="small opacity_4">Last
            edited on {{comment.modified | date: 'short'}}</i></div>
        <span ng-if="user.email===comment.accountTransfer.email||user.isAdmin"></span>

        <div class="pull-right" ng-click="comment.edit=true"><i class="fa fa-edit edit_icon"></i>
        </div>
    </div>
</div>

