<div ng-show="!remoteEntry&&!notFound">
    <div class="row">
        <div class="col-md-12 text-center" style="margin-top: 150px; color: #AAA; font-size: 35px">
            <i class="fa fa-2x fa-gear fa-spin"></i> <br>Loading Contents
        </div>
    </div>
</div>

<div ng-show="!remoteEntry&&notFound">
    <div class="row">
        <div class="col-md-12 text-center" style="margin-top: 150px; color: #AAA; font-size: 35px">
            <i class="fa fa-2x fa-warning" style="color: darkred"></i> <br>
            Could not load content
        </div>
    </div>
</div>

<div ng-if="remoteEntry">
    <div class="row entry_general_header_td" style="height: 60px;">

        <div ng-class="{'col-md-12':!context, 'col-md-10':context}" ng-if="remoteEntry">
            <i ng-if="context" ng-click="backTo()"
               class="pull-left fa fa-arrow-circle-left entry_go_back cursor_pointer" title="Back"></i>
            <h4>
                <i class="fa fa-globe text-info"></i> <strong style="color: #888;">{{remoteEntry.type}}</strong>
                <strong>{{remoteEntry.name}}</strong>
                <span ng-repeat="parent in remoteEntry.parents">
                &nbsp;<a ng-href="web/{{currentPartner.id}}/entry/{{parent.id}}" uib-tooltip="{{parent.name}}"
                         tooltip-placement="right" tooltip-trigger="mouseenter"
                         style="font-size: 12px; color: white; position: relative; top: -4px"
                         class="small label label-default cursor_pointer"><b class="font-90em">{{parent.type |
                    uppercase}}</b> <i class="fa fa-level-up"></i></a>
                    </span>
                <br>
                <small class="font-65em">{{remoteEntry.creationTime | date:'medium'}} - <i style="color: #333">{{remoteEntry.owner}}</i>
                    (<a ng-href="https://{{currentPartner.url}}" target="_blank">{{currentPartner.name}}</a>)
                </small>
            </h4>
        </div>

        <div class="col-md-2" style=" margin-top: 15px; white-space: nowrap;" ng-if="context">
            <button type="button" class="btn btn-link outline-none" ng-disabled="context.position===0"
                    ng-click="prevEntryInContext()">
                <i class="fa fa-arrow-left context_nav_pager"></i></button>
            <strong class="font-90em">{{context.offset+1 | number}} / {{context.available | number}}</strong>
            <button type="button" class="btn btn-link outline-none" ng-disabled="context.position===context.count-1"
                    ng-click="nextEntryInContext()">
                <i class="fa fa-arrow-right context_nav_pager"></i></button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <ng-include src="selection"></ng-include>
        </div>

        <!--right menu-->
        <div class="col-md-2" style="padding-right: 0">
            <table cellpadding="0" cellspacing="0" class="entry_detail_submenu pull-right">
                <tr ng-repeat="subMenu in subDetails"
                    ng-if="(subMenu.isPrivileged&&remoteEntry.ownerEmail===user.email) || !subMenu.isPrivileged || user.isAdmin">
                    <td ng-class="{selected:subMenu.selected}" ng-click="showSelection($index)">
                        <i class="fa {{subMenu.icon}}" style="font-size: 14px;"></i> &nbsp;{{subMenu.display}}
                        <span ng-if="subMenu.countName" style="float: right; color: #999;">{{remoteEntryStatistics[(subMenu.countName)] || 0}}</span>
                    </td>
                </tr>
            </table>

            <div class="pad_top pull-right">
                <ice-remote-entry-attachment></ice-remote-entry-attachment>
            </div>
        </div>
    </div>
</div>
