<div ng-if="settings['JOIN_WEB_OF_REGISTRIES']&&wor&&wor.partners.length">
    <div class="collections_header">Web of Registries</div>

    <div style="border-top: 1px solid #f6f6f6; border-bottom: 1px solid #f6f6f6; ">

        <div ng-repeat="partner in wor.partners">
            <div ng-class="{'collection_user_menu_row_selected':partner.id==selectedPartner}">

                <div class="collection-menu" ng-click='selectPartner(partner)'>
                    <i class="fa fa-fw color-888" style="font-weight: 800; font-size: 17px"
                       ng-class="{'fa-angle-right':selectedPartner!=partner.id, 'fa-angle-down':selectedPartner==partner.id}"></i>
                    <span class="collection_user_menu">{{partner.name}}</span>

                    <span class="menu_count">
                        <i ng-show="selectedPartner==partner.id" stop-event="click" class="opacity_hover fa fa-fw"
                           ng-class="
                        {'fa-sort-alpha-asc': !worMenuSortParams.asc && worMenuSortParams.field=='folderName',
                        'fa-sort-alpha-desc': worMenuSortParams.asc && worMenuSortParams.field=='folderName',
                        'fa-sort-amount-asc': !worMenuSortParams.asc && worMenuSortParams.field=='creationTime',
                        'fa-sort-amount-desc': worMenuSortParams.asc && worMenuSortParams.field=='creationTime'}
                        " ng-click="sortWorCollectionFolders()"></i>
                    </span>
                </div>

                <ice.menu.wor.details ng-show="selectedPartner==partner.id"></ice.menu.wor.details>
            </div>
        </div>
    </div>
</div>