<!-- public folders on the selected remote registry -->

<div data-ng-repeat="folder in selectedPartnerFolders | orderBy:sortParams.field:worMenuSortParams.asc">
    <div class="collection-menu-sub-folder"
         ng-click="selectRemotePartnerFolder(folder)">
        <i class="fa fa-folder-o fa-fw"
           style="color: #4D5B76; opacity: 0.3; padding-left: 8px; font-size: 12px"></i>&nbsp;
        <span class="font-85em" style="font-size: 12px" title="{{folder.folderName}}">{{folder.folderName | truncate:22}}</span>&nbsp;
        <span class="menu_count">{{folder.count | number}}</span>
    </div>
</div>