{
  "commands": {
    "01_enable_sudo": {
      "command": "echo Defaults:root \!requiretty >> /etc/sudoers"
    },
    "02_install_blast": {
      "command": "sudo wget ftp://ftp.ncbi.nlm.nih.gov/blast/executables/blast+/2.2.28/ncbi-blast-2.2.28+-1.x86_64.rpm &>> /tmp/install.log && sudo yum localinstall --nogpgcheck --assumeyes ncbi-blast-2.2.28+-1.x86_64.rpm &>> /tmp/install.log"
    },
    "03_make_data_directory": {
      "command": "sudo mkdir -p /var/lib/ice-registry &>> /tmp/install.log && sudo chown tomcat:tomcat /var/lib/ice-registry &>> /tmp/install.log"
    }
  }
}