<div ng-controller="ShotgunSequenceController">
    <div class="row pad_top">
        <div class="col-md-12">
            <div class="entry-details-subheader">
                <strong style="color: #233559" class="font-90em">PACBIO/MISEQ TRACES</strong>

                <div class="pull-right">
                    <small class="opacity_hover" style="text-decoration: none" ng-click="showAddShotgunSequenceModal()">
                        <i class="fa fa-fw fa-plus"></i>Add PacBio/MiSeq Trace
                    </small>
                </div>
            </div>
        </div>
    </div>

    <div class="row pad_top" ng-if="shotgunSequences.length===0">
        <div class="col-md-12">
            <i class="text-muted">No PacBio/MiSeq files available</i>
        </div>
    </div>

    <div class="row pad_top" ng-if="shotgunSequences && shotgunSequences.length">
        <div class="col-md-12">
            <table cellspacing="0" class="table table-condensed table-hover font-95em">
                <thead>
                <tr>
                    <td></td>
                    <td><b>PacBio/MiSeq</b></td>
                    <td><b>Uploader</b></td>
                    <td><b>Uploaded On</b></td>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <div ng-show="false">
                    {{limit = shotgunParams.limit}}
                    {{start = (shotgunParams.currentPage - 1) * limit}}
                    {{end = start + 5}}
                </div>
                <tr ng-repeat="shotgunSequence in shotgunSequences.slice(start,end)">
                    <td style="opacity:0.2; text-shadow:0 1px 0 #fff;" width="30px">
                        <b class="no_wrap">{{$index+shotgunParams.start+1 | number}}</b>
                    </td>
                    <td>
                        <a class="cursor_pointer"
                           ng-click="downloadShotgunFile(shotgunSequence)">{{shotgunSequence.filename}}</a>
                    </td>
                    <td><a ng-href="profile/{{shotgunSequence.depositor.id}}">{{shotgunSequence.depositor.firstName}}
                        {{shotgunSequence.depositor.lastName}}</a></td>
                    <td>{{shotgunSequence.created | date:'MMM d, y, h:mm a'}}</td>
                    <td style="font-size:14px">
                        <i ng-click="deleteShotgunSequenceFile(shotgunSequence.fileId)"
                           class="fa fa-trash-o delete_icon"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--</div>-->

        <!--<br>-->

        <!--<div class="row" ng-if="shotgunSequences && shotgunSequences.length">-->
        <div class="col-sm-6">
            <uib-pagination total-items="shotgunSequences.length" ng-change="shotgunPageChanged()"
                            ng-model="shotgunParams.currentPage"
                            max-size="maxSize" class="pagination-sm" items-per-page="shotgunParams.limit"
                            boundary-links="true">
            </uib-pagination>
        </div>

        <div class="col-md-6" style="margin-top: 20px;">
            <strong class="small">{{pageCounts(shotgunParams.currentPage, shotgunSequences.length,
                shotgunParams.limit)}}</strong>
        </div>
    </div>
</div>

<div ng-controller="TraceSequenceController">

    <div class="row pad_top">
        <div class="col-md-12">
            <div class="entry-details-subheader">
                <strong style="color: #233559" class="font-90em">SANGAR TRACES</strong>

                <div class="pull-right">
                    <small class="opacity_hover" style="text-decoration: none" ng-click="showAddSangerTraceModal()">
                        <i class="fa fa-fw fa-plus"></i>Add Sanger Trace
                    </small>
                    <span ng-if="traces && traces.data.length">
                    <span style="font-weight: normal; color: #e3e3e3">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                        <small class="opacity_hover" ng-click="downloadAllTraces()">
                            <i class="fa fa-upload"></i>&nbsp; Download All
                        </small>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row pad_top" ng-if="traces && traces.data.length===0">
        <div class="col-md-12">
            <i class="text-muted">No Sanger traces available</i>
        </div>
    </div>

    <div class="row pad_top" ng-if="traces && traces.data.length">
        <div class="col-md-12">
            <table cellspacing="0" class="table table-condensed table-hover table-border-bottom font-95em">
                <thead>
                <tr>
                    <td></td>
                    <th><b>Sanger Trace</b></th>
                    <th><b>Uploader</b></th>
                    <th><b>Uploaded On</b></th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="traceSequence in traces.data">
                    <td style="opacity:0.2; text-shadow:0 1px 0 #fff;" width="30px">
                        <b class="no_wrap">{{$index+tracesParams.start+1 | number}}</b>
                    </td>
                    <td>
                        <a class="cursor_pointer"
                           ng-click="downloadTraceFile(traceSequence)">{{traceSequence.filename}}</a>
                    </td>
                    <td><a ng-href="profile/{{traceSequence.depositor.id}}">{{traceSequence.depositor.firstName}}
                        {{traceSequence.depositor.lastName}}</a></td>
                    <td>{{traceSequence.created | date:'MMM d, y, h:mm a'}}</td>
                    <td style="font-size:14px">
                        <i ng-click="deleteTraceSequenceFile(traceSequence.fileId)" ng-show="traceSequence.canEdit"
                           class="fa fa-trash-o delete_icon"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--</div>-->

        <!--<div class="row" ng-if="traces && traces.resultCount">-->
        <div class="col-sm-6">
            <uib-pagination total-items="traces.resultCount" ng-change="tracesPageChanged()"
                            ng-model="tracesParams.currentPage"
                            max-size="maxSize" class="pagination-sm" items-per-page="tracesParams.limit"
                            boundary-links="true">
            </uib-pagination>
        </div>

        <div class="col-md-6" style="margin-top: 20px;">
            <strong class="small">{{pageCounts(tracesParams.currentPage, traces.resultCount,
                tracesParams.limit)}}</strong>
        </div>
    </div>

    <div class="row pad_top" ng-if="entry.hasSequence&&traces.data.length">
        <div class="col-md-12" style="height: 600px">
            <ice-sequence-checker entryId="{{entry.id}}"></ice-sequence-checker>
        </div>
    </div>
</div>
