<div ng-controller="ProfileGroupsController">
    <div class="row pad_top">
        <button type="button" ng-click="showCreateGroup=true" class="ice-button">
            <i style="font-size: 14px" class="blue fa fa-group"></i>
            <i style="vertical-align: sub; font-size: 8px;" class="fa fa-plus"></i>&nbsp; Create Group
        </button>
    </div>

    <div class="row margin-top-10 panel panel-default" ng-if="showCreateGroup" style="background-color: #ededed">
        <form class="panel-body" ng-submit="createGroup(groupName, groupDescription)">
            <div class="col-md-4 pad-top-5 form-group">
                <input type="text" class="login_input" placeholder="Group Name" size="35" maxlength="35"
                       ng-model="groupName"/>
                <br>
                <input type="text" class="login_input" placeholder="Group Description" size="35" maxlength="45"
                       ng-model="groupDescription"/>
            </div>

            <div class="col-md-8 pad-top-5">
                <b class="font-75em">SELECT OR ADD USERS</b><br>
                <input class="input_box" type="text" ng-model="enteredUser" placeHolder="Enter Email or Name"/>
                <select class="input_box" ng-model="selectedRegistry"
                        ng-change="selectedRegistryChange(selectedRegistry)"
                        ng-options="option.id as option.name for option in registryPartners">
                    <option value="">This Registry</option>
                </select>

                <button type="button" class="btn btn-success btn-xs" ng-disabled="!enteredUser" ng-if="selectedRegistry"
                        ng-click="selectRemoteUser(enteredUser, selectedRegistry)">
                    <i class="fa fa-check"></i> Add
                </button>

                <br><br>

                <small style="margin-top: 15px; color: #777"><i class="fa fa-fw fa-square-o bg_white"></i> Show selected
                    users only
                </small>
                <div style="background-color: #fff; height: 200px; overflow: auto; width: 400px">
                    <table class="table table-condensed striped table-hover">
                        <tr ng-repeat="user in activeUsers | orderBy:'firstName' | filter:enteredUser">
                            <td ng-click="selectUser(user)" class="font-85em no_wrap hover_icon_visible cursor_pointer">
                                <i class="fa"
                                   ng-class="{'fa-circle-o': selectedUsers.indexOf(user) == -1 && selectedRemoteUsers.indexOf(user) == -1, 'fa-circle green': selectedUsers.indexOf(user)!=-1||selectedRemoteUsers.indexOf(user)!=-1}"
                                   style="font-size: 14px"></i>&nbsp; {{user.firstName}} {{user.lastName}}
                                <small class="opacity_4 pad-left-8">{{user.email}}</small>
                            </td>
                        </tr>
                    </table>
                </div>
                <small ng-if="(selectedUsers.length+selectedRemoteUsers.length) > 0"
                       style="margin-top: 15px; color: #777">{{selectedUsers.length+selectedRemoteUsers.length}}
                    selected ({{selectedUsers.length}} local, {{selectedRemoteUsers.length}} remote)
                    <button ng-click="resetSelectedUsers()" class="btn-xs btn-link">
                        <i class="fa fa-fw fa-times"></i>Reset
                    </button>
                </small>
                <small ng-if="!selectedUsers.length" style="margin-top: 15px; color: #777">0 users selected</small>
            </div>

            <div class="col-xs-offset-1 col-md-11">
                <button type="submit" ng-disabled="!groupName" class="btn btn-primary btn-sm">Submit</button>
                <button type="reset" ng-click="showCreateGroup=false" class="btn btn-default btn-sm">Cancel</button>
            </div>
        </form>
    </div>

    <div class="row" ng-if="myGroups.length">
        <div class="general_sub_header">Groups you created</div>
        <table class="table striped table-hover">
            <tr ng-repeat="group in myGroups | orderBy:'id'">
                <td width="300px">
                    <b style="font-size: 1.1em">{{group.label}}</b>

                    <div style="color: #777; font-size: 11px;"><span
                            ng-if="group.description">{{group.description}} |</span>
                        <b style="color: #222">{{group.memberCount || 3}}</b> members
                    </div>
                </td>
                <td width="90px">
                    <i class="fa fa-user add_icon"></i>&nbsp;<span style="color: #DDD">|</span>&nbsp;
                    <i class="fa fa-edit edit_icon"></i>&nbsp;<span style="color: #DDD">|</span>&nbsp;
                    <i class="fa fa-trash-o delete_icon"></i>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="general_sub_header">Groups you belong to</div>
        <table class="table striped table-hover">
            <tr ng-repeat="group in groupsIBelong | orderBy:'id'">
                <td width="300px">
                    <b style="font-size: 1.1em">{{group.label}}</b>

                    <div style="color: #777; font-size: 11px;">{{group.description}} |
                        <b style="color: #222">{{group.memberCount}}</b> members
                    </div>
                </td>
                <td width="90px">
                    <i class="fa fa-user add_icon"></i>&nbsp;<span style="color: #DDD">|</span>&nbsp;
                    <i class="fa fa-edit edit_icon"></i>&nbsp;<span style="color: #DDD">|</span>&nbsp;
                    <i class="fa fa-trash-o delete_icon"></i>
                </td>
            </tr>
        </table>
    </div>
</div>

