<div ng-controller="ProfileGroupsController">
    <div class="row pad_top">
        <button type="button" ng-click="showCreateGroup=true" class="ice-button">
            <i style="font-size: 14px" class="blue fa fa-group"></i>
            <i style="vertical-align: sub; font-size: 8px;" class="fa fa-plus"></i>&nbsp; Create Group
        </button>
    </div>

    <div class="row margin-top-10 panel panel-default" ng-if="showCreateGroup" style="background-color: #ededed">
        <form class="panel-body" ng-submit="createGroup(groupName, groupDescription)">
            <div class="col-md-4 pad-top-5 form-group">
                <input type="text" class="login_input" placeholder="Group Name" size="35" maxlength="35"
                       ng-model="groupName"/>
                <br>
                <input type="text" class="login_input" placeholder="Group Description" size="35" maxlength="45"
                       ng-model="groupDescription"/>
            </div>

            <div class="col-md-8 pad-top-5">
                <b class="font-75em">SELECT OR ADD USERS</b><br>
                <input class="input_box" type="text" ng-model="enteredUser" placeHolder="Enter Email or Name"
                       ng-change="filterUsers(enteredUser)" style="width: 210px"/>

                <button type="button" class="btn btn-success btn-xs" ng-disabled="!enteredUser"
                        ng-click="selectRemoteUser(enteredUser, selectedRegistry)">
                    Add by email
                </button>

                <br><br>

                <!--<small style="margin-top: 15px; color: #777"><i class="fa fa-fw fa-square-o bg_white"></i> Show selected-->
                <!--users only-->
                <!--</small>-->

                <div style="background-color: #fff; height: 200px; overflow: auto; width: 400px">

                    <div ng-if="!filtering && !userMatches" style="opacity: 0.7;" class="small pad-8">
                        <i>To manually add a registered user, enter the email and click "Add"</i>
                    </div>

                    <table class="table table-condensed striped table-hover">
                        <tr ng-repeat="user in userMatches | orderBy:'firstName' | orderBy:'fullName'">
                            <td ng-click="selectUser(user)" class="font-80em no_wrap hover_icon_visible cursor_pointer">
                                <i class="fa"
                                   ng-class="{'fa-circle-o': selectedUsers.indexOf(user) == -1, 'fa-circle green': selectedUsers.indexOf(user)!=-1}"
                                   style="font-size: 14px"></i>&nbsp; {{user.firstName}} {{user.lastName}}
                                <small class="opacity_4 pad-left-8">{{user.email}}</small>

                            </td>
                        </tr>
                    </table>
                </div>

                <small ng-if="(selectedUsers.length+selectedRemoteUsers.length) > 0"
                       style="margin-top: 15px; color: #777">{{selectedUsers.length}} selected
                    <button ng-click="resetSelectedUsers()" class="btn-xs btn-link">
                        <i class="fa fa-fw fa-times"></i>Reset
                    </button>
                </small>
                <small ng-if="!selectedUsers.length" style="margin-top: 15px; color: #777">0 users selected</small>
            </div>

            <div class="col-xs-offset-1 col-md-11">
                <button type="submit" ng-disabled="!groupName" class="btn btn-primary">Submit</button>
                <button type="reset" ng-click="cancelGroupCreate()" class="btn btn-default">Cancel</button>
            </div>
        </form>
    </div>

    <div class="row" ng-if="myGroups.length">
        <div class="general_sub_header">Groups you created</div>
        <div ng-repeat="group in myGroups | orderBy:'id'">

            <table class="table striped table-hover margin-top-10">
                <tr ng-if="group.edit">
                    <td>
                        <div class="row margin-top-10 panel panel-default" style="background-color: #ededed">
                            <div class="col-md-4 pad-top-5 form-group">
                                <div class="pull-left display-inline">
                                    <input type="text" class="login_input" placeholder="Group Name" size="35"
                                           maxlength="35"
                                           ng-model="group.label"/>
                                    <br>
                                    <input type="text" class="login_input" placeholder="Group Description" size="35"
                                           maxlength="45"
                                           ng-model="group.description"/>
                                </div>
                            </div>

                            <div class="col-md-8 pad-top-5">
                                <b class="font-75em">SELECT OR ADD USERS</b><br>
                                <input class="input_box" type="text" ng-model="enteredUser"
                                       placeHolder="Enter Email or Name"
                                       ng-change="filterUsers(enteredUser)" style="width: 210px"/>
                                <!--<button type="button" class="btn btn-success btn-xs" ng-disabled="!enteredUser"-->
                                <!--ng-click="selectRemoteUser(enteredUser, selectedRegistry)">-->
                                <!--Add by email-->
                                <!--</button>-->

                                <br><br>

                                <!--<small style="margin-top: 15px; color: #777"><i class="fa fa-fw fa-square-o bg_white"></i> Show selected-->
                                <!--users only-->
                                <!--</small>-->

                                <div style="background-color: #fff; height: 200px; overflow: auto; width: 400px">

                                    <div ng-if="!filtering && !userMatches" style="opacity: 0.7;" class="small pad-8">
                                        <i>Use the above filter to search for users. Group members are listed below</i>
                                    </div>

                                    <table class="table table-condensed striped table-hover">
                                        <tr ng-repeat="user in userMatches | orderBy:'firstName' | orderBy:'fullName'">
                                            <td ng-click="selectGroupUser(group, user)"
                                                class="font-80em no_wrap hover_icon_visible cursor_pointer">
                                                <i class="fa"
                                                   ng-class="{'fa-circle-o': group.members.indexOf(user) == -1, 'fa-circle green': group.members.indexOf(user)!=-1}"
                                                   style="font-size: 14px"></i>&nbsp; {{user.firstName}}
                                                {{user.lastName}}
                                                <small class="opacity_4 pad-left-8">{{user.email}}</small>

                                            </td>
                                        </tr>
                                    </table>

                                    <table class="table table-condensed striped table-hover">
                                        <tr ng-repeat="user in group.members | orderBy:'firstName' | orderBy:'fullName'">
                                            <td ng-click="selectGroupUser(group, user)"
                                                class="font-80em no_wrap hover_icon_visible cursor_pointer">
                                                <i class="fa fa-circle green" style="font-size: 14px"></i>&nbsp;
                                                {{user.firstName}}
                                                {{user.lastName}}
                                                <small class="opacity_4 pad-left-8">{{user.email}}</small>

                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <small style="margin-top: 15px; color: #777">{{group.members.length}} selected
                                    <button ng-click="group.members=[]" class="btn-xs btn-link">
                                        <i class="fa fa-fw fa-times"></i>Reset
                                    </button>
                                </small>
                            </div>

                            <div class="col-xs-offset-1 col-md-11">
                                <button type="submit" ng-disabled="!group.label" ng-click="updateGroup(group)"
                                        class="btn btn-sm btn-primary">Update
                                </button>
                                <button type="reset" ng-click="group.edit=false" class="btn btn-sm btn-default">Cancel
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr ng-if="!group.edit">
                    <td>
                        <div class="pull-left display-inline">
                            <b style="font-size: 1.1em">{{group.label}}</b>

                            <div style="color: #777; font-size: 11px;"><span
                                    ng-if="group.description">{{group.description}} |</span>
                                <b style="color: #222">{{group.memberCount}}</b> members
                            </div>
                        </div>
                        <div width="90px" style="vertical-align: middle;font-size: 18px"
                             class="pull-right display-inline">
                            <i ng-click="switchToEditMode(group)" class="fa fa-edit edit_icon"></i>&nbsp;<span
                                style="color: #DDD">|</span>&nbsp;
                            <i class="fa fa-trash-o delete_icon"></i>
                        </div>

                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row" ng-if="groupsIBelong.length">
        <div class="general_sub_header">Groups you belong to</div>
        <table class="table striped table-hover">
            <tr ng-repeat="group in groupsIBelong | orderBy:'id'">
                <td width="300px">
                    <b style="font-size: 1.1em">{{group.label}}</b>

                    <div style="color: #777; font-size: 11px;">{{group.description}} |
                        <b style="color: #222">{{group.memberCount}}</b> members
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

