<div ng-controller="ProfileSamplesController">
    <!--<div class="row pad_top">-->
    <!--Show:-->
    <!--</div>-->
    <div>
        <table cellspacing="0" class="table table-bordered table-responsive table-hover font-95em"
               ng-class="{'opacity_4':loadingPage}">
            <tr data-ng-show='!userSamples'>
                <td colspan="10"><img src="img/loader-mini.gif"> Loading...</td>
            </tr>

            <tr data-ng-if='userSamples && userSamples.requests.length > 0'>
                <th style="width: 110px">Entry</th>
                <th data-ng-click="sort('name')" style="width:230px">
                    <span class="cursor_pointer">Request Type</span>
                    <i ng-show="params.sort=='name'" class="fa"
                       ng-class="{'fa-caret-down':params.asc==false, 'fa-caret-up':params.asc==true}"></i>
                </th>
                <th>Growth Temp.</th>
                <th ng-click="sort('summary')">Requested</th>
                <th ng-click="sort('summary')">Updated</th>
                <th>Status</th>
            </tr>

            <tr data-ng-show="userSamples.requests.length=== 0">
                <td colspan="10">No requested samples available</td>
            </tr>

            <tr data-ng-repeat="request in userSamples.requests">
                <td><a href="entry/{{request.partData.id}}">{{request.partData.partId}}</a></td>
                <td>
                    <span ng-if="request.requestType==='LIQUID_CULTURE'"><i
                            class="fa fa-flask"></i> Liquid Culture</span>
                    <span ng-if="request.requestType!=='LIQUID_CULTURE'"><i class="fa fa-circle-thin"></i> Streak on Agar Plate</span>
                </td>
                <td>
                    {{request.growthTemperature}} &deg;C
                </td>
                <td style="width:160px; white-space:nowrap">{{request.requestTime | date:'short'}}</td>
                <td style="width:160px; white-space:nowrap">{{request.updateTime | date:'short'}}</td>
                <td>
                    <div ng-if="request.status==='REJECTED'"><i class="fa fa-circle text-danger"></i> Rejected</div>
                    <div ng-if="request.status==='FULFILLED'"><i class="fa fa-circle text-success"></i> Delivered</div>
                    <div ng-if="request.status==='PENDING'"><i class="fa fa-circle text-warning"></i> Pending</div>
                    <div ng-if="request.status==='IN_CART'"><i class="fa fa-circle text-info"></i> In Cart</div>
                </td>
            </tr>
        </table>
    </div>

    <div ng-if='userSamples && userSamples.requests.length > 0'>
        <div class="col-md-6" style="padding-left: 0">
            <pagination total-items="userSamples.count" on-select-page="setUserSamplePage(page)" page="currentPage"
                        max-size="maxSize"
                        class="pagination-sm" items-per-page="15" boundary-links="true"></pagination>
        </div>
        <div class="col-md-4" style="margin-top: 20px;"><strong class="small">
            <i ng-show="loadingPage" class="fa fa-spin fa-gear opacity_4"></i> {{pageCounts(currentPage,
            userSamples.count)}}</strong>
        </div>
    </div>
</div>