<div ng-controller="ApiKeysController">
    <div class="pad_top">
        <button type="button" class="ice-button" ng-click="openApiKeyRequest()">Request Key</button>
    </div>

    <div class="pad_top">
        <table class="table table-border-bottom table-hover" ng-init="retrieveKeys()">
            <thead>
            <tr>
                <th>ClientId</th>
                <th>Secret</th>
                <th>Creation Time</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="apiKey in apiKeys">
                <td>{{apiKey.clientId}}</td>
                <td>{{apiKey.secret}} &nbsp; <i class="fa fa-eye"></i></td>
                <td>{{apiKey.creationTime | date:'MMM d, yyyy'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>