@import '~bootstrap/dist/css/bootstrap.css';
@import "assets/css/font-awesome.min.css";

html body {
    font-family: Arial, sans-serif;
}

.font-95em {
    font-size: 0.95em;
}

.font-14em {
    font-size: 1.4em;
}

.font-11em {
    font-size: 1.1em;
}

.font-12em {
    font-size: 1.2em;
}

.font-90em {
    font-size: 0.90em;
}

.font-85em {
    font-size: 0.85em;
}

.font-80em {
    font-size: 0.80em;
}

.font-75em {
    font-size: 0.75em;
}

.font-70em {
    font-size: 0.70em;
}

.font-65em {
    font-size: 0.65em;
}

.font-60em {
    font-size: 0.60em;
}

.cursor-pointer {
    cursor: pointer;
}
