<div class="container-fluid">
    <div class="row">
        <div class="px-0 col d-flex">

            <div class="border-end bg-white" style="flex:0 0 250px">
                <app-main-sidebar-menu></app-main-sidebar-menu>
            </div>

            <div class="flex-grow-1">
                <div class="bg-white border-bottom p-3">
                    <app-header></app-header>
                </div>

                <div class="container">

                    <div class="row p-3">
                        <div class="col">
                            <h5 class="fw-bold"><span class="text-uppercase text-muted">{{type}}</span> ENTRY<br>
                                <small class="text-muted fst-italic fw-normal" style="margin-top: -5px">saving
                                    ...</small></h5>
                        </div>

                        <div class="col">
                            <!--                            <button class="btn btn-sm btn-link">Link</button>-->
                            <div ngbDropdown class="d-inline-block">
                                <button type="button" class="btn btn-sm btn-white" ngbDropdownToggle>
                                    Toggle dropdown
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button ngbDropdownItem>Action - 1</button>
                                    <button ngbDropdownItem>Another Action</button>
                                    <button ngbDropdownItem>Something else is here</button>
                                </div>
                            </div>

                        </div>

                        <div class="col">
                            <div class="float-end">
                                <button class="btn btn-sm btn-primary">Submit</button>
                                <button class="btn btn-sm btn-white ms-2">Reset</button>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="fields && fields.length">
                        <div class="col p-0">
                            <div>

                                <hot-table
                                    [hotId]="hotid"
                                    [settings]="hotSettings"
                                    licenseKey="non-commercial-and-evaluation">
                                    <hot-column *ngFor="let field of fields" [type]="getFieldType(field)"
                                                [width]="150" [source]="getSelectOptions(field)"
                                                [allowInvalid]="false"
                                                [title]="getFieldLabel(field)">
                                    </hot-column>
                                </hot-table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
