<div ng-controller="AdminApiKeysController">
    <div class="pad_top" ng-if="!apiKeys || !apiKeys.length">
        No api keys available
    </div>

    <div class="pad_top" ng-if="apiKeys && apiKeys.length">
        <table class="table table-border-bottom table-hover" style="width: 98%;">
            <thead>
            <tr>
                <th></th>
                <th class="entry-table-header">ClientId</th>
                <th class="entry-table-header">Creator</th>
                <th class="entry-table-header">Creation Time</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="apiKey in apiKeys">
                <td class="table-index-label">
                    <b>{{$index+1 | number}}</b>
                </td>
                <td>{{apiKey.clientId}}</td>
                <td><a ng-href="profile/{{apiKey.account.id}}">{{apiKey.account.firstName}}
                    {{apiKey.account.lastName}}</a></td>
                <td>{{apiKey.creationTime | date:'MMM d, yyyy hh:mm a'}}</td>
                <!--<td><i class="fa fa-trash-o delete_icon" ng-click="deleteAPIKey(apiKey)"></i></td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>