<div ng-controller="AdminTransferredEntriesController">
    <div class="pad_top">
        <button type="button" ng-click="acceptEntries()" class="ice-button"
                ng-disabled="selectedTransferredEntries.length == 0">
            <i style="font-size: 14px" class="blue fa fa-check"></i> Accept
        </button>
        &nbsp;
        <button type="button" ng-click="rejectEntries()" class="ice-button"
                ng-disabled="selectedTransferredEntries.length == 0">
            <i style="font-size: 14px" class="red fa fa-ban"></i> Reject
        </button>
    </div>

    <div class="pad_top">
        <table cellspacing="0" class="table table-bordered table-responsive table-hover font-95em"
               ng-class="{'opacity_4':loadingPage}">
            <thead>
            <tr data-ng-if='transferredEntries && transferredEntries.entries.length > 0'>
                <th style="width:28px">
                    <!--<i class="fa"-->
                    <!--ng-class="{'fa-square-o':allSelected == false, 'fa-check-square-o': allSelected == true}"-->
                    <!--style="color: #999; font-size: 14px;" ng-click="selectAll()"></i>-->
                    <sup style="font-size: 9px; font-weight: normal; display: inherit"
                         ng-show="selectedTransferredEntries.length>0">{{selectedTransferredEntries.length}}</sup>
                </th>
                <th ng-click="sort('type')" class="cursor_pointer">
                    <i ng-show="params.sort=='type'" style="font-size: 14px" class="fa opacity_4"
                       ng-class="{'fa-sort-down':params.asc==false, 'fa-sort-up':params.asc==true}"></i>
                    Type
                </th>
                <th ng-click="sort('part_id')" class="cursor_pointer">
                    <i ng-show="params.sort=='part_id'" style="font-size: 14px" class="fa opacity_4"
                       ng-class="{'fa-sort-down':params.asc==false, 'fa-sort-up':params.asc==true}"></i>
                    Part ID
                </th>
                <th data-ng-click="sort('name')" class="cursor_pointer">
                    <i ng-show="params.sort=='name'" style="font-size: 14px" class="fa opacity_4"
                       ng-class="{'fa-sort-down':params.asc==false, 'fa-sort-up':params.asc==true}"></i>
                    Name
                </th>
                <th ng-click="sort('summary')" class="cursor_pointer">
                    <i ng-show="params.sort=='summary'" style="font-size: 14px" class="fa opacity_4"
                       ng-class="{'fa-sort-down':params.asc==false, 'fa-sort-up':params.asc==true}"></i>
                    Summary
                </th>
                <th ng-click="sort('status')" class="cursor_pointer">
                    <i ng-show="params.sort=='status'" style="font-size: 14px" class="fa opacity_4"
                       ng-class="{'fa-sort-down':params.asc==false, 'fa-sort-up':params.asc==true}"></i>
                    Status
                </th>
                <th style="width:10px">
                    <i class="fa fa-paperclip fa-fw" style="font-size: 14px; "></i>
                </th>
                <th style="width:10px">
                    <i class="fa fa-flask fa-fw" style="font-size: 14px; "></i>
                </th>
                <th style="text-align: center">
                    <img src="img/dna.svg" height="16px" alt="has dna"/>
                </th>
                <th ng-click="sort('created')" class="cursor_pointer">
                    <i ng-show="params.sort=='created'" style="font-size: 14px" class="fa opacity_4"
                       ng-class="{'fa-sort-down':params.asc==false, 'fa-sort-up':params.asc==true}"></i>
                    Created
                </th>
            </tr>

            <tr data-ng-show='!transferredEntries'>
                <td>
                    <img alt="Loading..." src="/img/loader-mini.gif"/>
                    Loading...
                </td>
            </tr>

            <tr data-ng-show="transferredEntries.entries.length == 0">
                <td>No entries available</td>
            </tr>
            </thead>

            <tbody>
            <tr data-ng-repeat="entry in transferredEntries.entries">
                <td width="10px">
                    <i class="fa fa-fw"
                       ng-class="{'fa-square-o':selectedTransferredEntries.indexOf(entry.id)==-1 || selection===undefined, 'fa-check-square-o':selectedTransferredEntries.indexOf(entry.id)>-1}"
                       style="color: #999; font-size: 14px;" ng-click="selectTransferredEntry(entry)"></i>
                </td>
                <td>{{entry.type | capitalize}}</td>
                <td><a ng-click="showEntryDetails(entry, $index)" class="cell_mouseover form-group"
                       popover-trigger="mouseenter" ng-mouseover="transferredTooltip(entry)"
                       popover-template="tranferredPopupTooltip" popover-title="{{entry.partId}}"
                       popover-placement="right">{{entry.partId}}</a>
                </td>
                <td>
                    <div title="{{entry.name}}" class="ellipsis" style="width: 150px">{{entry.name}}</div>
                </td>
                <td>
                    <div title="{{entry.shortDescription}}"
                         style="width: 500px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        {{entry.shortDescription}}
                    </div>
                </td>
                <td style="width:80px; white-space:nowrap">{{entry.status | capitalize}}</td>
                <td><i ng-show="entry.hasAttachment" class="fa fa-paperclip fa-fw"
                       style="color: #555; font-size: 14px;"></i></td>
                <td><i ng-show="entry.hasSample" class="fa fa-flask fa-fw"
                       style="color: #555; font-size: 14px;"></i></td>
                <td style="text-align: center"><img ng-show="entry.hasSequence" src="img/dna.svg" height="16px"/>
                </td>
                <td style="width:160px; white-space:nowrap">{{entry.creationTime | date:'MMM d, yyyy'}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row" ng-if="transferredEntries && transferredEntries.entries.length > 0">
        <div class="col-md-5" style="padding-left: 0">
            <pagination total-items="transferredEntries.count" ng-change="setPage(page)" ng-model="currentPage"
                        max-size="maxSize"
                        class="pagination-sm" items-per-page="15" boundary-links="true"></pagination>
        </div>
        <div class="col-md-7" style="margin-top: 25px;">
            <strong class="small">
                <i ng-show="loadingPage" class="fa fa-spin fa-gear opacity_4"></i> {{pageCounts(currentPage,
                transferredEntries.count)}}
            </strong>
        </div>
    </div>
</div>