<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost/test_registry</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.username">test_user</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.password">t@stuz@r</property>
		<property name="hibernate.connection.pool_size">3</property>
		<property name="hibernate.c3p0.min_size">3</property>
		<property name="hibernate.c3p0.max_size">15</property>
		<property name="hibernate.c3p0.timeout">20</property>
		<property name="hibernate.c3p0.max_statements">10</property>
		
		<!--
			Use below when table rearrangement is needed:  "create" or "update".
			Normally, it should be "validate"
		-->
		<property name="hbm2ddl.auto">update</property>
		<!-- this will show us all sql statements -->
		<property name="hibernate.show_sql">false</property>
		<!-- mapping files -->
		<mapping class="org.jbei.ice.lib.models.Entry" />
		<mapping class="org.jbei.ice.lib.models.Plasmid" />
		<mapping class="org.jbei.ice.lib.models.Strain" />
		<mapping class="org.jbei.ice.lib.models.Part" />
		<mapping class="org.jbei.ice.lib.models.ArabidopsisSeed" />
		<mapping class="org.jbei.ice.lib.models.Name" />
		<mapping class="org.jbei.ice.lib.models.PartNumber" />
		<mapping class="org.jbei.ice.lib.models.Link" />
		<mapping class="org.jbei.ice.lib.models.SelectionMarker" />
		<mapping class="org.jbei.ice.lib.models.Sequence" />
		<mapping class="org.jbei.ice.lib.models.Feature" />
		<mapping class="org.jbei.ice.lib.models.FeatureFeatureRelationship" />
		<mapping class="org.jbei.ice.lib.models.FeatureRelationship" />
		<mapping class="org.jbei.ice.lib.models.SequenceFeature" />
		<mapping class="org.jbei.ice.lib.models.SequenceFeatureAttribute" />
		<mapping class="org.jbei.ice.lib.models.AssemblyRelationship" />
		<mapping class="org.jbei.ice.lib.models.EntryAssemblyRelationship" />
		<mapping class="org.jbei.ice.lib.models.Comment" />
		<mapping class="org.jbei.ice.lib.models.Vote" />
		<mapping class="org.jbei.ice.lib.models.News" />
		<mapping class="org.jbei.ice.lib.models.Account" />
		<mapping class="org.jbei.ice.lib.models.AccountEntryRelationship" />
		<mapping class="org.jbei.ice.lib.models.Attachment" />
		<mapping class="org.jbei.ice.lib.models.Sample" />
		<mapping class="org.jbei.ice.lib.models.Label" />
		<mapping class="org.jbei.ice.lib.models.EntryLabel" />
		<mapping class="org.jbei.ice.lib.models.AccountPreferences" />
		<mapping class="org.jbei.ice.lib.models.Group" />
		<mapping class="org.jbei.ice.lib.permissions.ReadUser" />
		<mapping class="org.jbei.ice.lib.permissions.WriteUser" />
		<mapping class="org.jbei.ice.lib.permissions.ReadGroup" />
		<mapping class="org.jbei.ice.lib.permissions.WriteGroup" />
		<mapping class="org.jbei.ice.lib.models.FundingSource" />
		<mapping class="org.jbei.ice.lib.models.EntryFundingSource" />
		<mapping class="org.jbei.ice.lib.models.AccountFundingSource" />
		<mapping class="org.jbei.ice.lib.models.SessionData" />
		<mapping class="org.jbei.ice.lib.models.Moderator" />
		<mapping class="org.jbei.ice.lib.models.TraceSequence" />
		<mapping class="org.jbei.ice.lib.models.TraceSequenceAlignment" />
		<mapping class="org.jbei.ice.lib.models.Workspace" />
		<mapping class="org.jbei.ice.lib.models.Project" />
		<mapping class="org.jbei.ice.lib.models.Configuration" />
		<mapping class="org.jbei.ice.lib.models.Storage" />
		<mapping class="org.jbei.ice.lib.models.Folder" />		
		<mapping class="org.jbei.ice.lib.models.Parameter" />	
		<mapping class="org.jbei.ice.lib.models.BulkImport" />	
		<mapping class="org.jbei.ice.lib.models.BulkImportDraft" />
		<mapping class="org.jbei.ice.lib.models.AnnotationLocation" />	
	</session-factory>
</hibernate-configuration>
