<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<property name="hibernate.connection.url">jdbc:postgresql://localhost/test_registry</property>
	<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
	<property name="hibernate.connection.username">test_user</property>
	<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
	<property name="hibernate.connection.password">t@stuz@r</property>
	<!-- use below when table rearrangement is needed. "create" or "update" -->
	 <property name="hbm2ddl.auto">validate</property> 
	<!-- this will show us all sql statements -->
    <property name="hibernate.show_sql">true</property>
	<!-- mapping files -->
	<mapping class="org.jbei.ice.lib.models.Entry" />
	<mapping resource="org/jbei/ice/lib/models/Plasmid.hbm.xml" />
	<mapping resource="org/jbei/ice/lib/models/Strain.hbm.xml" />
	<mapping resource="org/jbei/ice/lib/models/Part.hbm.xml" />
	<mapping class="org.jbei.ice.lib.models.Name" />
	<mapping class="org.jbei.ice.lib.models.PartNumber" />	
	<mapping class="org.jbei.ice.lib.models.Link" />
	<mapping resource="org/jbei/ice/lib/models/SelectionMarker.hbm.xml" />
	<mapping class="org.jbei.ice.lib.models.Sequence" />
	<mapping resource="org/jbei/ice/lib/models/Feature.hbm.xml" />
	<mapping class="org.jbei.ice.lib.models.SequenceFeature" />
	<mapping resource="org/jbei/ice/lib/models/AssemblyRelationship.hbm.xml" />
	<mapping resource="org/jbei/ice/lib/models/EntryAssemblyRelationship.hbm.xml" />
	<mapping resource="org/jbei/ice/lib/models/FeatureDNA.hbm.xml" />
	<mapping resource="org/jbei/ice/lib/models/Comment.hbm.xml" />
	<mapping resource="org/jbei/ice/lib/models/Vote.hbm.xml" />
	<mapping resource="org/jbei/ice/lib/models/News.hbm.xml" />
	<mapping class = "org.jbei.ice.lib.models.Account"/>
	<mapping resource="org/jbei/ice/lib/models/AccountEntryRelationship.hbm.xml" />
	<mapping resource="org/jbei/ice/lib/models/Attachment.hbm.xml" />
	<mapping resource="org/jbei/ice/lib/models/Sample.hbm.xml" />
	<mapping resource="org/jbei/ice/lib/models/Location.hbm.xml" />
	<mapping resource="org/jbei/ice/lib/models/Label.hbm.xml" />
	<mapping resource="org/jbei/ice/lib/models/EntryLabel.hbm.xml" />
	<mapping class="org.jbei.ice.lib.models.AccountPreferences"/>
	<mapping class="org.jbei.ice.lib.permissions.Group"/>
	<mapping class="org.jbei.ice.lib.permissions.ReadUser"/>
	<mapping class="org.jbei.ice.lib.permissions.WriteUser"/>
	<mapping class="org.jbei.ice.lib.permissions.ReadGroup"/>
	<mapping class="org.jbei.ice.lib.permissions.WriteGroup"/>
	<mapping class="org.jbei.ice.lib.models.FundingSource"/>
	<mapping class="org.jbei.ice.lib.models.EntryFundingSource"/>
	<mapping class="org.jbei.ice.lib.models.AccountFundingSource"/>
	<mapping class="org.jbei.ice.web.SessionData"/>
	
</session-factory>
</hibernate-configuration>
