<div class="row">

    <div class="col-3 offset-1">
        <span [ngClass]="{'fw-bold': field.active}">{{field.label}}</span>
    </div>

    <div class="col-8">
        <select class="form-select form-select-sm w-50" id="inputGroupSelect01"
                *ngIf="field.fieldInputType === 'SELECT'">
            <option selected>Choose...</option>
            <option value="1" *ngFor="let option of field.options">
                {{option.name}}
            </option>
        </select>
    </div>
</div>
