<div class="row">

    <div class="col-2">
        <span [ngClass]="{'fw-bold': field.active}">
            <span [ngClass]="{'text-muted': !inEditMode}">{{field.label}}</span>
            <span class="text-danger" *ngIf="field.required && inEditMode" style="font-size: larger">*</span>
        </span>
    </div>

    <div class="col">
        <div class="field-value" *ngIf="!inEditMode">
            {{displayForValue()}} <i class="bi bi-pencil" (click)="switchEditMode()"></i>
        </div>

        <select class="form-select form-select-sm w-25" id="inputGroupSelect01"
                [ngClass]="{'is-invalid': field.isInvalid}"
                (focusout)="textInputFocusOut(field)" [(ngModel)]="field.value"
                (focusin)="textInputFocusIn(field)" *ngIf="field.fieldInputType === 'SELECT' && inEditMode">
            <option selected>Choose One...</option>
            <option [value]="option.name" *ngFor="let option of field.options">
                {{option.value}}
            </option>
        </select>
    </div>
</div>
