<div class="modal-header" style="border-bottom: 0">
    <button type="button" class="close" ng-click="$close()">&times;</button>
    <h4><b>Link Entry</b></h4>
</div>

<div class="modal-body">
    <i style="font-size: 45px; float: left; padding-right:10px; color: #ff4500" class="fa fa-link"></i>

    <input type="text" class="input_box"
           ng-model="addExistingPartNumber"
           placeHolder="Enter Part Number" style="width: 205px;"
           typeahead-loading="loadingAddExistingData"
           typeahead="result as result.partId for result in getEntriesByPartNumber($viewValue) | filter:{partId:$viewValue}"
           typeahead-editable="true"
           typeahead-on-select="addExistingPartLink($item, $model, $label)"/>

    <br clear="all">

    <div class="panel panel-primary font-90em" style="width: 252px; margin-left: 27px">
        <div class="panel-body" style="width: 250px">
            <ul style="margin-left: -20px;">
                <li ng-repeat="link in mainEntry.linkedParts">{{link.partId}} - ({{link.type}} {{link.name}})</li>
            </ul>
        </div>
    </div>

</div>

<div class="modal-footer" ng-if="mainEntry.linkedParts.length">
    <div ng-if="!processing">
        <button class="btn btn-default btn-sm" ng-click="$close()">Cancel</button>
        <button type="button" ng-disabled="mainEntry.linkedParts.length===0" ng-click="processLinkAdd()"
                class="btn btn-sm btn-primary">Add
        </button>
    </div>

    <div ng-if="processing" class="text-muted">
        <img src="/img/loader-mini.gif"/> <i class="font-95em">Creating links</i>
    </div>
</div>
