<div class="modal-header" style="border-bottom: 0">
    <button type="button" class="close" ng-click="cancelAddLink()">&times;</button>
    <h3><i style="color: #ff4500" class="fa fa-link"></i>&nbsp; <b>Link Entry</b></h3>
</div>

<div class="modal-body">

    <input type="text" class="input_box"
           ng-model="addExistingPartNumber"
           placeHolder="Enter Part Number" style="width: 205px;"
           typeahead-loading="loadingAddExistingData"
           typeahead="result as result.partId for result in getEntriesByPartNumber($viewValue) | filter:{partId:$viewValue}"
           typeahead-editable="true"
           typeahead-on-select="addExistingPartLink($item, $model, $label)"/>

    <br><br clear="all">

    <div style="display: block; margin-bottom: .2em; color: #555; padding: .75em .5em;">
        <b class="ng-binding">Added Links</b>
    </div>

    <table class="table table-hover table-condensed">
        <tr ng-repeat="link in mainEntry.linkedParts" class="no_wrap">
            <td><b class="small color-888 ng-binding">{{link.type}}</b> {{link.partId}}</td>
            <td>{{link.name}})</td>
            <td><i class="fa fa-unlink red opacity_hover" tooltip="Remove link"
                   ng-click="removeExistingPartLink(link)"></i></td>
        </tr>
    </table>
</div>

<div class="modal-footer">
    <div ng-if="!processing">
        <button class="btn btn-default btn-sm" ng-click="cancelAddLink()">Cancel</button>
        <button type="button" ng-disabled="mainEntry.linkedParts.length===0" ng-click="processLinkAdd()"
                class="btn btn-sm btn-primary">Save
        </button>
    </div>

    <div ng-if="processing" class="text-muted">
        <img src="/img/loader-mini.gif"/> <i class="font-95em">Creating links</i>
    </div>
</div>
