<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss('cancel')">&times;</button>
    <span class="bebas modal-title" style="color: #657B83;font-size: 19px">
        <i class="fa fa-fw fa-arrow-up"></i> &nbsp;Bulk Trace Sequence Update
    </span>
</div>

<div class="modal-body">

    <div class="font-90em">
        <div class="alert alert-info">
            <i class="fa fa-fw fa-hand-stop-o red pull-left" style="font-size: 40px"></i>
            <b class="font-12em red">PLEASE USE WITH CAUTION</b><br>
            This feature enables you to upload multiple pacbio/miseq trace sequences to multiple entries at once. <br>
        </div>
    </div>

    <div ng-if="!processingFile">
        <input nv-file-select uploader="bulkTracesEditUploader" type="file"/>
    </div>

    <div ng-if="processingFile">
        <img src="img/loader-mini.gif"> Processing File. Please wait. This may take a few minutes...
        <uib-progressbar class="progress-striped active" value="100" type="warning"
                         style="height: 20px"></uib-progressbar>
    </div>

    <div class="pad-top-5" ng-if="!processingFile && result.success">
        <br>

        <div ng-if="result.data.length" class="pad-top-5 alert alert-success">
            <i class="fa fa-fw fa-check green"></i> <b>Sequences successfully uploaded for
            the following {{result.data.length}} files</b>

            <div style="height: 300px; overflow-y: scroll; border-top: 1px solid #DDDDDD">
                <div ng-repeat="datum in result.data track by $index" style="margin-left: 28px">
                    {{datum}}
                </div>
            </div>
        </div>

        <div class="alert alert-danger" ng-if="!result.data.length">
            <i class="fa fa-fw fa-exclamation-triangle red font-14em"></i> <b>No sequences uploaded</b>
        </div>
    </div>

    <br>

    <div class="pad-top-5 alert alert-danger" ng-if="!processingFile && result && result.success==false">
        <i class="fa fa-fw fa-exclamation-triangle red font-14em pull-left"></i>
        <b>Server Error updating sequences</b>
    </div>
</div>

<div class="modal-footer" ng-if="!processingFile">
    <button class="btn btn-sm btn-primary" ng-click="$dismiss('cancel')">Close</button>
</div>