<div class="modal-header" style="border-bottom: 0">
    <button type="button" class="close" ng-click="$close()">&times;</button>
    <!--<span class="bebas modal-title" style="color: #657B83;font-size: 19px">-->
    <!--<i class="fa fa-table"></i> &nbsp;Bulk Import File Upload</span>-->
</div>

<div class="modal-body">
    <i style="font-size: 65px; float: left; padding-right:10px; color: #ff4500" class="fa fa-exclamation-triangle"></i>
    <strong style="font-size: 24px">Delete Sequence?</strong>

    <div>Please confirm deletion of the sequence associated with this entry</div>
</div>

<div class="modal-footer">
    <div class="col-sm-5 red" ng-if="errorDeleting">
        Error deleting sequence
    </div>

    <div ng-if="!processingDelete">
        <button class="btn btn-default btn-sm" ng-click="$close()">Cancel</button>
        <button type="button" ng-click="deleteSequence()" class="btn  btn-sm btn-primary">Delete</button>
    </div>

    <div ng-if="processingDelete" class="text-muted">
        <img src="img/loader-mini.gif"/> <i class="font-95em">Deleting sequence for entry {{toDelete.partId}}</i>
    </div>
</div>
