<table class="add_to_popup pad-8 bg_white" style="width: 400px;">
    <tr>
        <td>
            <div><b>Request Sample in the form of</b> <span style="float: right" id="close_panel"><div
                    class="opacity_hover font-75em"><i class="fa fa-times"></i> Close
            </div></span></div>
        </td>
    </tr>
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0" class="font-80em" style="width: 350px;">
                <tbody>
                <tr>
                    <td align="left" style="vertical-align: top;"><span class="gwt-RadioButton"><input type="radio"
                                                                                                       name="sample"
                                                                                                       value="on"
                                                                                                       id="gwt-uid-29"
                                                                                                       tabindex="0"
                                                                                                       checked=""><label
                            for="gwt-uid-29">Liquid Culture</label></span></td>
                </tr>
                <tr>
                    <td align="left" style="vertical-align: top;"><span class="gwt-RadioButton"><input type="radio"
                                                                                                       name="sample"
                                                                                                       value="on"
                                                                                                       id="gwt-uid-30"
                                                                                                       tabindex="0"><label
                            for="gwt-uid-30">Streak on Agar Plate</label></span></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td align="right">
            <div><span id="save_widget"><button type="button" class="gwt-Button">Add</button></span> &nbsp; <span
                    id="cancel_widget"><div class="display-inline footer_feedback_widget font-75em">Cancel</div></span>
            </div>
        </td>
    </tr>
</table>