<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4><b>{{headerText}}</b></h4>
</div>

<div class="modal-body">
    <alert type="'info'" style="margin-bottom: 10px">
        <i style="font-size: 22px" class="fa fa-info-circle pull-left"></i> Genbank, Fasta and SBOL files
        are supported
    </alert>

    <alert type="'danger'" style="margin-bottom: 10px" ng-if="serverError">
        <i style="font-size: 20px" class="fa fa-exclamation-triangle pull-left"></i> Error parsing file
    </alert>

    <span ng-if="!isPaste">
        <div class="margin-top-20"><input nv-file-select uploader="sequenceFileUpload" type="file"/></div>
        <div style="height: 7px; background-color: #f9f9f9;">
            <div class="progress-bar" role="progressbar" ng-style="{ 'width': sequenceFileUpload.progress + '%' }"></div>
        </div>
    </span>
    <textarea ng-show="isPaste" ng-model="pastedSequence" class="input_box" placeholder="Paste sequence" rows="14"
              style="width: 100%; height: 100%;"></textarea>
</div>

<div class="modal-footer" ng-if="!isPaste">
    <button type="button" ng-disabled="!sequenceFileUpload.getNotUploadedItems().length" ng-click="uploadFile()"
            class="btn btn-primary">Upload File
    </button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>

<div class="modal-footer" ng-if="isPaste">
    <button type="button" ng-disabled="!pastedSequence||pastedSequence.trim().length==0" ng-click="uploadFile()"
            class="btn btn-primary">Upload File
    </button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>