<div class="row">
    <div class="col-2 d-flex">
        <label [for]="field.label" [ngClass]="{'fw-bold': field.active}">
            <span [ngClass]="{'text-muted': !inEditMode}">{{field.label}}</span>
            <span class="text-danger" *ngIf="field.required" style="font-size: larger">*</span>
        </label>
    </div>

    <div class="col" [id]="field.label">

        <div class="field-value" *ngIf="!inEditMode">
            {{field.value}} <i class="bi bi-pencil" (click)="switchEditMode()"></i>
        </div>

        <div class="d-flex" *ngIf="inEditMode">
            <input class="form-control form-control-sm w-50" (focusout)="textInputFocusOut(field)"
                   (focusin)="textInputFocusIn(field)"> <i
            class="bi bi-plus text-success" style="font-size: x-large"></i>
        </div>
    </div>

</div>
