<div class="row">
    <div class="col-3 offset-1 d-flex">
        <label [for]="field.label" [ngClass]="{'fw-bold': field.active}">{{field.label}}
            <span class="text-danger" *ngIf="field.required"
                  style="font-size: larger">*</span>
        </label>
    </div>

    <div class="col-8" [id]="field.label">

        <div class="d-flex">
            <input class="form-control form-control-sm w-50"> <i
            class="bi bi-plus text-success" style="font-size: x-large"></i>
        </div>
    </div>

</div>
