<div class="pad_top" data-ng-show='!folder'>
    <img alt="Loading..." src="/img/loader-mini.gif"/> Loading...
</div>

<div class="pad_top" ng-show="folder && folder.entries.length == 0">
    No entries available for selection
</div>

<table cellspacing="0" ng-class="{'opacity_4':loadingPage}" ng-if="folder && folder.entries"
       class="table table-responsive table-hover table-border-bottom table-condensed table-striped font-95em">
    <thead>
    <tr data-ng-if='folder && folder.entries.length > 0'>
        <!--selection toggle-->
        <th class="dropdown" style="padding:0; font-size: 15px; vertical-align: middle; text-align: center">
                    <span class="dropdown-toggle">
                        <i class="fa cursor_default" ng-class="selectAllClass()" ng-click="selectAll()"
                           stop-event="click"></i>
                        <span class="caret cursor_pointer"></span>
                    </span>
            <ul class="dropdown-menu" style="min-width: 100px">
                <li class="font-75em cursor_pointer" ng-click="setType('all')"><a>All</a></li>
                <li ng-repeat="choice in items" ng-click="setType(choice.type)"
                    class="font-75em cursor_pointer">
                    <a>{{choice.type | capitalize}}</a>
                </li>
                <li class="font-75em cursor_pointer" ng-click="setType('none')"><a>None</a></li>
            </ul>

            <!--<sup style="font-size: 9px; font-weight: normal; display: inherit"-->
            <!--ng-show="selection.length>0">{{selection.length}}</sup>-->
        </th>
        <th ng-click="sortColumn('type')" class="cursor_pointer">
            <span style="font-size: 12px; text-transform: uppercase">TYPE</span>
            <i ng-if="params.sort!=='type'" class="sortable fa fa-angle-down"></i>
            <i ng-show="params.sort=='type'" style="font-size: 14px;" class="fa opacity_4"
               ng-class="{'fa-angle-down':params.asc==false, 'fa-angle-up':params.asc==true}"></i>
        </th>
        <th ng-click="sortColumn('part_id')" class="cursor_pointer" style="font-size: 12px; text-transform: uppercase">
            <span style="font-size: 12px; text-transform: uppercase">Part ID</span>
            <i ng-if="params.sort!=='part_id'" class="sortable fa fa-angle-down"></i>
            <i ng-show="params.sort=='part_id'" style="font-size: 14px" class="fa opacity_4"
               ng-class="{'fa-angle-down':params.asc==false, 'fa-angle-up':params.asc==true}"></i>
        </th>
        <th data-ng-click="sortColumn('name')" class="cursor_pointer"
            style="font-size: 12px; text-transform: uppercase">
            <span style="font-size: 12px; text-transform: uppercase">Name</span>
            <i ng-if="params.sort!=='name'" class="sortable fa fa-angle-down"></i>
            <i ng-show="params.sort=='name'" style="font-size: 14px" class="fa opacity_4"
               ng-class="{'fa-angle-down':params.asc==false, 'fa-angle-up':params.asc==true}"></i>
        </th>
        <th></th>
        <th ng-click="sortColumn('status')" class="cursor_pointer">
            <span style="font-size: 11px; text-transform: uppercase">Status</span>
            <i ng-if="params.sort!=='status'" class="sortable fa fa-angle-down"></i>
            <i ng-show="params.sort=='status'" style="font-size: 14px" class="fa opacity_4"
               ng-class="{'fa-angle-down':params.asc==false, 'fa-angle-up':params.asc==true}"></i>
        </th>
        <th style="width:100px;">
            <i class="fa fa-paperclip fa-fw" style="font-size: 14px;"></i>
            <i class="fa fa-flask fa-fw" style="font-size: 14px; "></i>
            <img src="img/dna.svg" width="15px" alt="has dna"/>
        </th>
        <th ng-click="sortColumn('created')" class="cursor_pointer">
            <span style="font-size: 11px; text-transform: uppercase">Created</span>
            <i ng-show="params.sort=='created'" style="font-size: 14px" class="fa opacity_4"
               ng-class="{'fa-angle-down':params.asc==false, 'fa-angle-up':params.asc==true}"></i>
            <i ng-if="params.sort!=='created'" class="sortable fa fa-angle-down"></i>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="entry in folder.entries" style="vertical-align: middle">
        <td width="43px">
            <!--<i class="fa cursor_pointer fa-check-square-o" ng-if="allSelected"-->
            <!--style="color: #000; font-size: 14px;" ng-click="select(entry)"></i>-->

            <i class="fa fa-fw  cursor_default" style="font-size: 15px"
               ng-class="{'fa-square-o':!isSelected(entry), 'fa-check-square-o':isSelected(entry)}"
               ng-click="select(entry)"></i>
        </td>
        <td style="opacity:0.7; font-weight: bold; font-size: 0.85em; text-shadow: 0 1px 0 #fff">
            {{entry.type | uppercase}}
        </td>
        <td><a ng-href="/entry/{{entry.id}}" class="cell_mouseover form-group"
               popover-trigger="mouseenter" ng-mouseover="tooltipDetails(entry)"
               popover-template="/views/template.html" popover-placement="right">{{entry.partId}}</a>
        </td>
        <td>
            <div title="{{entry.name}}" class="ellipsis" style="width: 350px">{{entry.name}}</div>
            <div title="{{entry.shortDescription}}" class="small"
                 style="opacity: 0.5; width: 350px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                {{entry.shortDescription}}
            </div>
        </td>
        <td style="vertical-align: middle">
            <small ng-if="entry.viewCount" style="opacity: 0.4">{{entry.viewCount}} views</small>
        </td>
        <td style="vertical-align: middle; width:80px; white-space:nowrap">
            <span class="label" ng-class="{
                'ice-label-success':entry.status.toUpperCase()=='COMPLETE',
                'label-default': entry.status.toUpperCase()=='In Progress'.toUpperCase(),
                'ice-label-danger': entry.status.toUpperCase()=='Abandoned'.toUpperCase(),
                'ice-label-info': entry.status.toUpperCase()=='Planned'.toUpperCase()}">{{entry.status | capitalize}}
            </span>
        </td>
        <td style="vertical-align: middle;">
            <i ng-show="entry.hasAttachment" class="fa fa-paperclip fa-fw"
               style="color: #555; font-size: 14px;"></i>
            <i ng-show="!entry.hasAttachment" class="fa fa-square fa-fw"
               style="opacity: 0; font-size: 14px;"></i>
            <i ng-show="entry.hasSample" class="fa fa-flask fa-fw"
               style="color: #555; font-size: 14px;"></i>
            <i ng-show="!entry.hasSample" class="fa fa-square fa-fw"
               style="opacity: 0; font-size: 14px;"></i>
            <img ng-show="entry.hasSequence" src="img/dna.svg" width="15px"/>
        </td>
        <td style="width:110px; white-space:nowrap; vertical-align: middle;">
            {{entry.creationTime | date:'MMM d, yyyy'}}
        </td>
    </tr>
    </tbody>
</table>

<div ng-if="folder && folder.entries.length > 0">
    <div class="col-md-6" style="padding-left: 0">
        <pagination total-items="folder.count" on-select-page="setUserEntriesPage(page)" page="currentPage"
                    max-size="maxSize"
                    class="pagination-sm" items-per-page="15" boundary-links="true"></pagination>
    </div>
    <div class="col-md-4" style="margin-top: 20px;"><strong class="small">
        <i ng-show="loadingPage" class="fa fa-spin fa-gear opacity_4"></i> {{pageCounts(currentPage,
        folder.count)}}</strong>
    </div>
</div>
