<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss('cancel')">&times;</button>
    <span class="bebas modal-title" style="color: #657B83;font-size: 19px">
        <i class="fa fa-group"></i> &nbsp;
        <span ng-if="!newPublicGroup.id">Create Public Group</span>
        <span ng-if="newPublicGroup.id">Edit Public Group</span>
    </span>
</div>

<div class="modal-body">
    <div class="margin-top-10 panel panel-default" style="background-color: #ededed">
        <form class="panel-body" ng-submit="createNewPublicGroup()">
            <div class="pad-top-5 form-group">
                <input type="text" class="login_input" placeholder="Group Name" size="35" maxlength="35"
                       ng-model="newPublicGroup.label"/>

                <input type="text" class="login_input" placeholder="Group Description" size="35" maxlength="45"
                       ng-model="newPublicGroup.description"/>

                <br>
                <label class="small text-muted">
                    <input type="checkbox" ng-model="newPublicGroup.autoJoin"> Add all users to this group when they
                    join or sign in?
                </label>
            </div>

            <div class="pad-top-5">
                <b class="font-75em">ADD USERS</b><br>
                <script type="text/ng-template" id="customTemplate.html">
                    <a class="font-90em">
                        <span ng-bind-html="match.model.firstName + ' ' + match.model.lastName | uibTypeaheadHighlight:query"></span>

                        <div ng-bind-html="match.model.email | uibTypeaheadHighlight:query"
                             style="font-size: 12px; color: #aaa; margin-top: -3px;"></div>
                    </a>
                </script>
                <input class="input_box" type="text" ng-model="newUserName" placeHolder="Search by username or email"
                       style="width: 210px; padding: 5px"
                       typeahead-loading="loadingAddExistingData"
                       uib-typeahead="result for result in filter($viewValue)"
                       typeahead-editable="true" typeahead-template-url="customTemplate.html"
                       typeahead-on-select="userSelectionForGroupAdd($item, $model, $label)"/>

                <br><br>

                <div style="background-color: #fff; height: 200px; overflow: auto; width: 400px">

                    <div ng-if="!filtering && !newPublicGroup.members.length" style="opacity: 0.7;" class="small pad-8">
                        <i>No users added</i>
                    </div>

                    <table class="table table-condensed table-hover">
                        <tr ng-repeat="user in newPublicGroup.members | orderBy:'firstName' | orderBy:'fullName'">
                            <td class="font-80em no_wrap hover_icon_visible cursor_pointer">
                                {{user.firstName}} {{user.lastName}}
                                <small class="opacity_4 pad-left-8">{{user.email}}</small>

                                <i class="pull-right fa fa-fw fa-times delete_icon"
                                   ng-click="removeUserFromGroup(user)"></i>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </form>
    </div>
</div>

<div class="modal-footer">
    <button type="submit" ng-disabled="!newPublicGroup.label" class="btn btn-primary"
            ng-click="savePublicGroup()">Save
    </button>
    <button type="reset" ng-click="$dismiss('cancel')" class="btn btn-default">Cancel</button>
</div>