<div class="input-group p-2" ngbDropdown  placement="bottom-right">

<!--    <div class="input-group-prepend">-->
<!--        <span class="input-group-text bg-light">-->
<!--            <i class="fa fa-fw fa-times"></i>-->
<!--        </span>-->
<!--    </div>-->

    <div ngbDropdownMenu style="width: 600px" class="p-3">
        <textarea></textarea>
        <br>

        Book a plane ride<br>
        To a place far beyond<br>
        And then you go to a little<br>
        Till then we are
    </div>

    <input type="text" class="form-control border-right-0" placeholder="Enter search terms"/>

    <div class="input-group-append">
        <span class="input-group-text bg-light cursor-pointer" ngbDropdownToggle>
            <small class="text-muted">Blast</small>
        </span>
    </div>

</div>
