button:focus {
    outline: none;
}

button::-moz-focus-inner {
    outline: none;
    border: 0;
}

#container {
    min-height: 100%;
    position: relative;
}

#body {
    padding-bottom: 89px; /*Height of the footer*/
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 89px; /* Height of the footer */
    padding: 2px;
}

html, body {
    font: normal 100% Helvetica, Arial, sans-serif;
    background: #ffffff;
    height: 100%;
    margin: 0;
}

.bg_f1 {
    background-color: #f1f1f1;
}

.blue {
    color: #007dbc;
}

.green {
    color: green;
}

.red {
    color: #CC3333;
}

.font-95em {
    font-size: 0.95em;
}

.relative_top_3 {
    position: relative;
    top: -3px;
}

.relative_top_2 {
    position: relative;
    top: -2px;
}

.font-14em {
    font-size: 1.4em;
}

.font-11em {
    font-size: 1.1em;
}

.font-12em {
    font-size: 1.2em;
}

.font-90em {
    font-size: 0.90em;
}

.font-85em {
    font-size: 0.85em;
}

.line_height_18 {
    /*line-height: 18px;*/
}

.font-80em {
    font-size: 0.80em;
}

.color_444 {
    color: #444;
}

.font-75em {
    font-size: 0.75em;
}

.font-70em {
    font-size: 0.70em;
}

.font-65em {
    font-size: 0.65em;
}

.font-bold {
    font-weight: bold;
}

.pad-2 {
    padding: 2px;
}

.pad-3 {
    padding: 3px;
}

.pad-4 {
    padding: 4px;
}

.pad-6 {
    padding: 6px;
}

.pad-8 {
    padding: 8px;
}

.pad-left-8 {
    padding-left: 8px;
}

.pad-right-10 {
    padding-right: 10px;
}

.pad-15 {
    padding: 15px;
}

.pad-40 {
    padding: 40px;
}

.pad-left-40 {
    padding-left: 40px;
}

.to_upper {
    text-transform: uppercase;
}

.border-bottom {
    border-bottom: 1px solid #ccc;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.pull_down {
    border: 1px solid #CCC;
    background-color: #f1f1f1;
    font-size: 0.90em;
    padding: 2px;
}

.fill {
    height: 100%;
    width: 100%
}

.display-inline {
    display: inline
}

.cursor_pointer {
    cursor: pointer;
}

.float_right {
    float: right
}

.float_left {
    float: left
}

.no_wrap {
    white-space: nowrap;
}

.bg_f8 {
    background-color: #f8f8f0;
}

.bg_cc {
    background-color: #CCC;
}

.bg_gray_with_border {
    background-color: #e8e8e8;
    border: 1px solid #CCC;
}

.min_width_150 {
    min-width: 150px;
}

.z-index-low {
    z-index: -2
}

.no_data_style {
    padding: 8px;
    background-color: white;
    font-size: 0.85em
}

.input_box_error {
    border: 1px solid #CC3333;
    background: #FCC;
    font-family: Helvetica, Arial, serif;
    font-size: 0.90em;
    padding: 4px;
}

.input_box_error::-webkit-input-placeholder {
    color: #f08080;
}

.input_box_error:-moz-placeholder {
    color: #999;
}

.delete_icon, .edit_icon, .add_icon, .flag_icon {
    display: inline;
    opacity: 0.3;
    cursor: pointer;
    color: #000;
}

.edit_icon:hover {
    color: #0082C0;
    opacity: 1;
}

.delete_icon:hover {
    color: #CC3333;
    opacity: 1;
}

.add_icon:hover {
    color: green;
    opacity: 1;
}

.flag_icon:hover, .alert_color {
    color: #ff8823;
    opacity: 1;
}

.entry-form input.ng-invalid.ng-dirty {
    border: 1px solid #CC3333;
    background: #FCC;
    color: #CC3333;
}

.entry-form input.ng-valid.ng-dirty {
}

.entry_add_parameter {
    text-align: right;
    padding-right: 10px;
    width: 160px;
}

.entry_add_sequence {
    overflow: hidden;
    opacity: 0.8;
    cursor: pointer;
    color: #393939;
    font-size: 0.75em;
}

.entry_general_info_header {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 17px;
}

.entry_general_header_td {
    background-color: #F4F3E9;
    border-top: 1px solid #DDD;
    height: 40px;
}

.entry_add_sub_header {
    border-bottom: 0.13em solid #CCC;
    color: #233559;
    font-weight: bold;
    padding: 4px 4px 4px 0;
    text-transform: uppercase;
    font-size: 0.80em;
    font-style: italic;
}

.entry-details-subheader {
    border-bottom: 0.10em solid #CCC;
    padding: 4px 4px 4px 0;
    margin-top: 10px;
}

.entry_tooltip_sub_header {
    text-transform: uppercase;
    color: #233559;
    font-weight: bold;
    font-size: 0.75em;
    border-bottom: 0.13em solid #CCC;
}

.entry_view_sub_section {
    padding: 8px;
}

.entry_pending_visibility {
    width: 180px;
    font-size: 0.80em;
    padding: 4px;
    color: #f5f5f5;
    background-color: #ff4500;
    font-weight: bold;
    border: 1px solid #aa0000;
}

.entry_pending_visibility_tooltip {
    position: relative;
    top: -2px;
    left: -3px;
    float: right;
    font-size: 11px;
    border-radius: 1em 1em 1em 1em;
    border: 1px solid #555;
    color: #333;
    padding: 0 5px;
    font-weight: bold;
    background-color: #f8f8f0;
    cursor: pointer;
}

.entry_add_sub_label {
    text-align: right;
    padding-right: 10px;
    width: 160px;
}

.input_box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BBBBBB;
    font-family: Helvetica, Arial, serif;
    font-size: 0.90em;
    padding: 4px;
    border-radius: 2px;
}

.input_box_group {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BBBBBB;
    font-family: Helvetica, Arial, serif;
    font-size: 0.90em;
    padding: 4px;
    border-radius: 2px 0 0 2px;
    border-right: 0;
}

.entry_add_notes_input {
    width: 640px;
    height: 150px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BBBBBB;
}

.entry_sequence_table {
    font-size: 0.80em;
}

.entry_sequence_table td {
}

.border-1 {
    border: 1px solid #ccc;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 15px;
}

.border-1-selected {
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.entry_sample_panel {
    /*border: 1px solid #ccc;*/
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-spacing: 1px;
    padding: 15px;
    border-collapse: separate;
    width: 390px
}

.bg_green {
    background-color: green;
}

.bg_coral {
    background-color: #ff7f50;
}

.entry_go_back {
    color: #233559;
    font-size: 40px;
    margin-top: 10px;
}

.entry_add_sample_notes_input {
    width: 205px;
    height: 50px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BBBBBB;
}

/* style for the number in the menu e.g. Sample  8*/
.menu_count {
    color: #999;
    float: right;
    font-size: 0.9em;
}

.menu-count {
    float: right;
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity = 20);
    opacity: .2;
    margin-top: 5px;
}

.action_button_small, .action_button {
    border: 1px solid #3565b2;
    background-color: #4787ED;
    color: white;
    font-weight: bold;
    font-size: 0.75em;
    width: 40px;
    padding: 3px;
}

.action_button:hover {
    cursor: pointer;
}

a.cell_mouseover:hover {
    cursor: pointer;
}

/* BULK IMPORT*/
.bulk_import_menu_toggle {
    border: 0;
    float: left;
    cursor: pointer;
}

.bulk_import_menu_toggle:focus {
    outline-width: 0;
}

.bulk_import_menu_toggle-down {
}

.bulk_import_draft_input {
    padding: 3px;
    border: 1px solid #CCC;
    width: 275px;
    border-radius: 2px;
}

.bulk_import_draft_input_error {
    padding: 3px;
    border: 1px solid #cc3333;
    background-color: #fcc;
    width: 275px;
    border-radius: 2px;
}

.cell_error {
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background: #FCC;
    width: 130px;
    height: 19px;
}

.uploader_cell_selected {
    font-size: 0.75em;
    border: 2px solid #0082C0;
    height: 20px;
    width: 131px;
}

.uploader_cell {
    font-size: 0.75em;
    border-right: 1px solid #CCC;
    border-top: 1px solid #CCC;
    height: 20px;
    width: 131px;
}

.cell_resize:hover {
    background-color: #333;
    cursor: e-resize;
}

.cell_column_header {
    width: 129px;
    font-weight: bold;
    color: #555;
    font-size: 0.9em;
}

.cell_column_header_td {
    text-align: center;
    height: 40px;
    background-color: #f1f1f1;
    border-right: 1px solid #CCC;
}

.cell_column_header_selected_td {
    text-align: center;
    height: 40px;
    background-color: #CCCCCC;
    border-right: 1px solid #CCC;
}

.cell {
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    width: 130px;
    height: 19px;
    font-size: 0.75em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cell_drag {
    /*background-color: #F7EDC4;*/
    border-right: 1px dashed #555;
}

.cell:focus {
    border: 2px solid #0082C0;
    outline: none;
}

.cell_focus {
    width: 130px;
    height: 19px;
}

input.cell_input:focus + .cell {
    display: none;
}

/*.cell_border:focus {*/
/*border: 2px solid #0082C0;*/
/*width: 130px;*/
/*height: 19px;*/
/*outline: none;*/
/*}*/

.cell_input {
    font-size: 0.70em;
    padding: 0;
    display: block;
    margin: 0;
    height: 18px;
    width: 129px;
    /*border: 1px solid #333;*/
    border: 2px solid #0082C0;
}

.cell_selected {
    border: 2px solid #0082C0;
    width: 127px;
    height: 16px;
}

.attachment_small_text {
    color: #999;
    font-size: 0.70em;
}

.attachment_description_input {
    /*border: 1px solid #ccc;*/
    /*width: 170px;*/
    /*padding: 5px;*/
    /*color: #777;*/
    /*font-size: 0.75em;*/
    /*font-family: Helvetica, Arial, serif;*/
}

.entry_loading_indicator {
    opacity: 0.3;
    background-color: transparent;
}

.alert_indicator {
    opacity: 0.6;
    background-color: transparent;
}

.sheet_table {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.index_td_cell {
    text-align: center;
    border-bottom: 1px solid #CCC;
    height: 19px;
    background-color: #F1F1F1;
}

.index_td_selected_cell {
    text-align: center;
    border-bottom: 1px solid #CCC;
    height: 19px;
    background-color: #CCCCCC;
}

.index_cell {
    color: #666;
    font-size: 0.70em;
    width: 23px;
}

.sheet_col_index {
    border-left: 1px solid #CCC;
    border-top: 1px solid #CCC;
    border-right: 1px solid #CCC;
}

.leader_cell_column_header_td {
    border-right: 1px solid #CCC;
}

.leader_cell_column_header {
    width: 22px;
}

.tail_cell_column_header {
    width: 23px;
}

.tail_cell_column_header_td {
    border-left: 2px solid #cccccc;
    border-right: 1px solid #cccccc;
}

/* ENTRY DETAIL VIEW */
.entry_view_left_menu {
    /*border-top: 2px solid #0082C0; */
    /*border-top: 1px solid #aab2bd; */
    width: 180px;
    border-bottom: 1px solid #f1f1f1;
}

.entry_attribute {
    width: 180px;
    border-bottom: 1px solid #e1e1e1;
    margin-top: 8px;
}

.edit_permissions_label {
    font-size: 0.75em;
    text-decoration: underline;
    color: #185DA0;
    font-weight: normal;
}

.edit_permissions_label:hover {
    color: #9EC068;
    text-decoration: none;
    cursor: pointer;
}

.entry_attributes_sub_header {
    font-size: 17px;
    padding: 5px;
    color: #657B83;
    border-bottom: 1px solid #e1e1e1;
    font-family: "BebasNeue", sans-serif;
}

.bebas {
    font-family: "BebasNeue", sans-serif;
}

@font-face {
    font-family: "BebasNeue";
    src: url("../fonts/BebasNeue.otf") format("opentype");
}

.entry_view_sub_menu_header {
    background-color: #F3F3F3;
    font-weight: bold;
    font-size: 0.80em;
    font-family: Arial, serif;
    padding: 5px;
    color: #233559;
}

/* HEADER MENU */
ul#indented {
    list-style: none;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    position: relative;
    top: -22px;
}

ul#indented li {
    float: left;
}

ul#indented li a {
    margin-right: 50px;
    text-decoration: none;
    color: #a1a0a0;
}

ul#indented li a.selected {
    text-decoration: none;
    color: #222;
}

ul#indented li a:hover {
    color: #222;
}

/* COLLECTIONS */
.add_to_popup {
    border: 1px solid #cecece;
    box-shadow: 4px 4px 7px #DDD;
    z-index: 999;
}

.context_nav_pager {
    cursor: pointer;
    font-size: 1.6em;
    color: #666;
}

.context_nav_pager:hover {
    color: #0082c0;
}

.nav_disabled, .nav_disabled:hover {
    opacity: 0.4;
    color: #AAA;
    cursor: default;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.collection_user_add_button {
    padding: 3px 10px;
    color: #FCFCFC;
    font-weight: bold;
    background-color: #0082C0;
    border: 1px solid #0082C0;
    font-size: 0.75em;
    cursor: pointer;
    border-radius: 2px;
}

.collection_list_header_label {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
    background-color: #d5d5d5;
    width: 160px;
    font-family: Arial, serif;
    color: #333;
    font-size: 0.95em;
    padding: 5px;
}

.collection_list_header_description {
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    padding: 5px;
}

.collection_list_pager_cell {
    width: 120px;
    border: 1px solid #d5d5d5;
    background-color: #f9edbe;
    text-align: center;
    padding: 5px;
}

.collection_menu_table {
    width: 210px;
    border-bottom: 1px solid #f2f2f2;
}

.user_collection_action {
    background-color: #CCC;
}

.user_collection_action:hover {
    background-color: #F1F1F1;
}

.collections_menu_header {
    font-size: 0.80em;
    font-weight: bold;
    padding: 6px;
    text-transform: uppercase;
    font-family: Helvetica, serif;
    border-bottom: 2px solid #0082c0;
    color: #233559;
}

.collection_menu_selection {
    color: #233559;
    font-weight: bold;
}

.collection_user_menu {
    font-family: Arial, serif;
    font-size: 0.90em;
}

.system_collection_user_menu_row {
    border-top: 1px solid #f6f6f6;
    color: #233559;
    line-height: 90%;
    padding: 8px 6px 6px 15px;
}

.user_collection_user_menu_row {
    border-top: 1px solid #F2F2F2;
    color: #0082c0;
    line-height: 76%;
    padding: 4px 8px 4px 8px;
}

.user_collection_user_menu_row:hover, .system_collection_user_menu_row:hover {
    background-color: #F3F1D9;
    cursor: pointer;
    color: #70822e;
    opacity: 1;
}

.collection_user_menu_row_selected {
    cursor: default;
    font-weight: bold;
    color: #4D5B76;
    background-color: #F3F1D9;
    border-top: 1px solid #EFE9A0;
    border-bottom: 1px solid #EFE9A0;
}

.collection_user_menu_row_selected .menu_count {
    color: #4D5B76;
}

.user_collection_user_menu_row .menu_count {
    margin-top: 3px;
}

.entry_detail_view_row {
    border-right: 1px solid #F2F2F2;
    border-top: 1px solid #F2F2F2;
    padding: 5px;
    color: #0082c0;
    line-height: 15px;
}

.entry_detail_view_row:hover {
    background-color: #F3F1D9;
    color: #70822e;
    cursor: pointer;
}

.entry_detail_view_row_selected {
    background-color: #F3F1D9;
    border-top: 1px solid #efe9a0;
    border-bottom: 1px solid #efe9a0;
    border-right: 1px solid #efe9a0;
    cursor: default;
    font-weight: bold;
    color: #4d5b76;
}

.cell_resize:hover {
    background-color: #333;
    cursor: e-resize;
}

.cell_col_header {
    padding: 2px;
    background-color: #eee;
}

.item {
    font-size: 0.75em;
}

.item-selected {
    font-size: 0.75em;
    background-color: #669acc;
}

/* END */

/* LOGIN */
.login_btn {
    color: #f1f1f1;
    background-color: #0082C0;
    border: 1px solid #0082c0;
    font-weight: bold;
    cursor: pointer;
    width: 80px;
    height: 32px;
    font-size: 0.8em;
    font-family: Arial, serif;
    margin-top: 25px;
}

.login_btn:hover {
    border: 1px solid #0082c0;
    color: #fff;
}

.quick_search_widget_close:hover {
    cursor: pointer;
}

.search_caption_display {
    font-size: 0.75em;
    border: 1px solid #0082c0;
    margin-bottom: 20px;
}

.search_caption {
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
}

.search_caption_display_content {
    float: left;
    font-size: 11px;
    opacity: 0.8;
    padding-left: 5px;
    padding-right: 5px;
}

.login_input {
    width: 250px;
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 0.9em;
}

.login_message_panel {
    color: #333;
    box-shadow: 0 0 7px #BBB;
    padding: 40px;
    line-height: 21px;
    background-color: #f3f3f3;
    width: 320px;
}

.login_input_error {
    width: 250px;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 0.9em;
    border: 1px solid #CC3333;
    background: #FCC;
    color: #f08080;
}

.login_input_error::-webkit-input-placeholder {
    color: #f08080;
}

.login_input_error::-moz-placeholder {
    color: #999;
}

.login_error_msg {
    font-family: Arial, serif;
    font-size: 12px;
    color: red;
}

.quick_search {
    border: 1px solid #ccc;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 31px;
    /*width: 429px;*/
    background-color: #fff
}

.outline-none {
    outline: none;
    border: none;
    padding: 0;
}

button.outline-none:focus {
    outline: none;
    border: 0
}

button.outline-none:active {
    outline: none;
    border: 0
}

button.outline-none::-moz-focus-inner {
    border: 0;
    outline: none
}

.search_arrow_td {
    height: 27px;
    width: 20px;
}

.quick_search_arrow_panel {
    opacity: 0.4;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: #d1d1d1;
}

.quick_search_arrow_panel:hover {
    background-color: #CCC;
    opacity: 0.6;
}

.search_filter_widget {
    font-size: 0.75em;
    background-color: #dedede;
}

.tooltip span {
    display: none;
    width: 200px;
    padding: 2px;
}

.tooltip {
    position: relative;
    z-index: 24;
}

.tooltip:hover span {
    display: block;
    position: absolute;
    top: 2em;
    left: 2em;
    width: 15em;
    background-color: #333;
    color: #fff;
}

.search_arrow:hover {
    opacity: 0.8;
}

.quick_search_input {
    /*font-size: 0.90em;*/
    width: 407px;
    padding: 4px;
    border: 0;
}

.quick_search_input:focus {
    outline: none;
}

a {
    color: #0082C0;
    text-decoration: none;
}

a:hover {
    color: #9EC068;
}

.float_right {
    float: right;
}

.small_text {
    font-size: 0.90em;
    font-family: arial, sans-serif, helvetica, serif;
}

.color_eee {
    color: #EEE;
}

.header_info_left {
    float: left;
    width: 240px;
}

.base_tabs {
    position: relative;
    top: 0;
    margin: 2px 2px 0 0;
    float: left;
    /* background: #F0F0F0; */
    border-right: 1px solid #AAA;
    border-top: 1px solid #AAA;
    border-left: 1px solid #AAA;
    padding: 2px 10px 2px 10px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.tabs_hover {
    padding: 3px 10px 3px 10px;
    margin-top: 0;
    background: #FFFFFF;
}

.tabs_active {
    font-weight: bold;
    padding: 3px 10px 3px 10px;
    margin-top: 0;
    background: #F0F0F0;
}

.pad_right {
    padding-right: 10px;
}

.pad_top {
    padding-top: 10px;
    vertical-align: top;
}

.pad-top-5 {
    padding-top: 5px;
    vertical-align: top;
}

.pad_left {
    padding-left: 10px;
}

.footer_line {
    height: 2px;
    background-color: #CCCC99;
}

.required {
    color: #CC3333;
}

.help_text {
    color: #777777;
    font-size: 9px;
    padding-left: 3px;
}

.panel_header {
    font-size: 14px;
    font-weight: bold;
}

.title_row_header, .headers {
    background-color: #F0F0F0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    white-space: nowrap;
}

.blue_underline {
    height: 2px;
    background-color: #6C95C9;
}

.data_table {
    background-color: #fff;
    width: 100%;
    font-size: 13px;
    font-family: arial, sans-serif, helvetica, serif;
    border-bottom: 1px solid #e6e6e6;
}

table.data_table th {
    padding: 5px;
    background-color: #fff;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #e6e6e6;
    white-space: nowrap;
}

table.data_table th:hover {
    color: #444;
}

.form_textarea {
    height: 50px;
    width: 640px;
}

table.data_table tr:nth-child(odd) {
    background-color: #f6f6f6;
}

table.data_table tr:nth-child(even) {
    background-color: #fff;
}

table.data_table tr td {
    padding: 6px;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    height: 34px;
}

.subMenuCreateNew {
    /*height: 30px;*/
    color: #fff;
    background-color: #47a447;
    border: 1px solid #398439;
    font-weight: bold;
    border-radius: 2px;
}

.subMenuCreateNew:hover {
    color: #FFF;
    background-color: #5CB85C;
    border-color: #4CAE4C;
}

.subMenuTransfer[disabled] i {
    color: #aaa;
}

.subMenuTransfer {
    height: 30px;
    color: #393939;
    font-size: 0.80em;
    text-align: center;
    border-radius: 2px;
    border: 1px solid;
    border-color: #DDDDDD #DDDDDD #C5C5C5;
    background-image: linear-gradient(#FCFCFC, #ECECEC);
}

.subMenuTransfer:hover {
    border: 1px solid #A5A5A5;
    background: #f2f2f2 linear-gradient(#FEFEFE, #F2F2F2);
    color: #111;
    box-shadow: 0 0 1px 1px #DEDEDE;
}

.subMenuTransfer[disabled] {
    height: 30px;
    color: #aaa;
    text-align: center;
    border: 1px solid #f7f7f7;
    border-radius: 2px;
    font-family: Arial, sans-serif;
    opacity: 0.4;
    /*background: #444 linear-gradient(#f7f7f7, #f8f8f8);*/
    background-color: #f1f1f1;
}

.subMenuTransfer[disabled]:hover {
    cursor: default;
    box-shadow: 0 0 0 0 #ddd;
    border-top: 1px solid #c2c2c2;
}

.subMenuExport {
    height: 30px;
    cursor: pointer;
    color: #393939;
    font-size: 0.80em;
    text-align: center;
    border-radius: 2px;
    font-family: Arial, sans-serif;
    border: 1px solid;
    border-color: #DDDDDD #DDDDDD #C5C5C5;
    background-image: linear-gradient(#FCFCFC, #ECECEC);
}

.subMenuExport:hover {
    border: 1px solid #A5A5A5;
    background: #f2f2f2 linear-gradient(#FEFEFE, #F2F2F2);
    color: #111;
    box-shadow: 0 0 1px 1px #DEDEDE;
}

.subMenuExport[disabled] {
    height: 30px;
    color: #393939;
    font-size: 0.80em;
    text-align: center;
    border: 1px solid #c2c2c2;
    border-radius: 2px;
    font-family: Arial, sans-serif;
    opacity: 0.4;
    background: #c2c2c2 linear-gradient(#f1f1f1, #F2F2F2);
}

.subMenuExport[disabled]:hover {
    cursor: default;
    box-shadow: 0 0 0 0 #ddd;
    border-top: 1px solid #c2c2c2;
}

.buttonAddTo {
    border-right: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 90px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-top: 1px solid;
}

.buttonAddTo:hover i {
    color: #709F35
}

.buttonRemove {
    width: 80px;
    border: 1px solid;
}

.buttonMoveTo {
    border-left: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 93px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
}

.buttonGroupItem i {
    font-size: 14px;
}

.buttonGroupItem {
    margin-left: -4px;
    padding: 0;
    cursor: pointer;
    color: #393939;
    font-size: 0.80em;
    text-align: center;
    font-family: sans-serif;
    height: 30px;
    opacity: 0.85;
    border-color: #DDDDDD #DDDDDD #C5C5C5;
    background-image: linear-gradient(#FCFCFC, #ECECEC);
}

.buttonGroupItem:hover {
    /*border: 1px solid #A5A5A5;*/
    /*background-color: #f2f2f2;*/
    background-image: linear-gradient(#FEFEFE, #F2F2F2);
    color: #111;
    opacity: 1;
    /*box-shadow: 0 0 1px 1px #DEDEDE;*/
}

.buttonGroupItem[disabled] {
    color: #393939;
    font-size: 0.80em;
    text-align: center;
    background-color: #c2c2c2;
    border: 1px solid #c2c2c2;
    font-family: Arial;
    opacity: 0.4;
    background-image: linear-gradient(#f1f1f1, #F2F2F2);
}

.buttonGroupItem[disabled]:hover {
    cursor: default;
    box-shadow: 0 0 0 0 #ddd;
    border-top: 1px solid #c2c2c2;
}

.subMenuBulkEdit {
    height: 30px;
    cursor: pointer;
    color: #393939;
    font-size: 0.80em;
    text-align: center;
    border-radius: 2px;
    font-family: Arial;
    width: 76px;
    border: 1px solid;
    border-color: #DDDDDD #DDDDDD #C5C5C5;
    background-image: linear-gradient(#FCFCFC, #ECECEC);
}

.subMenuBulkEdit:hover {
    border: 1px solid #A5A5A5;
    background-color: #f2f2f2;
    background-image: linear-gradient(#FEFEFE, #F2F2F2);
    color: #111;
    box-shadow: 0 0 1px 1px #DEDEDE;
}

.subMenuBulkEdit[disabled] {
    height: 30px;
    color: #393939;
    font-size: 0.80em;
    text-align: center;
    background-color: #c2c2c2;
    border: 1px solid #c2c2c2;
    border-radius: 2px;
    font-family: Arial;
    opacity: 0.4;
    background-image: linear-gradient(#f1f1f1, #F2F2F2);
}

.subMenuBulkEdit[disabled]:hover {
    cursor: default;
    box-shadow: 0 0 0 0 #ddd;
    border-top: 1px solid #c2c2c2;
}

.gray_border {
    border: 1px solid #BBBBBB;
}

.width_170 {
    width: 170px;
}

.collections_header {
    font-size: 0.85em;
    padding: 4px;
    font-weight: bold;
    /*<!-- 233559 -->*/
    font-family: Helvetica, serif;
    color: #888;
}

.ice-button {
    background-color: #f4f4f4;
    border: 1px solid #CCC;
    border-top: 1px solid #DDD;
    border-right: 1px solid #DDD;
    padding: 5px 7px;
    color: #666;
    font-family: Arial, serif;
    font-size: 0.80em;
    box-shadow: 0 0 1px 0 #ddd;
    border-radius: 2px;
    cursor: pointer;
}

.ice-button:hover {
    background-color: #f1f2f3;
    border: 1px solid #AAA;
    color: #222;
    font-family: Arial, serif;
    font-size: 0.80em;
    box-shadow: 0 0 1px 1px #ddd;
    border-radius: 2px;
    cursor: pointer;
}

.ice-button[disabled], .ice-button[disabled]:hover {
    background-color: #f1f2f3;
    border: 1px solid #efefef;
    padding: 6px 8px;
    color: #bbb;
    font-family: Helvetica, Arial, serif;
    font-size: 0.8em;
    border-radius: 2px 4px;
    box-shadow: 0 0 0 0 #ddd;
    cursor: default;
}

.sub-button {
    border-radius: 2px;
    border: 1px solid #ccc;
    padding: 4px 6px;
    background: linear-gradient(0deg, #eee 10%, white 60%) repeat scroll 0% 0% transparent;
    color: #555;
    box-shadow: 0 0 1px 0 #ddd;
    font-weight: bold;
    cursor: pointer;
    font-family: Arial, serif;
}

.sub-button:hover {
    background: linear-gradient(180deg, #eee 10%, white 40%) repeat scroll 0% 0% transparent;
    border: 1px solid #888;
    padding: 4px 6px;
    font-weight: bold;
    color: #222;
    font-family: Arial, serif;
    box-shadow: 0 0 1px 1px #ddd;
    border-radius: 2px;
    cursor: pointer;
}

.table-pager {
    border: 1px solid #CCC;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin-bottom: 15px;
    padding: 5px;
}

.pager_nav {
    font-weight: bold;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: #5a4545;
}

.button_to_link {
    color: #3C5A99;
    background-color: #f0f0f0;
    border: 0;
    font-size: 11px;
    cursor: default;
}

.button_to_link:hover {
    color: #fefefe;
    background-color: #3C5A99;
    font-size: 11px;
    cursor: pointer;
}

.button_to_link[disabled] {
    border: 0;
    background-color: #f0f0f0;
    font-size: 11px;
    color: #999;
    cursor: default;
}

.entry_table {
    background-color: #BBBBBB;
    width: 800px;
}

.bg_gray {
    background-color: #BBBBBB;
}

.bg_fc {
    background-color: #fcfcfc;
}

.bg_white {
    background-color: #FFF;
}

.popup {
    border: 0;
}

.cursor_default {
    cursor: default;
}

.datePickerMonthSelector td:focus {
    outline: none;
}

.datePickerDays {
    width: 100%;
    background: white;
}

.datePickerDay, .datePickerWeekdayLabel, .datePickerWeekendLabel {
    font-size: 85%;
    text-align: center;
    padding: 4px;
    outline: none;
    font-weight: bold;
    color: #333;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
}

.datePickerWeekdayLabel, .datePickerWeekendLabel {
    background: #fff;
    padding: 0 4px 2px;
    cursor: default;
    color: #666;
    font-size: 70%;
    font-weight: normal;
}

.datePickerDay {
    padding: 4px 7px;
    cursor: pointer;
}

.datePickerDayIsWeekend {
    background: #f7f7f7;
}

.datePickerDayIsFiller {
    color: #999;
    font-weight: normal;
}

.datePickerDayIsValue {
    background: #d7dfe8;
}

.datePickerDayIsDisabled {
    color: #AAAAAA;
    font-style: italic;
}

.datePickerDayIsHighlighted {
    background: #F0E68C;
}

.datePickerDayIsValueAndHighlighted {
    background: #d7dfe8;
}

.datePickerDayIsToday {
    padding: 3px;
    color: #fff;
    background: blue;
}

.datePickerMonthSelector {
    width: 100%;
    padding: 1px 0 5px 0;
    background: #fff;
}

.datePickerPreviousButton, .datePickerNextButton {
    font-size: 120%;
    line-height: 1em;
    color: #3a6aad;
    cursor: pointer;
    font-weight: bold;
    padding: 0 4px;
    outline: none;
}

td.datePickerMonth {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 100%;
    font-weight: bold;
    color: #333;
}

.dateBoxFormatError {
    background: #ffcccc;
}

.dateBoxPopup {
}

.bulk_import_header {
    border-top: 2px solid #0082c0;
    padding: 10px;
    background-color: #f4f3e9;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 17px;
}

.bulk_upload_creator {
    border: 0;
    outline: none;
    display: inline;
    cursor: pointer;
    font-size: 0.75em;
    font-weight: normal;
}

.opacity_hover {
    opacity: 0.6;
    cursor: pointer;
}

.opacity_hover:hover {
    opacity: 1;
}

.opacity_4 {
    opacity: 0.4;
}

.opacity_normal {
    opacity: 1;
}

.add_new_entry_main_content_header {
    font-size: 0.85em;
    padding: 10px;
    color: #444;
    font-weight: bold;
    border-left: 1px solid #F1F1F1;
    text-transform: uppercase;
    font-style: italic;
}

.add_new_entry_sub_content {
    padding: 6px;
    border: 1px solid #F1F1F1;
}

.undo_delete_name_row {
    border-right: 1px solid #F2F2F2;
    border-top: 1px solid #F2F2F2;
    padding: 6px;
    background-color: #f1f1f1;
    color: #333;
    opacity: 0.9;
}

.undo_delete_name {
    font-size: 0.70em;
    font-family: Arial, serif;
}

.undo_delete_name_link {
    font-size: 0.70em;
    text-decoration: underline;
    float: right;
    color: blue;
}

.undo_delete_name_link:hover {
    text-decoration: none;
    cursor: pointer;
    color: #185DA0;
}

.upload_sequence_feedback {
    padding: 5px;
    font-size: 0.75em;
    color: #CC3333;
}

.dialogMiddleCenter {
    padding: 3px;
    background: white;
}

.dialog_box_glass {
    background-color: #000;
    opacity: 0.3;
}

.saved_draft_input {
    height: 20px;
    padding: 2px;
    width: 250px;
    border: 1px solid #ccc;
}

.saved_draft_input_error {
    border: 1px solid #CC3333;
    background: #FCC;
    height: 20px;
    padding: 2px;
    width: 250px;
}

/* NEWS */
.news_archive {
    padding: 6px;
    background-color: #F6F9FF;
    border: 1px solid #ECF0F4;
    border-radius: 2px 6px 2px 6px;
}

.news_archive_header {
    font-size: 0.85em;
    cursor: pointer;
    color: #0082C0;
    display: inline;
}

.news_archive_header:hover {
    color: #70822e;
}

/* FOOTER */
.footer_feedback_widget {
    cursor: pointer;
    color: #0082C0;
}

.footer_feedback_widget:hover {
    color: #70822e;
}

.footer_email_input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BBBBBB;
    font-family: Helvetica, Arial, serif;
    font-size: 0.95em;
    padding: 3px;
    width: 240px;
}

.footer_email_input_error {
    border: 1px solid #CC3333;
    background: #FCC;
    font-family: Helvetica, Arial, serif;
    font-size: 0.95em;
    padding: 3px;
    width: 240px;
}

.profile_header {
    font-size: 0.85em;
    padding: 10px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    display: inline;
}

.bulk_upload_visibility {
    display: inline;
    outline: none;
}

.remove_filter {
    cursor: pointer;
    opacity: 0.5;
    width: 26px;
}

.remove_filter:hover {
    opacity: 0.9;
    color: red;
}

.font-awesome {
    display: block;
    cursor: pointer;
}

.ice-btn-group {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
    display: inline-block;
}

.bulk_upload_locked_header {
    color: #0082C0;
    opacity: 1;
}

.count-badge {
    min-width: 8px;
    padding: 2px 5px;
    font-size: 11px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    background-color: #dd2222;
    border-radius: 8px;
    font-family: Arial, sans-serif
}

.collection_options {
    border: 1px solid #bbb;
    padding-right: 3px;
    padding-left: 3px;
}

.collection_options:hover {
    color: black;
    border: 1px solid black;
    background-color: #ffffff;
}

.profile_menu {
    color: #0082C0;
    font-size: 0.9em;
    width: 170px;
}

.profile_menu .selected {
    color: #233559;
    border-left: 0;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff; /* F3F1D9; */
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}

.profile_menu .font-awesome {
    color: #777;
}

td.selected i.font-awesome {
    color: #5a4545;
}

.profile_menu td {
    padding: 8px;
    border-left: 1px solid #e5e5e5;
    background-color: #efefef;
}

.entry_detail_submenu .selected {
    color: #4b4a4a;
    border: 1px solid #e5e5e5;
    border-left-color: #fff;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
}

.entry_detail_submenu .selected i {
    color: #4b4a4a;
}

.entry_detail_submenu {
    width: 180px;
    color: #4482C0;
    font-size: 0.9em;
    background-color: #f7f7f7;
}

.profile_menu:hover, .entry_detail_submenu:hover {
    cursor: pointer;
}

.profile_menu td:hover {
    background-color: #fff;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #233559;
}

.entry_detail_submenu td:hover {
    background-color: #fcfcfc;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #4b4a4a;
}

.entry_detail_submenu td {
    padding: 8px;
    border-left: 1px solid #e5e5e5;
}

.popup_panel_glass {
    background-color: #111;
    opacity: 0.4;
}

.create_widget_popup {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #AAA;
    padding: 4px;
    width: 350px;
}

.group_info_td {
    padding: 3px;
    opacity: 0.8;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #fefde6;
}

.group_info_td_selected {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background-color: #e8e8e8;
    opacity: 1;
}

.group_info_td:hover {
    cursor: pointer;
    opacity: 1;
    background-color: #e9e9e9;
    padding: 3px;
}

.action_panel {
    display: inline;
    font-size: 1.1em;
}

.remove_user_button {
    border: 0;
    background-color: transparent;
    color: red;
    cursor: pointer;
}

.setting_key {
    font-size: 0.90em;
    font-weight: bold;
    text-transform: uppercase;
    color: #222;
    width: 250px;
}

.setting_value {
    font-size: 0.90em;
    width: 400px;
}

.web_results_header {
    padding: 3px 5px 3px 5px;
    display: inline-block;
    font-size: 0.8em;
}

.web_header .web_results_header_selected {
    border-bottom-color: transparent;
}

.web_results_header_selected {
    padding: 3px 5px 3px 5px;
    line-height: 20px;
    border-radius: 2px 2px 0 0;
    margin-right: 2px;
    display: inline-block;
    border: 1px solid #DDD;
    border-bottom-color: transparent;
    font-size: 0.8em;
    background-color: #f5f5f5;
    color: #555;
    font-weight: bold;
}

.generic_storage_panel {
    border: 1px solid #c5c5c5;
    line-height: 90%;
}

.generic_storage_panel #type {
    color: #a52a2a;
    font-size: 0.95em;
    font-weight: bold;
    margin-top: 4px;
}

.generic_storage_panel #display {
    color: #888;
    font-size: 0.75em;
}

.generic_storage_panel td.footer {
    padding: 8px;
    background-color: #f1f1f1;
    font-weight: bold;
}

.profile_message_detail_header {
    border-bottom: 1px solid #CCC;
    font-size: 1.4em;
    padding-bottom: 4px;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.permission_tab_active {
    font-size: 0.75em;
    border-left: 1px solid #e1e1e1;
    padding: 5px;
    color: #222;
    font-weight: bold;
}

.permission_tab_inactive {
    font-size: 0.75em;
    color: #999;
    border-left: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: #f1f1f1;
}

.permission_tab_inactive:hover {
    color: #666;
    background-color: #f6f6f6;
}

.folder_permission_tab_active {
    font-size: 0.95em;
    border-left: 1px solid #e1e1e1;
    padding: 8px;
    color: #222;
    font-weight: bold;
}

.folder_permission_tab_inactive {
    font-size: 0.95em;
    color: #999;
    border-left: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
    background-color: #f1f1f1;
}

.folder_permission_tab_inactive:hover {
    color: #666;
    background-color: #f6f6f6;
}

.permission_list {
    font-family: Arial, sans-serif;
    font-size: 0.75em;
    padding: 3px;
    width: 100%;
    overflow: auto;
}

.permission_list>i.fa-times {
    display: none;
}

.permission_list:hover {
    background-color: #F4F3E9;
}

.permission_list:hover>i.fa-times {
    display: block;
}

.hover_icon_visible>i {
    opacity: 0.3
}

.hover_icon_visible:hover>i {
    opacity: 0.9
}

.permission_footer {
    background-color: #f1f1f1;
    padding: 5px;
    border-top: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
}

.permission_footer_link {
    font-size: 0.75em;
    cursor: pointer;
    color: #888;
}

.permission_group {
    color: #bf984c;
}

.permission_user {
    color: #657B83;
}

.permission_input_suggest {
    border: 1px solid #ccc;
    font-size: 12px;
    color: #555;
    margin-left: 0;
}

.collection_permission_widget_border {
    border: 1px solid #ccc;
}

.information {
    padding: 6px;
    background-color: #f0f9ff;
    font-size: 0.80em;
    border-radius: 2px;
    color: #bf984c;
}

.general_sub_header {
    color: #4B4A4A;
    font-size: 0.85em;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 0 #DDDDFF;
    text-transform: uppercase;
    opacity: 0.75;
    margin-top: 20px;
}

.entry-general-information td {
    font-size: 0.90em;
    padding: 5px;
    width: 180px;
}

.entryEditLabel {
    color: #000;
}

.entryLabel {
    color: #999;
    white-space: nowrap;
    text-transform: capitalize;
}

.color-888 {
    color: #888;
}

.comment {
    text-align: left;
    max-width: 500px;
    border-radius: 4px;
    padding: 29px 18px 29px 27px;
    margin-bottom: 40px;
    position: relative;
    margin-left: 50px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

    /*box-shadow: 0px 1px #FFF inset, 0px 1px 2px #C8CFE6;*/
}

.cellToolTip {
    overflow: visible;
}

.tooltip {
    top: 0 !important;
}

.handsontable table th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.new_entry_tab_active {
    background-color: #f4f4f4;
    border-left: 1px solid #eee;
    height: 23px;
    background: linear-gradient(to bottom, #FFFFFF, #f9f9f9) repeat scroll 0 0 transparent;
    box-shadow: 0 1px 1px rgba(30, 25, 25, 0.2);
    /*box-shadow: 1px 1px 2px rgba(30, 25, 25, 0.2);*/
}

.new_entry_tab_inactive {
    /*border-left: 1px solid #eee;*/
    height: 23px;
    background-color: #f4f4f4;
    /*box-shadow: 0 1px 2px rgba(50, 50, 50, 0.1) inset;*/
    box-shadow: 1px 0 1px 1px rgba(23, 23, 23, 0.1) inset;
    cursor: pointer;
    color: #999;
    /*box-shadow: 1px 0 4px rgba(0,0,0,0.2);*/
}

.fluid_no_wrap {
    display: inline-block;
    vertical-align: middle;
    max-width: 80%;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.slider {
    position: relative;
    height: 15px;
    width: 400px;
    display: inline-block;
}

.bar {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background-color: #eee;
    top: 0;
}

.pointer {
    height: 100%;
    width: 15px;
    position: absolute;
    display: block;
    background: #555;
    top: 0;
}

.bubble {
    position: absolute;
    top: -100%;
    display: block;
    font-size: 0.75em;
    color: #ccc;
}

.contained-part {
    width: 320px;
    font-size: 0.90em;
    margin-top: 15px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #f5f5f5;
}

.current .fileUpload {
    opacity: 8;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    opacity: 0;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity = 0);
}

.bulk_import_name {
    cursor: pointer;
}

.bulk_import_name:hover {
    background-color: #c1c1c1;
}
