<div class="modal-header" style="border-bottom: 0">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
</div>

<div class="modal-body">
    <i style="font-size: 65px; float: left; padding-right:10px; color: #ff4500" class="fa fa-exclamation-triangle"></i>
    <strong style="font-size: 24px">Reset the bulk upload form?</strong>

    <div>This will delete all entries that are currently associated with it.</div>
    <br>
</div>

<div class="modal-footer">
    <button class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
    <button ng-if="!modalClose && !processing" type="button"
            ng-click="resetBulkUpload()" class="btn  btn-sm btn-primary">Reset
    </button>
</div>
