<div class="modal-header" style="border-bottom: 0">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <!--<span class="bebas modal-title" style="color: #657B83;font-size: 19px">-->
        <!--<i class="fa fa-table"></i> &nbsp;Bulk Import File Upload</span>-->
</div>

<div class="modal-body">
    <i style="font-size: 65px; float: left; padding-right:10px; color: #ff4500" class="fa fa-exclamation-triangle"></i>
    <strong style="font-size: 24px">Reset the bulk upload form?</strong>
    <div>This will delete all entries that are currently associated with it.</div>
</div>

<div class="modal-footer">
    <button class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
    <button ng-if="!modalClose && !processing" type="button" ng-click="reset()" class="btn  btn-sm btn-primary"
            ng-disabled="!importUploader.getNotUploadedItems().length">Reset</button>
</div>
