<div class="row">
    <div class="col-3 offset-1">
        <span [ngClass]="{'fw-bold': field.active}">{{field.label}}
            <span class="text-danger" *ngIf="field.required" style="font-size: larger">*</span>
        </span>
    </div>

    <div class="col-8">

        <div class="field-value" *ngIf="inEditMode">
            {{field.value}} <i class="bi bi-pencil" (click)="switchEditMode()"></i>
        </div>

        <div *ngIf="!inEditMode" class="d-flex">
            <input class="form-control form-control-sm" [(ngModel)]="field.value"
                   (focusout)="textInputFocusOut(field)" name="field-value"
                   [ngClass]="{'w-75': longText, ' w-50': !longText}"
                   (focusin)="textInputFocusIn(field)" maxlength="127">

            <button class="btn btn-sm border ms-1" (click)="switchEditMode()">
                <i class="bi bi-x-lg"></i>
            </button>

            <button class="btn btn-sm" (click)="switchEditMode()">
                <i class="bi bi-check-lg"></i>
            </button>
        </div>
    </div>
</div>
