<div class="container-fluid">
    <div class="row">
        <div class="col p-3">
            <div style="height: 1050px">
                <ul ngbNav #nav="ngbNav" class="nav nav-underline d-flex justify-content-between">
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': selection === 'plasmid'}"
                           aria-current="page" (click)="selectedTab('plasmid')">Plasmid</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': selection === 'strain'}"
                           aria-current="page" (click)="selectedTab('strain')">Strain</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': selection === 'part'}"
                           aria-current="page" (click)="selectedTab('part')">Part</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': selection === 'seed'}"
                           aria-current="page" (click)="selectedTab('seed')">Seed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': selection === 'protein'}"
                           aria-current="page" (click)="selectedTab('protein')">Protein</a>
                    </li>
                </ul>

                <br>
                <button class="ice-button" (click)="addNewCustomEntryField()">Create Custom Field</button>
                <br><br>

                <div *ngIf="partCustomFields.length">
                    <table class="table table-border-bottom table-hover table-condensed font-95em"
                           [ngClass]="{'opacity_4':loading}">
                        <thead>
                        <th>Label</th>
                        <th>Field Type</th>
                        <th>Entry Type</th>
                        <th>Required</th>
                        <th>Value(s)</th>
                        <th></th>
                        </thead>
                        <tbody *ngFor="let field of partCustomFields">
                        <tr>
                            <td>{{ field.label }}</td>
                            <td>{{ optionsText(field.type) }}</td>
                            <td>{{ field.entryType }}</td>
                            <td style="text-align: center; width: 80px">
                                <i class="fa fa-fw fa-check green" *ngIf="field.required"></i></td>
                            <td>
                                <div *ngFor="let option of field.options">{{ option.name }}</div>
                            </td>
                            <td style="width: 180px; border: 1px solid #ccc; vertical-align: middle">
                                <i *ngIf="!field.delete" class="fa fa-fw fa-trash-o opacity_hover font-14em"
                                   (click)="field.delete = true"></i>
                                <span *ngIf="field.delete">Permanently remove field?<br>
                        <button class="btn btn-xs btn-primary" (click)="deleteCustomField(field)">Yes</button>
                        <button class="btn btn-xs btn-default" (click)="field.delete = false">No</button>
                    </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="pad_top" *ngIf="!partCustomFields.length">
                    <i>No custom fields available for parts of type <b
                        class="text-muted">{{ selection | titlecase }}</b></i>
                </div>

            </div>
        </div>
    </div>
</div>
