<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss('cancel')">&times;</button>
    <span class="bebas modal-title" style="color: #657B83;font-size: 19px">
    <i class="fa fa-shopping-cart"></i> &nbsp;Add Sample to Cart</span>
</div>

<div class="modal-body">
    <div class="alert alert-warning" role="alert" ng-if="hasComments()">
        There are 1 or more comments about this sample. Please make sure to review them by clicking on the comments tab,
        before adding to cart.
    </div>

    <strong style="font-size: 16px">Select sample type</strong>

    <div class="radio" style="padding-left: 40px">
        <label>
            <input type="radio" name="sampleTypeOptions" ng-model="sampleType" value="LIQUID_CULTURE">Liquid Culture
        </label>
    </div>

    <div class="radio" style="padding-left: 40px">
        <label>
            <input type="radio" name="sampleTypeOptions" ng-model="sampleType" value="STREAK_ON_AGAR_PLATE">Streak on
            Agar Plate
        </label>
    </div>

    <br>

    <strong style="font-size: 16px">Requested Growth Temp &deg;C</strong>

    <div style="padding-left: 40px">
        <select class="input_box pull_down"
                ng-model="sampleTemp" ng-options="option.value for option in tempRange">
        </select>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default btn-sm" ng-click="$dismiss('cancel')">Cancel</button>
    <button type="button" ng-click="addSampleToCart(sampleType, sampleTemp, entry.id)" ng-disabled="!sampleType"
            class="btn btn-sm btn-primary"
            style="font-weight: bold">Add to Cart
    </button>
</div>
