<table class="entry_sample_panel">
    <tr>
        <td colspan="{{Plate96Cols.length+1}}">
            <strong style="color: #a52a2a">PLATE <span class="color_444">{{plate[0].location.display}}</span></strong>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td class="text-center" ng-repeat="col in Plate96Cols">
            <strong class="opacity_4">{{col}}</strong>
        </td>
    </tr>
    <tr ng-repeat="row in Plate96Rows">
        <td><strong class="opacity_4">{{row}}</strong>&nbsp;&nbsp;</td>

        <td ng-repeat="col in Plate96Cols track by $id(col)">
            <div ng-repeat="sample in plate"
                 style="position: absolute; cursor: pointer;"
                 ng-click="$parent.$parent.$parent.selected = sample">
                <div ng-if="row + (10+col+'').slice(-2) === sample.location.child.display">
                    <i class="fa fa-circle"
                       ng-class="{'green':sample.location.child.child, 'alert_color':!sample.location.child.child}"
                       style="font-size: 30px; color: green;"
                       uib-tooltip="{{sample.location.child.child.display}}"
                       ng-if="sample.partId === entry.id">
                   </i>
                    <i class="fa fa-circle"
                       ng-class="{'green':sample.location.child.child, 'alert_color':!sample.location.child.child}"
                       style="font-size: 30px; color: #A9A9A9; text-decoration: none; cursor: pointer;"
                       uib-tooltip="{{sample.partName}} - {{sample.location.child.child.display}}"
                       ng-if="sample.partId != entry.id">
                   </i>
                </div>
            </div>
            <i class="fa fa-circle-thin" style="font-size: 30px;"></i>
        </td>

    </tr>
    <tr style="height: 67px;">
        <td colspan="{{Plate96Cols.length+1}}" class="small">
            <div style="height: 1px; margin: 9px 0; overflow: hidden; background-color: #e5e5e5;"></div>

            <i class="fa fa-warning dark-orange font-14em" ng-if="selected.comments.length"
               uib-tooltip="1 or more comments available"></i>
            <strong ng-if="selected.label">{{selected.label}}</strong><br>
            <span style="color: #777" ng-if="selected.id">
                {{selected.creationTime | date : 'short'}} -
            </span>
            <a ng-href="profile/{{selected.depositor.id}}">{{selected.depositor.firstName}}
                {{selected.depositor.lastName}}
            </a>

            <div ng-if="selected.partId === entry.id" class="display-inline">
                <div class="display-inline pull-right" ng-if="selected.canEdit && selected.deleteRequested">
                    <i class="fa fa-exclamation-triangle alert_color fa-fw"></i>
                    <b style="color:#CC3333">Delete?</b>

                    <button stop-event="click" class="btn btn-xs btn-primary" ng-click="delete(); selected.deleteRequested=false">Yes</button>
                    <button stop-event="click" class="btn btn-xs btn-default" ng-click="selected.deleteRequested=false">No</button>
                </div>

                <div class="pull-right" style="font-size: 14px;" ng-if="selected.canEdit && !selected.deleteRequested">
                    <i class="fa fa-fw delete_icon fa-trash-o" ng-click="selected.deleteRequested=true"></i>
                </div>
            </div>

            <div class="display-inline pull-right" ng-if="selected.id && selected.partId != entry.id">
                <a ng-href="entry/{{selected.partId}}/samples" style="font-size: 11pt;">
                    <strong>Go to {{selected.partName}} ▶</strong><br>
                </a>
            </div>
        </td>
    </tr>
</table>
