<div class="row">
    <div class="col-2 d-flex">
        <label [for]="field.label" [ngClass]="{'fw-bold': field.active}">
            <span [ngClass]="{'text-muted': !inEditMode}">{{field.label}}</span>
            <span class="text-danger" *ngIf="field.required && inEditMode" style="font-size: larger">*</span>
        </label>
    </div>

    <div class="col" [id]="field.label">
        <div class="field-value" *ngIf="!inEditMode">
            {{field.value}} <i class="bi bi-pencil" (click)="switchEditMode()"></i>
        </div>

        <textarea style="height: 70px;" class="form-control form-control-sm"
                  (focusout)="textInputFocusOut(field)" *ngIf="inEditMode"
                  [ngClass]="{'is-invalid': field.isInvalid}" [(ngModel)]="field.value"
                  (focusin)="textInputFocusIn(field)"></textarea>
    </div>
</div>
