<form name="editEntryForm" data-ng-submit="editEntry()" class="entry-form">

<div class="container-fluid" ng-init="entry.creatorEmail=user.email">
<div class="row entry_general_header_td" style="height: 60px">

    <div class="col-md-3">
        <h4><strong style="color: #888;">EDIT {{entry.type}}</strong>
            <strong>{{entry.partId}}</strong><br>
            <small class="font-65em">{{entry.creationTime | date:'medium'}} - <a
                    ng-href="/profile/{{user.id}}">{{user.firstName}} {{user.lastName}}</a></small>
        </h4>
    </div>

    <div class="col-md-9" style="margin-top: 20px;">
        <div class="dropdown font-85em">
                <span class="opacity_hover dropdown-toggle"><i class="fa fa-link"></i> Link To <span
                        class="caret"></span></span>
            <ul class="dropdown-menu">
                <li> Existing Entry</li>
                <li> New Entry</li>
            </ul>
        </div>
    </div>


</div>

<div class="row pad-top-5">
    <div class="col-md-2">
        <span style="white-space:nowrap" ng-class="{'font-bold':makeBold}">Name <span class="required">*</span></span>
    </div>
    <div class="col-md-10">
        <input type="text" ng-model="entry.name" ng-trim="true" ng-focus="makeBold=true" ng-blur="makeBold=false"
               ng-class="{'input_box':!nameMissing, 'input_box_error':nameMissing}"
               maxlength="125" placeHolder="e.g. JBEI-0001"
               style="width: 205px;"> <i class="fa fa-question-circle opacity_hover" tooltip="help text"
                                         tooltip-placement="right"></i>
    </div>
</div>

<div class="row pad-top-5">
    <div class="col-md-2">
        <span style="white-space:nowrap">Alias</span>
    </div>

    <div class="col-md-10">
        <input type="text" class="input_box" ng-model="entry.alias" maxlength="125" style="width: 205px;">
    </div>
</div>

<div class="row pad-top-5">
    <div class="col-md-2">
        <span style="white-space:nowrap">Principal Investigator <span class="required">*</span></span>
    </div>

    <div class="col-md-10">
        <input type="text" ng-model="entry.principalInvestigator"
               ng-class="{'input_box':!principalInvestigatorMissing, 'input_box_error':principalInvestigatorMissing}"
               maxlength="125" style="width: 205px;">

        <input type="text" class="input_box" maxlength="125"
               placeholder="If known"
               style="width: 191px;" ng-model="entry.principalInvestigatorEmail">
    </div>
</div>


<div class="row pad-top-5">
    <div class="col-md-2"><span style="white-space:nowrap">Funding Source</span>
    </div>

    <div class="col-md-10"><input type="text" class="input_box" ng-model="entry.fundingSource"
                                  maxlength="250"
                                  style="width: 205px;">
    </div>
</div>


<div class="row pad-top-5">
    <div class="col-md-2"><span style="white-space:nowrap" ng-class="{'font-bold':makeStatusBold}">Status</span>
    </div>

    <div class="col-md-10" ng-init="entry.status='Complete'">
        <select ng-focus="makeStatusBold=true" ng-blur="makeStatusBold=false" style="width: 100px"
                class="pull_down"
                ng-model="entry.status" size="1">
            <option value="Complete">Complete</option>
            <option value="In Progress">In Progress</option>
            <option value="Abandoned">Abandoned</option>
            <option value="Planned">Planned</option>
        </select>
    </div>
</div>


<div class="row pad-top-5">
    <div class="col-md-2"><span style="white-space:nowrap">Bio Safety Level</span>
    </div>

    <div class="col-md-10" ng-init="entry.bioSafetyLevel=1">
        <select ng-model="entry.bioSafetyLevel" class="pull_down" size="1" style="width: 100px">
            <option value="1">Level 1</option>
            <option value="2">Level 2</option>
        </select>
    </div>
</div>

<div class="row pad-top-5">
    <div class="col-md-2"> <span style="white-space:nowrap">Creator <span
            class="required">*</span></span>
    </div>

    <div class="col-md-10" ng-init="entry.creator=user.firstName + ' ' + user.lastName">
        <input type="text" class="input_box" maxlength="125" placeholder="Who made this part?"
               style="width: 205px;" ng-model="entry.creator"> <input type="text"
                                                                      ng-class="{'input_box':!creatorEmailMissing, 'input_box_error':creatorEmailMissing}"
                                                                      maxlength="125" placeholder="If known"
                                                                      style="width: 191px;"
                                                                      ng-model="entry.creatorEmail">
    </div>
</div>

<div class="row pad-top-5">
    <div class="col-md-2"><span style="white-space:nowrap">Backbone</span>
    </div>

    <div class="col-md-10"><input type="text" ng-model="entry.backbone" class="input_box"
                                  maxlength="150"
                                  style="width:400px;">
    </div>
</div>


<div class="row pad-top-5">
    <div class="col-md-2"><span style="white-space:nowrap">Links</span>
    </div>

    <div class="col-md-10"><input ng-model="entry.links" type="text" class="input_box"
                                  maxlength="500" style="width: 205px;"> <span tooltip="Add another link"
                                                                               tooltip-placement="right"><i
            class="fa fa-plus green opacity_hover"></i></span>
    </div>
</div>


<div class="row pad-top-5">
    <div class="col-md-2"><span style="white-space:nowrap">Keywords</span>
    </div>

    <div class="col-md-10"><input type="text" ng-model="entry.keywords" class="input_box"
                                  maxlength="125"
                                  style="width:640px;">
    </div>
</div>

<div class="row pad-top-5">
    <div class="col-md-2"> <span style="white-space:nowrap">Summary <span
            class="required">*</span></span>
    </div>

    <div class="col-md-10"><textarea ng-model="entry.shortDescription"
                                     ng-class="{'input_box':!summaryMissing, 'input_box_error':summaryMissing}"
                                     style="width: 640px; height: 50px;"></textarea>
    </div>
</div>

<div class="row pad-top-5">
    <div class="col-md-2"><span style="white-space:nowrap">References</span>
    </div>

    <div class="col-md-10"><textarea ng-model="entry.references" class="input_box"
                                     style="width: 640px; height: 50px;"></textarea>
    </div>
</div>

<div class="row pad-top-5">
    <div class="col-md-2"><span style="white-space:nowrap">Intellectual Property</span>
    </div>

    <div class="col-md-10"><textarea ng-model="entry.intellectualProperty" class="input_box"
                                     style="width: 640px; height: 50px;"></textarea>
    </div>
</div>

<div class="row pad-top-5">
    <div class="col-md-12">
        <div class="entry-details-subheader">
            <span style="color: #233559; font-weight: bold; font-size: 0.9em;">SEQUENCE</span>

            <div class="pull-right">
                <small class="opacity_hover"><i style="font-size:14px" class="fa fa-upload"></i> Upload</small>
                |
                <small ng-click="showPaste=!showPaste" class="opacity_hover"><i style="font-size:14px"
                                                                                class="fa fa-paste"></i> Paste
                </small>
            </div>
        </div>

        <div ng-if="!showPaste" class="margin-top-10 font-95em"><i style="color: #999">No sequence data provided</i>
        </div>

        <div ng-if="showPaste" class="margin-top-10">
            <alert type="'info'" style="margin-bottom: 10px"><i style="font-size: 19px"
                                                                class="fa fa-info-circle pull-left"></i> Only Genbank,
                Fasta
                and SBOL files are supported
            </alert>

            <div class="input-group">
                <textarea class="input_box" placeholder="Paste sequence" style="width: 100%; height: 100%;"></textarea>
                <span style="height: 200px" class="input-group-addon">foo</span>
            </div>
        </div>
    </div>
</div>

<div class="row pad-top-5">
    <div class="col-md-12">
        <div class="entry-details-subheader">
            <span style="color: #233559; font-weight: bold; font-size: 0.9em;">NOTES</span>
        </div>
    </div>
</div>

<div class="row  pad-top-5">
    <div class="col-md-8">
        <textarea class="entry_add_notes_input"></textarea>
    </div>
    <div class="col-lg-4">
        <i class="fa fa-anchor"></i><br>
        <i class="fa fa-bold"></i><br>
        <i class="fa fa-indent"></i><br/>
    </div>
</div>


<div class="row pad-top-5">
    <div class="col-md-2">
    </div>

    <div class="col-md-10">
        <button type="submit" class="btn btn-sm btn-primary font-85em">Submit</button>
        <button class="btn btn-sm btn-default font-85em">Cancel</button>
    </div>
</div>
</div>
</form>
