<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540002" id="VectorEditor" width="100%" height="100%" codebase="https://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
    <param name="movie" value="VectorViewer.swf"> 
    <param name="quality" value="high">  
    <param name="bgcolor" value="#869ca7"> 
    <param name="wmode" value="opaque">  
    <param name="allowScriptAccess" value="sameDomain"> 
    <embed src="/swf/vv/VectorViewer.swf?entryId=' + value.id + '&amp;sessionId=' + sid + '" 
    quality="high" bgcolor="#869ca7" width="100%" wmode="opaque" height="100%" 
    name="VectorEditor" align="middle" play="true" loop="false"  
    type="application/x-shockwave-flash" 
    pluginspage="http://www.adobe.com/go/getflashplayer"> 
</object>

