<div class="row pad_top" ng-repeat="field in entryFields" data-ng-if="entry[field.schema]">
    <div class="col-md-2 entryLabel">
        <span ng-class="{'entryEditLabel':field.edit}">{{field.label}}</span>
    </div>
    <div class="col-md-10" ng-mouseover="showEdit=true" ng-mouseout="showEdit=false">
        <div data-ng-if="!field.edit">{{entry[field.schema]}}
            <span ng-click="field.edit=true">
            <i ng-show="showEdit&&field.canEdit!=false" class="fa fa-pencil edit_icon" style="margin-left: 5px;"></i>
            </span>
        </div>

        <!--short input field-->
        <div class="input-group" ng-if="field.inputType==='short'&&field.edit">
            <input type="text" ng-model="entry[field.schema]" ng-trim="true" ng-focus="field.edit=true"
                   ng-blur="field.edit=false"
                   ng-class="{'input_box_group':!field.invalid, 'input_box_error':field.invalid}"
                   maxlength="125" placeHolder="{{field.placeHolder}}" style="width: 205px;">
            <span class="input-group-addon" data-ng-click="field.edit=false" style="padding:3px; background-color:
         #f1f1f1;width: 19px"><i class="fa fa-times delete_icon"></i></span>
            &nbsp; <i ng-if="field.help" class="fa fa-question-circle opacity_hover" tooltip="{{field.help}}"
                      tooltip-placement="right"></i>
        </div>

        <!-- short input field with email -->
        <div ng-if="field.inputType==='withEmail'&&field.edit">
            <input type="text" ng-model="entry[field.schema]" ng-trim="true" ng-focus="field.edit=true"
                   ng-blur="field.edit=false" ng-class="{'input_box':!field.invalid, 'input_box_error':field.invalid}"
                   maxlength="125" style="width: 205px;">

            <input type="text" ng-model="entry[field.schema+'Email']" ng-trim="true" ng-focus="field.edit=true"
                   ng-blur="field.edit=false" ng-class="{'input_box':!field.invalid, 'input_box_error':field.invalid}"
                   placeholder="Email if known" style="width: 191px;">
        </div>

        <!--options-->
        <div ng-if="field.options&&field.edit">
            <select ng-focus="field.edit=true" ng-blur="field.edit=false" style="width: 110px" class="pull_down"
                    ng-model="entry[field.schema]" size="1"
                    ng-options="option.value as option.text for option in field.options"></select>
        </div>

        <!--checkbox-->
        <div ng-if="field.inputType==='bool'&&field.edit">
            <input type="checkbox" ng-model="entry[field.schema]" ng-focus="field.edit=true" ng-blur="field.edit=false">
        </div>

        <!--datepicker-->
        <div ng-if="field.inputType==='date'&&field.edit">
            <div class="input-group">
                <input type="text" ng-model="entry[field.schema]" show-button-bar="false" show-weeks="false"
                       datepicker-popup="yyyy-MM-dd" class="input_box_group" maxlength="125" is-open="opened"
                       datepicker-options="dateOptions" close-text="Close" style="width: 205px;"
                       ng-focus="field.edit=true" ng-blur="field.edit=false">
            <span class="input-group-addon" style="padding:3px; background-color:
             #f1f1f1;width: 19px"><i class="fa fa-calendar"></i></span>
            </div>
        </div>

        <!--medium input-->
        <div ng-if="field.inputType==='medium'&&field.edit">
            <input type="text" ng-model="entry[field.schema]" maxlength="150" style="width:400px;"
                   ng-class="{'input_box':!field.invalid, 'input_box_error':field.invalid}"
                   ng-focus="field.edit=true" ng-blur="field.edit=false">
        </div>

        <!--autocomplete-->
        <div ng-if="field.inputType==='autoComplete'&&field.edit">
            <input type="text" ng-model="entry[field.schema]" maxlength="150"
                   ng-class="{'input_box':!field.invalid, 'input_box_error':field.invalid}"
                   placeHolder={{field.placeHolder}} style="width:205px;" typeahead-loading="loadingData"
                   typeahead="result for result in getLocation(field.autoCompleteField, $viewValue) | filter:$viewValue"
                   ng-focus="field.edit=true" ng-blur="field.edit=false">
            <i ng-show="loadingData" class="fa fa-spinner fa-spin"></i>
        </div>

        <!--add-->
        <div ng-if="field.inputType==='add'&&field.edit">
        <span ng-repeat="link in entry[field.schema]">
            <div ng-if="!$index">
                <input ng-model="entry[field.schema][$index].value" type="text" maxlength="500"
                       style="width: 400px;"
                       ng-class="{'input_box':!field.invalid, 'input_box_error':field.invalid}"
                       ng-focus="field.edit=true" ng-blur="field.edit=false">
                <span ng-if="entry[field.schema].length===1" tooltip="Add another" tooltip-placement="right"
                      ng-click="addLink(field.schema, $index)">
                    <i class="fa fa-plus green opacity_hover"></i>
                </span>
            </div>

            <div ng-if="$index" class="input-group pad-top-5">
                <input type="text" ng-model="entry[field.schema][$index].value" maxlength="125"
                       style="width: 400px;"
                       ng-class="{'input_box_group':!field.invalid, 'input_box_error':field.invalid}"
                       ng-focus="field.edit=true" ng-blur="field.edit=false">
                <span class="input-group-addon" data-ng-click="removeLink(field.schema, $index)" style="padding:3px;
                background-color: #f1f1f1;width: 19px; border-left: 0">
                    <i class="fa fa-minus delete_icon"></i>
                </span>&nbsp;
                <i class="fa fa-plus green opacity_hover" ng-click="addLink(field.schema, $index)"></i>
            </div>
        </span>
        </div>

        <!-- autocompleteAdd -->
        <div ng-if="field.inputType==='autoCompleteAdd'&&field.edit">
        <span ng-repeat="link in entry[field.schema]">
            <div ng-if="!$index">
                <input ng-model="link.value" type="text" typeahead-loading="loadingData"
                       ng-class="{'input_box':!field.invalid, 'input_box_error':field.invalid}"
                       maxlength="125" style="width: 400px;" ng-focus="field.edit=true" ng-blur="field.edit=false"
                       typeahead="result for result in getLocation(field.autoCompleteField, $viewValue) | filter:$viewValue">
                <span ng-if="entry[field.schema].length===1" tooltip="Add another" tooltip-placement="right"
                      ng-click="addLink(field.schema, $index)"><i ng-show="loadingData"
                                                                  class="fa fa-spinner fa-spin"></i>
                    <i class="fa fa-plus green opacity_hover"></i>
                </span>
            </div>

            <div ng-if="$index" class="input-group pad-top-5">
                <input type="text" ng-model="link.value" maxlength="125" style="width: 400px;"
                       ng-class="{'input_box_group':!field.invalid, 'input_box_error':field.invalid}"
                       ng-focus="field.edit=true" ng-blur="field.edit=false" typeahead-loading="loadingData"
                       typeahead="result for result in getLocation(field.autoCompleteField, $viewValue) | filter:$viewValue">
                <span class="input-group-addon" data-ng-click="removeLink(field.schema, $index)" style="padding:3px;
                background-color: #f1f1f1;width: 19px; border-left: 0">
                    <i class="fa fa-minus delete_icon"></i>
                </span>&nbsp;
                <i class="fa fa-plus green opacity_hover" ng-click="addLink(field.schema, $index)"></i>
            </div>
        </span>
        </div>

        <!--long-->
        <div ng-if="field.inputType==='long'&&field.edit">
            <textarea ng-model="entry[field.schema]" style="width: 640px; height: 50px;" ng-trim="true"
                      ng-focus="field.edit=true" ng-blur="field.edit=false"
                      ng-class="{'input_box':!field.invalid, 'input_box_error':field.invalid}"></textarea>
        </div>

        <!--<div class="input-group" data-ng-if="field.edit">-->
        <!--<input type="text" ng-model="entry[field.schema]" class="input_box_group" maxlength="125" placeholder=""-->
        <!--style="width: 205px;">-->
        <!--<span class="input-group-addon" data-ng-click="field.edit=false" style="padding:3px; background-color:-->
        <!--#f1f1f1;width: 19px"><i class="fa fa-times delete_icon"></i></span>-->
        <!--</div>-->
    </div>
</div>

<div class="row margin-top-10" ng-if="entry.linkedParts.length">
    <div class="col-md-12">
        <div class="entry-details-subheader"><strong style="color: #233559;">CONTAINS / EMBEDS / LINKS</strong></div>

        <div ng-repeat="part in entry.linkedParts">
            <span ng-if="$index % 2 == 0">
                <div class="row">
                    <div class="col-sm-6" ng-if="entry.linkedParts[$index+0]">
                        <div style="width: 320px; font-size: 0.90em; margin-top: 8px; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); border-radius: 4px;
                    background-color: #f5f5f5">
                            <div class="pull-right font-90em" style="padding: .75em .5em;">
                                <a ng-href="/entry/{{entry.linkedParts[$index+0].id}}"
                                   class="">{{entry.linkedParts[$index+0].partId}}</a>
                                <!--Contains-->
                                <!--{{entry.linkedParts[$index+0].linkedParts.length}}-->
                                <!--<span ng-if="entry.linkedParts[$index+0].linkedParts.length==1">part</span><span-->
                                <!--ng-if="entry.linkedParts[$index+0].linkedParts.length>1">parts</span>-->
                            </div>
                            <div style="display: block; margin-bottom: .2em;
                        color: #888; padding: .75em .5em;"><b>{{entry.linkedParts[$index+0].type}} <a
                                    ng-href="/entry/{{entry.linkedParts[$index+0].id}}"
                                    style="color: #000">{{entry.linkedParts[$index+0].name}}</a></b>
                            </div>

                            <div style="background-color: #999; color: #fff; padding: 3px; text-align: center">No
                                Sequence
                            </div>
                            <p style="clear: both; margin: 0; padding: .75em .5em; color: #888;">

                                {{entry.linkedParts[$index+0].shortDescription}}</p>
                        </div>
                    </div>

                    <div class="col-sm-6" ng-if="entry.linkedParts[$index+1]">
                        <div style="width: 320px; font-size: 0.90em; margin-top: 8px; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); border-radius: 4px;
                    background-color: #f5f5f5">
                            <div class="pull-right font-90em" style="padding: .75em .5em;">Contains
                                {{entry.linkedParts[$index+1].linkedParts.length}}
                                <span ng-if="entry.linkedParts[$index+1].linkedParts.length==1">part</span><span
                                        ng-if="entry.linkedParts[$index+1].linkedParts.length>1">parts</span>
                            </div>
                            <div style="display: block; margin-bottom: .2em;
                        color: rgba(0,0,0,.7); padding: .75em .5em;"><b>{{entry.linkedParts[$index+1].type}} <a
                                    ng-href="/entry/{{entry.linkedParts[$index+1].id}}"
                                    style="color: #000">{{entry.linkedParts[$index+1].name}}</a></b>
                            </div>

                            <div style="background-color: #999; color: #fff; padding: 3px; text-align: center">No
                                Sequence
                            </div>
                            <p style="clear: both; margin: 0; color: rgba(0,0,0,.45);padding: .75em .5em;">
                                {{entry.linkedParts[$index+1].shortDescription}}</p>
                        </div>
                    </div>
                </div>
            </span>
        </div>
    </div>
</div>

<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="entry-details-subheader">
            <strong style="color: #233559;">SEQUENCE</strong>

            <!-- menu if no sequence then [Create in VE | Upload File | Paste -->
            <div class="pull-right" ng-if='!entry.hasSequence'>
                <i class="fa fa-external-link blue font-75em"></i>
                <small class="opacity_hover" style="text-decoration: none" ng-click="open()"
                       target="_blank">Create in VectorEditor
                </small>
                <span style="font-weight: normal; color: #e3e3e3">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <small class="opacity_hover"><i class="fa fa-upload"></i> Upload File</small>
                <span style="font-weight: normal; color: #e3e3e3">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <small class="opacity_hover"><i class="fa fa-paste"></i> Paste Sequence</small>
            </div>

            <!--menu if entry sequence exists-->
            <div class="pull-right" ng-if='entry.hasSequence'>
                <div class="open_sequence_sub_link">Delete</div>
                <span style="font-weight: normal; color: #ccc">|</span>

                <div class="open_sequence_sub_link" ng-click="open()">Open in VectorEditor <i
                        class="fa fa-external-link blue"></i></div>

                <span style="font-weight: normal; color: #ccc">|</span>

                <div class="dropdown open_sequence_sub_link">
                    <span class="dropdown-toggle">Download <span class="caret"></span></span>
                    <ul class="dropdown-menu">
                        <li class="cursor_pointer font-80em"><a>Original</a></li>
                        <li class="cursor_pointer font-80em">
                            <a ng-click="linkCreateType='plasmid'"><i>Genbank</i></a>
                        </li>
                        <li class="cursor_pointer font-80em">
                            <a ng-click="linkCreateType='strain'"><i>FASTA</i></a>
                        </li>
                        <li class="cursor_pointer font-80em">
                            <a ng-click="linkCreateType='part'"><i>SBOL</i></a>
                        </li>
                        <li class="cursor_pointer font-80em">
                            <a ng-click="linkCreateType='seed'"><i>Pigeon Image</i></a>
                        </li>
                        <li class="cursor_pointer font-80em">
                            <a ng-click="linkCreateType='seed'"><i>Pigeon Script</i></a>
                        </li>
                    </ul>
                </div>

                <span style="font-weight: normal; color: #ccc">|</span>

                <div class="open_sequence_sub_link" ng-click="sbolShowHide()">
                    <span ng-show="showSBOL">Hide</span>
                    <span ng-hide="showSBOL">Show</span> Pigeon Image
                </div>
            </div>
        </div>

        <!--area where sequence is when there is no sequence available -->
        <div class="pad_top font-90em" ng-if='!entry.hasSequence' style="color: #999;">
            <i style="color: #999">No sequence data provided.</i>
            <alert type="'info'" style="margin-bottom: 10px; margin-top: 10px">
                <i style="font-size: 18px" class="fa fa-info-circle pull-left"></i> Supported file formats are
                Genbank, Fasta and SBOL
            </alert>

            <alert type="'danger'" style="margin-bottom: 10px" ng-if="serverError">
                <i style="font-size: 18px" class="fa fa-exclamation-triangle pull-left"></i> Error parsing file
            </alert>

            <!--file upload-->
            <span ng-if="!isPaste && !processingFile && isFileUpload">
                <div class="margin-top-20"><input ng-file-select type="file"/></div>
                <div style="height: 7px; background-color: #f9f9f9;">
                    <div class="progress-bar" role="progressbar"
                         ng-style="{ 'width': sequenceFileUpload.progress + '%' }"></div>
                </div>
            </span>

            <span ng-if="processingFile">
                <i class="fa fa-spinner fa-gear"></i> Processing file {{processingFile}}
            </span>

            <!--sequence paste-->
            <textarea ng-show="isPaste===true &&!processingFile" ng-model="pastedSequence" class="input_box"
                      placeholder="Paste sequence" rows="14"
                      style="width: 100%; height: 100%;"></textarea>
        </div>

        <!--sbol-->
        <div style="width: 100%; overflow: auto; position: relative; zoom: 1;" ng-if='entry.hasSequence'
             ng-show="showSBOL">
            <div style="width: 0;">
                <img height="130px"
                     ng-src="/download?type=sbol_visual&amp;id={{entry.sbolVisualURL}}&amp;sid={{sessionId}}">
            </div>
        </div>

        <br>

        <div ng-show="entry.hasSequence" style="height: 600px">
            <span ice-flash></span>
        </div>
    </div>
</div>
