<div ng-controller="EntrySampleController">
    <div class="row pad_top" ng-if="entry.canEdit||samples.length>0">
        <div class="col-md-12">
            <button type="button" ng-click="addSample=true" class="ice-button" ng-if="entry.canEdit">
                <i style="font-size: 14px; color: #007dbc" class="fa fa-plus"></i> Add Sample
            </button>
        <span ng-if="samples && samples.length">
            &nbsp;
            <button ng-if="!samples[0].inCart" ng-click="openAddToCart()" type="button" class="ice-button">
                <i style="font-size: 14px; color: #007dbc" class="fa fa-shopping-cart"></i> Add to Cart
            </button>
            <button ng-if="samples[0].inCart" ng-click="removeFromCart(null, entry);samples[0].inCart=false"
                    type="button" class="ice-button">
                <i style="font-size: 14px;" class="fa fa-ban text-danger"></i> Remove From Cart
            </button>
        </span>

            <div class="pad-top-5" data-ng-show="true" style="margin-left: 50px">
                <form name="createCommentForm" data-ng-submit="createComment()" class="entry-form">
                    <textarea class="input_box" data-ng-model="newComment.message" placeholder="Enter comment" rows="6"
                              cols="70"></textarea>

                    <div ng-if="entrySamples" style="vertical-align: top; padding-bottom: 15px">
                        <b class="font-90em">Affected Samples</b><br>
                        <label class="checkbox-inline font-90em" ng-repeat="sample in entrySamples">
                            <input type="checkbox" ng-model="newComment.sample">{{sample.label}}
                        </label>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                        <button type="button" data-ng-click="addComment=false" class="btn btn-default btn-sm">Cancel
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="row pad_top" ng-if="samples.length===0">
        <div class="col-md-12">
            <i class="text-muted">No samples available</i>
        </div>
    </div>

    <div class="row pad_top" ng-repeat="sample in samples" ng-if="samples.length > 0">
        <div class="col-md-12">

            <!--widget for plate 96 (should be a directive)-->
            <div class="row" ng-if="sample.type==='PLATE96'&&$index % 2 == 0">
                <div class="col-md-6" ng-if="samples[$index+0]">
                    <table class="entry_sample_panel" ng-init="samp=samples[$index+0]">
                        <tr>
                            <td colspan="{{Plate96Cols.length+1}}">
                                <strong style="color: #a52a2a">PLATE {{samp.main.display}} </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td class="text-center" ng-repeat="col in Plate96Cols"><strong>{{col}}</strong></td>
                        </tr>
                        <tr ng-repeat="row in Plate96Rows">
                            <td><strong>{{row}}</strong>&nbsp;</td>
                            <td ng-repeat="col in Plate96Cols track by $id(col)">
                                <i class="fa fa-circle-thin opacity_hover" style="font-size: 30px"
                                   ng-if="row + (10+col+'').slice(-2) !== samp.well.display"></i>
                                <i class="fa fa-circle" ng-class="{'green':samp.tube, 'alert_color':!samp.tube}"
                                   style="font-size: 30px" ng-if="row + (10+col+'').slice(-2) === samp.well.display"
                                   title="{{samp.tube.display}}"></i>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="{{Plate96Cols.length+1}}" class="font-75em">
                                <div style="height: 1px; margin: 9px 0; overflow: hidden; background-color: #e5e5e5;"></div>
                                <strong>{{samp.label}}</strong><br>
                                <span style="color: #777">{{samp.creationTime | date : 'short'}}</span> - <a
                                    ng-href="/profile/{{samp.depositor.id}}">{{samp.depositor.firstName}}
                                {{samp.depositor.lastName}}</a>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col-md-6" ng-if="samples[$index+1]">
                    <table class="entry_sample_panel" ng-init="rightSamp=samples[$index+1]">
                        <tr>
                            <td colspan="{{Plate96Cols.length+1}}">
                                <strong style="color: #a52a2a">PLATE {{rightSamp.main.display}} </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td class="text-center" ng-repeat="col in Plate96Cols"><strong>{{col}}</strong></td>
                        </tr>
                        <tr ng-repeat="row in Plate96Rows">
                            <td><strong>{{row}}</strong>&nbsp;</td>
                            <td ng-repeat="col in Plate96Cols track by $id(col)">
                                <i class="fa fa-circle-thin opacity_hover" style="font-size: 30px"
                                   ng-if="row + (10+col+'').slice(-2) !== rightSamp.well.display"></i>
                                <i class="fa fa-circle"
                                   ng-class="{'green':rightSamp.tube, 'alert_color':!rightSamp.tube}"
                                   style="font-size: 30px"
                                   ng-if="row + (10+col+'').slice(-2) === rightSamp.well.display"
                                   title="{{rightSamp.tube.display}}"></i>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="{{Plate96Cols.length+1}}" class="font-75em">
                                <div style="height: 1px; margin: 9px 0; overflow: hidden; background-color: #e5e5e5;"></div>
                                <strong>{{rightSamp.label}}</strong><br>
                                <span style="color: #777">{{rightSamp.creationTime | date : 'short'}}</span> - <a
                                    ng-href="/profile/{{rightSamp.depositor.id}}">{{rightSamp.depositor.firstName}}
                                {{rightSamp.depositor.lastName}}</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row col-md-6" ng-if="sample.type==='SHELF'">
                <table class="entry_sample_panel">
                    <tr>
                        <td colspan="4"><strong style="color: #a52a2a;">SHELF {{sample.main.display}} </strong></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td class="pad-8">
                            <h3 class="text-center">Box
                                <small>{{sample.box.display}}</small>
                            </h3>
                        </td>
                        <td class="pad-8">
                            <h2 class="text-center">Well
                                <small>{{sample.well.display}}</small>
                            </h2>
                        </td>
                        <td class="pad-8">
                            <h1>Tube
                                <small>{{sample.tube.display}}</small>
                            </h1>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="font-75em">
                            <div style="height: 1px; margin: 9px 0; overflow: hidden; background-color: #e5e5e5;"></div>
                            <strong>{{sample.label}}</strong><br>
                            <span style="color: #777">{{sample.creationTime | date : 'short'}}</span> - <a
                                ng-href="/profile/{{sample.depositor.id}}">{{sample.depositor.firstName}}
                            {{sample.depositor.lastName}}</a>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="row col-md-6" ng-if="sample.type==='GENERIC'">
                <table class="entry_sample_panel">
                    <tr>
                        <td colspan="4"><strong style="color: #a52a2a;">GENERIC </strong></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td class="pad-8">
                            &nbsp;
                        </td>
                        <td class="pad-8">
                            <h2 class="text-center">
                                <i class="fa fa-flask"></i>
                            </h2>
                        </td>
                        <td class="pad-8">
                            <h1>Tube
                                <small>{{sample.tube.display}}</small>
                            </h1>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="font-75em">
                            <div style="height: 1px; margin: 9px 0; overflow: hidden; background-color: #e5e5e5;"></div>
                            <strong>{{sample.label}}</strong><br>
                            <span style="color: #777">{{sample.creationTime | date : 'short'}}</span> - <a
                                ng-href="/profile/{{sample.depositor.id}}">{{sample.depositor.firstName}}
                            {{sample.depositor.lastName}}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
