<div class="input-group input-group-sm" [ngClass]="{'w-25': halfWidth}">
    <input class="form-control" [maxDate]="maxDate" [minDate]="minDate"
           [ngClass]="{'is-invalid': validDate || field.isInvalid}" [(ngModel)]="selectedDate"
           id="infectionDate" (dateSelect)="dateSelected($event)" (blur)="dateSelected()"
           placeholder="mm/dd/yyyy" name="dp" ngbDatepicker #d="ngbDatepicker">
    <span class="input-group-text" (click)="d.toggle()" type="button">
        <i class="bi bi-calendar-date"></i>
    </span>
</div>
