@def selectionBorderWidth 2px;
.cellTableWidget {
}

.cellTableFirstColumn {
}

.cellTableLastColumn {
}

.cellTableFooter {
}

.cellTableHeader {
}

.cellTableCell {
	padding: 2px;
    overflow: hidden;
    border-bottom: 1px solid #F3F3F3;
    color: #333333;
    font-family: arial;
    font-size: 0.75em;
    overflow: hidden;
}

.cellTableFirstColumnFooter {
  
}

.cellTableFirstColumnHeader {
  
}

.cellTableLastColumnFooter {
  
}

.cellTableLastColumnHeader {
  
}


.cellTableSortableHeader {
}

.cellTableSortableHeader:hover {
}

.cellTableSortedHeaderAscending {

}

.cellTableSortedHeaderDescending {

}

.cellTableEvenRow {
	background-color: #FcFcFc;
}

.cellTableEvenRowCell {
	
}

.cellTableOddRow {
}

.cellTableOddRowCell {
}

.cellTableHoveredRow {
  background-color: #F1F1F1;
  cursor: pointer;
  border: 1px solid #EEE;
}

.cellTableHoveredRowCell {
}

.cellTableKeyboardSelectedRow {
}

.cellTableKeyboardSelectedRowCell {
}

.cellTableSelectedRow {
  color: #0082C0;
  font-weight: bold;
  height: auto;
  overflow: auto;
}

.cellTableSelectedRowCell {
	background-color: #f3f1d9;
}

/**
 * The keyboard selected cell is visible over selection.
 */
.cellTableKeyboardSelectedCell {
}

.cellTableLoading {
}
