.subMenuCreateNew {
    height: 26px;
    color: #f2f2f2;
    font-weight: bold;
    background-color: #709F35;
    border: 1px solid #3f7f00;
    cursor: pointer;
    font-size: 0.80em;
    line-height: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family: Arial;
    background-image: -webkit-linear-gradient(top, #5FBF00, #3F7F00);
    background-image: -o-linear-gradient(top, #5FBF00, #3F7F00);
    background-image: linear-gradient(to bottom, #5FBF00, #3F7F00);
    background-image: -moz-linear-gradient(top, #5FBF00, #3F7F00);
}

.subMenuCreateNew:hover {
    color: #FFF;
    border: 1px solid #333;
    box-shadow: 0 0 1px 1px #ddd;
}

.cellListKeyboardSelectedItem {
}

.cellListOddItem, .cellListEvenItem {
    padding: 4px;
    padding-left: 10px;
    cursor: pointer;
    border-radius: 2px;
}

.cellListOddItem:hover, .cellListEvenItem:hover {
    background-color: #ededed;
}

.cellListSelectedItem {
    background-color: #F1F1F1;
    border: 1px solid #BBB;
    color: #333;
}

.cellListWidget {
    background-color: #FFF;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 180px;
    font-family: arial;
    font-size: 13px;
}

