@sprite .subMenuCreateNew {
    height: 26px;
    width: 106px;
    gwt-image: 'sortDown';
    color: #f3f3f3;
    background-position: 90px 9px;
    padding-right: 12px;
    background-color: #709F35;
    font-weight: bold;
    border: 1px solid #777;
    cursor: pointer;
    font-size: 0.75em;
    text-align: center;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    font-family: Arial;
}

.subMenuCreateNew:hover {
	color: #FFF;
	border: 1px solid #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#afdf40), to(#709F35));
    background: -moz-linear-gradient(top,  #afdf40,  #709F35);
}

.cellListKeyboardSelectedItem {
}

.cellListOddItem, .cellListEvenItem {
    padding: 4px;
    padding-left: 10px;
    cursor: pointer;
    border-radius: 2px;
}

.cellListOddItem:hover, .cellListEvenItem:hover {
    background-color: #ededed;
}

.cellListSelectedItem {
    background-color: #F1F1F1;
    border: 1px solid #BBB;
    color: #333;
}

.cellListWidget {
    background-color: #FFF;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 180px;
    font-family: arial;
    font-size: 13px;
}

