.cellTableOddRow {
	background: #FAFAFA;
}

.cellTableWidget {
  
}

.cellTableFirstColumn {
  
}

.cellTableLastColumn {
  
}

@sprite .cellTableFooter {
	
  gwt-image: 'cellTableFooterBackground';
  background-color: #b4d0f8;
  border-top: 1px solid #88b0f2;
  border-left: 1px solid #88b0f2;
  border-right: 1px solid #eef;
  padding: 0px 10px;
  text-align: left;
  color: #4b4a4a;
  text-shadow: #ddf 1px 1px 0;
  overflow: hidden;
}

.cellTableHeader {
	background-color: #F0F0F0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    white-space: nowrap;
    border-right: 1px solid #ccc;
    padding-left: 4px;
}

.cellTableCell {
  padding-left: 4px;
  overflow: hidden;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;  
}


.cellTableFirstColumnFooter {
  border-left: 0px;
}

.cellTableFirstColumnHeader {
  border-left: 0px;
}

.cellTableLastColumnFooter {
  
}

.cellTableLastColumnHeader {
  
}

.cellTableSortableHeader {
  cursor: pointer;
  cursor: hand;
}

.cellTableSortableHeader:hover {
  color: #6c6b6b;
}

.cellTableSortedHeaderAscending {

}

.cellTableSortedHeaderDescending {

}

.cellTableEvenRow {
  background: #ffffff;
}

.cellTableEvenRowCell {
  
}

.cellTableOddRowCell {
  
}

.cellTableHoveredRow {
  background: #eee;
}

.cellTableHoveredRowCell {
  
}

.cellTableKeyboardSelectedRow {
  background: #ffc;
}

.cellTableKeyboardSelectedRowCell {
  
}

@sprite .cellTableSelectedRow {
  gwt-image: 'cellTableSelectedBackground';
  background-color: #628cd5;
  color: white;
  height: auto;
  overflow: auto;
}

.cellTableSelectedRowCell {
  background: #628cd5;
}

.cellTableKeyboardSelectedCell {
  background: #d7dde8;
}

.cellTableLoading {
  margin: 30px;
}