.panel {
    width: 300px;
    padding: 5px;
    background-color: #f7e08f;
    font-size: 0.80em;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 2px #bbb;
    -moz-box-shadow: 1px 1px 2px #bbb;
    text-align: left;
}

.error {
    color: #ee5642;
    display: inline;
}

.success {
    color: #555;
    display: inline;
}

.img {
    vertical-align: -25%;
}

