.panel {
    width: 300px;
    padding: 5px;
    background-color: #f7e08f;
    font-size: 0.80em;
    border-radius: 3px;
    text-align: left;
}

.error {
    color: #ee5642;
    display: inline;
}

.success {
    color: #555;
    display: inline;
}

.img {
    vertical-align: -25%;
}

