.cellListWidget {
    color: #185DA0;
}

.cellListEvenItem {
  cursor: pointer;
  zoom: 1;
}

.cellListOddItem {
  cursor: pointer;
  zoom: 1;
}

.cellListKeyboardSelectedItem {
  background-color: #FAFAFA;
}

.cellListSelectedItem {
  background-color: #FAFAFA;
  color: #9EC068;
  height: auto;
  overflow: visible;
  font-weight: bold;
}

