.cellListKeyboardSelectedItem {
}

.cellListOddItem, .cellListEvenItem {
    padding: 4px;
    padding-left: 10px;
    cursor: pointer;
    border-radius: 2px;
}

.cellListSelectedItem {
    background-color: #F1F1F1;
    border: 1px solid #BBB;
    color: #333;
}

.cellListOddItem:hover, .cellListEvenItem:hover {
    background-color: #ededed;
}

.cellListWidget {
    background-color: #FFF;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 152px;
    font-family: Arial;
    font-size: 11px;
}