.buttonAddTo {
    border-right: 0px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 90px;
}

.buttonAddTo:hover i > icon-plus {
    color: #709F35
}

.buttonRemove {
    width: 80px;
}

.buttonMoveTo {
    border-left: 0px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 93px;
    margin-right: 12px;
}

.buttonGroupItem {
    cursor: pointer;
    color: #393939;
    font-weight: bold;
    font-size: 0.75em;
    text-align: center;
    border-top: 2px solid #f1f1f1;
    font-family: Arial, serif;
    border: 1px solid #c2c2c2;
    height: 26px;
    background-image: -webkit-linear-gradient(top, #FEFEFE, #F2F2F2);
    background-image: -o-linear-gradient(top, #FEFEFE, #F2F2F2);
    background-image: linear-gradient(to bottom, #FEFEFE, #F2F2F2);
    background-image: -moz-linear-gradient(top, #FEFEFE, #F2F2F2);
}

.buttonGroupItem:hover {
    border-top: 2px solid #0082C0;
    background-color: #f2f2f2;
    color: #0f3f33;
}

.buttonGroupItem[disabled] {
    opacity: 0.3;
}

.buttonGroupItem[disabled]:hover {
    border-top: 2px solid #f1f1f1;
    cursor: default;
    border-top: 1px solid #c2c2c2;
}

