.subMenuTransfer {
    height: 28px;
    cursor: pointer;
    color: #393939;
    font-weight: bold;
    font-size: 0.75em;
    text-align: center;
    border-radius: 2px;
    font-family: Arial;
    border: 1px solid;
    border-color: #DDDDDD #DDDDDD #C5C5C5;
    background-image: linear-gradient(#FCFCFC, #ECECEC);
}

.subMenuTransfer:hover {
    border: 1px solid #A5A5A5;
    background-color: #f2f2f2;
    background-image: linear-gradient(#FEFEFE, #F2F2F2);
    color: #111;
    box-shadow: 0 0 1px 1px #DEDEDE;
}

.subMenuTransfer[disabled] {
    height: 28px;
    color: #393939;
    font-weight: bold;
    font-size: 0.75em;
    text-align: center;
    background-color: #c2c2c2;
    border: 1px solid #c2c2c2;
    border-radius: 2px;
    font-family: Arial;
    opacity: 0.4;
    background-image: linear-gradient(#f1f1f1, #F2F2F2);
}

.subMenuTransfer[disabled]:hover {
    cursor: default;
    box-shadow: 0 0 0 0 #ddd;
    border-top: 1px solid #c2c2c2;
}

.cellListKeyboardSelectedItem {
}

.cellListOddItem, .cellListEvenItem {
    padding: 4px;
    padding-left: 10px;
    cursor: pointer;
    border-radius: 2px;
}

.cellListSelectedItem {
    background-color: #F1F1F1;
    border: 1px solid #BBB;
    color: #333;
}

.cellListOddItem:hover, .cellListEvenItem:hover {
    background-color: #ededed;
}

.cellListWidget {
    background-color: #FFF;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 120px;
    font-family: Arial;
    font-size: 13px;
}