<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <span class="bebas modal-title" style="color: #657B83;font-size: 19px">
        <i class="fa fa-key"></i> &nbsp;Request API Key</span>
</div>

<div class="modal-body" ng-if="!apiKey">
    <div class="alert alert-info" style="padding: 8px">
        <i style="font-size: 60px; float: left; padding-right: 10px; color: #3a87ad" class="fa fa-info-circle"></i>
        <span class="font-90em">
            Enter a <b>client identifier</b> to request an API key. API keys enable third party application access to
            this ICE instance. If your application is web-based, the use of the domain name is recommended.
            Duplicate domain names are not permitted.
        </span>
    </div>

    <div class="alert alert-danger" style="padding: 8px" ng-if="errorCreatingKey">
        <i style="font-size:23px; float: left; padding-right:10px" class="fa fa-exclamation-triangle red"></i>
        <span class="font-90em">
           Error creating API key. Potential cause is a duplicate client id.
        </span>
    </div>

    <br>

    <form>
        <label>Client ID</label> &nbsp;
        <input type="text" placeholder="app.example.com"
               ng-class="{'input_box':!clientIdValidationError, 'input_box_error':clientIdValidationError}"
               style="width: 280px; padding: 6px" ng-model="client.id">

        <div class="btn-group font-80em">
            <span class="cursor_pointer" ng-click="client.readOnly = !client.readOnly">
                <i class="fa fa-fw"
                   ng-class="{'fa-square-o': !client.readOnly, 'fa-check-square-o' : client.readOnly}"></i>
                <span ng-class="{'font-bold': client.readOnly}">read only</span>
            </span>
            <br>
            <span ng-if="user.isAdmin" class="cursor_pointer" ng-click="client.allowDelegate = !client.allowDelegate">
                <i class="fa fa-fw" ng-class="{'fa-square-o': !client.allowDelegate,
                'fa-check-square-o' : client.allowDelegate}"></i>
                <span ng-class="{'font-bold': client.allowDelegate}">allow delegation</span>
            </span>
        </div>

        &nbsp; &nbsp; &nbsp;

        <button type="button" class="btn btn-sm btn-primary" ng-click="generateToken()">Generate</button>
    </form>

    <br>

</div>

<div class="modal-body" ng-if="apiKey">
    <div class="alert alert-success" style="padding: 8px">
        <i style="font-size:40px; float: left; padding-right:10px;" class="fa fa-check-circle text-success"></i>
        <span class="font-90em">
            New API Key created successfully.
            include the headers below when accessing the ICE API. Please note that the token cannot be
            recovered if lost and will have to be regenerated.
        </span>
    </div>

    <br>

    <dl class="dl-horizontal">
        <dt>X-ICE-API-Token-Client</dt>
        <dd>{{apiKey.clientId}}</dd>

        <dt>X-ICE-API-Token</dt>
        <dd>{{apiKey.token}}</dd>

        <dt>X-ICE-API-Token-Owner</dt>
        <dd>{{apiKey.account.email}}</dd>
    </dl>
</div>

<div class="modal-footer" ng-if="apiKey">
    <button class="btn btn-primary btn-sm" ng-click="cancel()">OK</button>
</div>
