<div class="font-90em">
    <div ng-if="currentTooltip.alias"><b style="color: #4d4f53">Alias</b>: {{currentTooltip.alias}}</div>
    <div ng-if="currentTooltip.selectionMarkers && currentTooltip.selectionMarkers.length"><b style="color: #4d4f53">Selection
        Markers</b>:
        {{currentTooltip.selectionMarkers.toString()}}
    </div>
    <div ng-if="currentTooltip.backbone"><b style="color: #4d4f53">Backbone</b>: {{currentTooltip.backbone}}</div>
    <div><b style="color: #4d4f53">Creator</b>: {{currentTooltip.creator}}</div>
    <div ng-if="currentTooltip.originOfReplication"><b style="color: #4d4f53">Origin of Replication</b>:
        {{currentTooltip.originOfReplication}}
    </div>
    <div><b style="color: #4d4f53">Owner</b>: {{currentTooltip.owner}}</div>
    <div ng-if="currentTooltip.links"><b style="color: #4d4f53">Links</b>: {{currentTooltip.links}}</div>
    <div ng-if="currentTooltip.replicatesIn"><b style="color: #4d4f53">Replicates In</b>:
        {{currentTooltip.replicatesIn}}
    </div>
    <div><b style="color: #4d4f53">Bio Safety Level</b>: {{currentTooltip.bioSafetyLevel}}</div>
    <div ng-if="currentTooltip.promoters"><b style="color: #4d4f53">Promoters</b>: {{currentTooltip.promoters}}</div>
    <div ng-if="currentTooltip.keywords"><b style="color: #4d4f53">Keywords</b>: {{currentTooltip.keywords}}</div>
    <div ng-if="currentTooltip.references"><b style="color: #4d4f53">References</b>: {{currentTooltip.references}}</div>
    <div ng-if="currentTooltip.fundingSource"><b style="color: #4d4f53">Funding Source</b>:
        {{currentTooltip.fundingSource}}
    </div>
    <div class="no_wrap"><b style="color: #4d4f53">Principal Investigator</b>: {{currentTooltip.principalInvestigator |
        truncate:22}}
    </div>
    <div><b style="color: #4d4f53">Modified</b>: {{currentTooltip.modificationTime | date:'medium'}}</div>
    <div ng-if="currentTooltip.intellectualProperty"><b style="color: #4d4f53">IP Information</b>:
        {{currentTooltip.intellectualProperty}}
    </div>
</div>
