<table cellpadding="0" cellspacing="0" style="width: 100%;" border="0px">
<tr>
    <td height="30px" class="entry_general_header_td">
        <table cellpadding="0" cellspacing="0" border="0px" width="100%">
            <tr>
                <td><i class="fa fa-arrow-circle-left font-awesome entry_go_back" title="Back"></i></td>
                <td class="entry_general_info_header" style="white-space: nowrap;"><span
                        style="color: #888; letter-spacing: -1px;">{{entry.type}}</span> {{entry.name}}<br><span
                        style="font-weight: normal; font-size: 10px; text-transform: uppercase; color: #999;">Dec 17, 2013 11:01 PM - <a
                        href="/profile/{{entry.ownerId}}">{{entry.owner}}</a></span></td>
                <td width="100%">

                    <table cellpadding="0" cellspacing="5" style="">
                        <tr>
                            <td class="pad-left-40">
                                <div class="edit_icon" title="Edit Tags">
                                    <i class="fa fa-tag" style="font-size: 14px; color: green;"></i><span
                                        style="position: relative; right: 5px"><i class="fa fa-tag"
                                                                                  style="font-size: 14px; color: purple;"></i></span><span
                                        class="font-80em">Tags</span> <i class="fa fa-caret-down"
                                                                         style="font-size: 14px;"></i></div>
                            </td>

                            <td>
                                <div class="gwt-HTML"><span style="color: #ccc">&nbsp;|&nbsp;</span></div>
                            </td>

                            <td>
                                <div class="flag_icon"><i style="font-size: 14px;" class="fa fa-link"></i> <span
                                        class="font-80em">Link</span></div>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>
    </td>
    <!-- spacer -->
    <td class="entry_general_header_td">&nbsp;&nbsp;</td>

    <td class="entry_general_header_td">
        <div class="pad-6"><span id="leftBtn"><i
                class="fa fa-chevron-circle-left context_nav_pager nav_disabled"></i></span><span id="navText"
                                                                                                  style="position:relative; top: -3px"><div
                class="display-inline font-80em pad-6">1 of 109
        </div></span><span id="rightBtn"><i
                class="fa fa-chevron-circle-right context_nav_pager nav"></i></span></div>
    </td>
</tr>
<tr>
<td width="100%" style="vertical-align: top;">
<table cellpadding="3" cellspacing="0" class="pad-6" style="width: 100%;">
<colgroup>
    <col>
</colgroup>
<tbody>
<tr>
    <td class="font-80em color_444 font-bold line_height_18" width="170px" style="vertical-align: top;">
        Part ID
    </td>
    <td class="font-80em line_height_18 min_width_150" style="vertical-align: top;">{{entry.partId}}</td>
    <td class="font-80em color_444 font-bold line_height_18" width="170px" style="vertical-align: top;">
        Name
    </td>
    <td class="font-80em line_height_18 min_width_150" style="vertical-align: top;">{{entry.name}}</td>
</tr>
<tr>
    <td class="font-80em color_444 font-bold line_height_18" width="170px" style="vertical-align: top;">
        Alias
    </td>
    <td class="font-80em line_height_18 min_width_150" style="vertical-align: top;">{{entry.alias}}</td>
    <td class="font-80em color_444 font-bold line_height_18" width="170px" style="vertical-align: top;">
        Creator
    </td>
    <td class="min_width_150 line_height_18" style="vertical-align: top;">
        <div class="gwt-Hyperlink font-80em"><a href="/profile">{{entry.creator}}</a>
        </div>
    </td>
</tr>
<tr>
    <td class="font-80em color_444 font-bold line_height_18" width="170px" style="vertical-align: top;">
        Principal Investigator
    </td>
    <td class="font-80em line_height_18 min_width_150" style="vertical-align: top;">{{entry.principalInvestigator}}</td>
    <td class="font-80em color_444 font-bold line_height_18" width="170px" style="vertical-align: top;">
        Funding Source
    </td>
    <td class="font-80em line_height_18 min_width_150" style="vertical-align: top;">Department of Energy</td>
</tr>
<tr>
    <td class="font-80em color_444 font-bold line_height_18" width="170px" style="vertical-align: top;">
        Status
    </td>
    <td class="font-80em line_height_18 min_width_150" style="vertical-align: top;">Planned</td>
    <td class="font-80em color_444 font-bold line_height_18" width="170px" style="vertical-align: top;">
        Bio Safety Level
    </td>
    <td class="font-80em line_height_18 min_width_150" style="vertical-align: top;">Level 1</td>
</tr>
<tr>
    <td class="font-80em color_444 font-bold line_height_18" width="170px" style="vertical-align: top;">
        Modified
    </td>
    <td class="font-80em line_height_18 min_width_150" style="vertical-align: top;">Dec 18, 2013 11:27
        AM
    </td>
    <td class="font-80em color_444 font-bold line_height_18" width="170px" style="vertical-align: top;">
        Strains
    </td>
    <td class="min_width_150 line_height_18" style="vertical-align: top;">
        <div class="gwt-HTML font-80em"></div>
    </td>
</tr>
<tr>
    <td class="font-80em color_444 font-bold line_height_18" width="170px" style="vertical-align: top;">
        Backbone
    </td>
    <td colspan="3"><span class="font-80em" style="display: block; word-wrap: break-word; width: 811px">pGT50</span>
    </td>
</tr>
<tr></tr>
<tr>
    <td class="font-80em color_444 font-bold line_height_18" width="170px" style="vertical-align: top;">
        Origin Of Replication
    </td>
    <td colspan="3"><span class="font-80em"
                          style="display: block; word-wrap: break-word; width: 811px"></span></td>
</tr>
<tr></tr>
<tr>
    <td class="font-80em color_444 font-bold line_height_18" width="170px" style="vertical-align: top;">
        Selection Markers
    </td>
    <td colspan="3"><span class="font-80em" style="display: block; word-wrap: break-word; width: 811px">amp</span>
    </td>
</tr>
<tr></tr>
<tr>
    <td class="font-80em color_444 font-bold line_height_18" width="170px" style="vertical-align: top;">
        Promoters
    </td>
    <td colspan="3"><span class="font-80em"
                          style="display: block; word-wrap: break-word; width: 811px"></span></td>
</tr>
<tr></tr>
<tr>
    <td class="font-80em color_444 font-bold line_height_18" width="170px" style="vertical-align: top;">
        Replicates In
    </td>
    <td colspan="3"><span class="font-80em"
                          style="display: block; word-wrap: break-word; width: 811px"></span></td>
</tr>
<tr></tr>
<tr>
    <td class="font-80em color_444 font-bold line_height_18" width="170px" style="vertical-align: top;">
        Links
    </td>
    <td colspan="3"><span class="font-80em"
                          style="display: block; word-wrap: break-word; width: 811px"></span></td>
</tr>
<tr></tr>
<tr>
    <td class="font-80em color_444 font-bold line_height_18" width="170px" style="vertical-align: top;">
        Keywords
    </td>
    <td colspan="3"><span class="font-80em"
                          style="display: block; word-wrap: break-word; width: 811px"></span></td>
</tr>
<tr></tr>
<tr>
    <td class="font-80em color_444 font-bold line_height_18" width="170px" style="vertical-align: top;">
        Summary
    </td>
    <td colspan="3"><span class="font-80em" style="display: block; word-wrap: break-word; width: 811px">integrating AaCYB5 and AaDBR2 into yprcdelta15 locus</span>
    </td>
</tr>
<tr></tr>
<tr>
    <td class="font-80em color_444 font-bold line_height_18" width="170px" style="vertical-align: top;">
        References
    </td>
    <td colspan="3"><span class="font-80em"
                          style="display: block; word-wrap: break-word; width: 811px"></span></td>
</tr>
<tr></tr>
<tr>
    <td class="font-80em color_444 font-bold line_height_18" width="170px" style="vertical-align: top;">
        Intellectual Property
    </td>
    <td colspan="3"><span class="font-80em"
                          style="display: block; word-wrap: break-word; width: 811px"></span></td>
</tr>
<tr>
    <td colspan="4">
        <table cellpadding="0" cellspacing="0" style="width: 100%;">
            <colgroup>
                <col>
            </colgroup>
            <tbody>
            <tr>
                <td colspan="6">
                    <div class="entry_sequence_sub_header">
                        <span style="color: #233559; font-weight: bold; font-size: 0.85em;">SEQUENCE</span>

                        <div style="float: right">
                                            <span id="delete_sequence_link">
                                                <div class="display-inline"><span id="delete_sequence_data_label">
                                                    <div class="open_sequence_sub_link">Delete</div></span><span
                                                        style="color: #262626; font-size: 0.75em;">|</span></div></span>
                            <span id="sequence_link"><div class="open_sequence_sub_link">Open in VectorEditor <i
                                    class="fa fa-external-link blue"></i></div></span>

                            <div class="display-inline"><span style="color: #262626; font-size: 0.75em;">|</span>
                            </div><span
                                id="sequence_options"><div class="open_sequence_sub_link"> Download <i
                                class="fa fa-caret-down"></i>
                        </div></span> <span style="color: #262626; font-size: 0.75em;">|</span> <span
                                id="sbol_visual"><div class="open_sequence_sub_link">Hide Pigeon Image</div></span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td height="10px" colspan="6">
                    <div class="gwt-Label"></div>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <div style="overflow: auto; position: relative; zoom: 1;">
                        <div style="position: relative; zoom: 1;">
                            <table cellspacing="0" cellpadding="0" style="width: 100%;">
                                <tr>
                                    <td align="left" style="vertical-align: top;">
                                        <div style="width: 0px;"><img height="150px" src="pigeon.png"></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td height="600px"><img src="swf.png" alt="">
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td colspan="4">
        <table cellpadding="0" cellspacing="0" class="margin-top-10" style="width: 100%;">
            <colgroup>
                <col>
            </colgroup>
            <tbody>
            <tr>
                <td class="entry_add_sub_header">
                    <div class="gwt-Label">Notes</div>
                </td>
            </tr>
            <tr>
                <td height="10px">
                    <div class="gwt-Label"></div>
                </td>
            </tr>
            <tr>
                <td><span class="font-80em"
                          style="display: block; word-wrap: break-word; width: 811px"></span></td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
</tbody>
</table>
</td>
<!-- spacer -->
<td>&nbsp;&nbsp;</td>

<td style="vertical-align: top;">
    <div class="entry_view_right_menu" id="entry_sub_header_div">
        <table cellpadding="0" cellspacing="0" class="entry_detail_submenu">
            <colgroup>
                <col>
            </colgroup>
            <tbody>
            <tr>
                <td class="selected">General Information</td>
            </tr>
            <tr>
                <td>Sequence Analysis<span style="float: right; color: #999;">0</span></td>
            </tr>
            <tr>
                <td>Comments<span style="float: right; color: #999;">0</span></td>
            </tr>
            <tr>
                <td>Samples<span style="float: right; color: #999;">0</span></td>
            </tr>
            </tbody>
        </table>
    </div>
    &nbsp;
    <div class="entry_view_right_menu" id="attachments_div">
        <table cellpadding="0" cellspacing="0" class="entry_attribute">
            <colgroup>
                <col>
            </colgroup>
            <tbody>
            <tr>
                <td class="entry_attributes_sub_header">
                    <table cellspacing="0" cellpadding="0" style="width: 100%;">
                        <tbody>
                        <tr>
                            <td align="left" style="vertical-align: top;">
                                <div class="gwt-HTML"><i class="fa fa-paperclip font-80em"></i> &nbsp;Attachments
                                </div>
                            </td>
                            <td align="right" style="vertical-align: top;"><i
                                    class="fa fa-plus-circle font-awesome edit_icon"
                                    ></i></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr aria-hidden="true" style="display: none;">
                <td>
                    <table cellspacing="0" cellpadding="0" style="width: 180px;">
                        <tbody>
                        <tr>
                            <td align="left" style="vertical-align: top;">
                                <form target="FormPanel_gwt_ice_7" enctype="multipart/form-data"
                                      method="post" style="width: 180px;"><input type="file"
                                                                                 class="font-75em"
                                                                                 name="uploadFormElement"
                                                                                 style="width: 180px;">
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="vertical-align: top;"><textarea
                                    class="attachment_description_input"
                                    placeholder="Enter File Description"></textarea></td>
                        </tr>
                        <tr>
                            <td align="right" style="vertical-align: top;">
                                <div><span id="upload_att"><button type="button" class="gwt-Button">Submit
                                </button></span>&nbsp;<span id="cancel_att"><div
                                        class="footer_feedback_widget font-70em display-inline">Cancel
                                </div></span></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="font-75em pad-6"><i style="color: #999">No attachments available</i></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="padding-top: 20px" class="entry_view_right_menu" id="permissions_div">
        <table cellpadding="0" cellspacing="0" class="entry_attribute" style="">
            <colgroup>
                <col>
            </colgroup>
            <tbody>
            <tr>
                <td class="entry_attributes_sub_header" colspan="2"><i class="fa fa-shield font-85em"></i>
                    &nbsp;Permissions
                </td>
            </tr>
            <tr>
                <td>
                    <div class="permission_tab_active">Can Read <span style="float: right"
                                                                      id="permission_read_add"><div
                            class="gwt-HTML edit_icon font-12em"><i class="fa fa-plus-circle"></i>
                    </div></span></div>
                </td>
                <td>
                    <div class="permission_tab_inactive">Can Edit <span style="float: right"
                                                                        id="permission_write_add"><div
                            class="gwt-HTML edit_icon font-12em"><b>1</b></div></span></div>
                </td>
            </tr>
            <tr aria-hidden="true" style="display: none;">
                <td colspan="2">
                    <div><span id="p_suggest_box"><input type="text" class="permission_input_suggest"
                                                         placeholder="Enter user/group name"
                                                         style="width: 160px;"></span> <span
                            id="suggest_cancel"><div class="display-inline"><i
                            class="delete_icon fa fa-times"></i></div></span></div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="2" class="permission_footer">
                    <div class="permission_footer_link"><i class="fa fa-globe"></i> Enable Public Read
                        Access
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="padding-top: 20px" class="entry_view_right_menu">
        <table cellpadding="0" cellspacing="0" class="entry_attribute" style="">
            <tr>
                <td class="entry_attributes_sub_header" colspan="2"><i class="fa fa-tasks font-85em"></i>
                    &nbsp;Similar Entries
                </td>
            </tr>
            <tr>
                <td colspan="2" class="permission_footer">
                    <div class="permission_footer_link"><i class="fa fa-arrow-left"></i>

                        <div style="width: 150px; display: inline">&nbsp;plasmid: abcs</div>
                        <i class="fa fa-arrow-right"></i>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</td>
</tr>
</tbody>
</table>

<svg version="1.1"
     baseProfile="full"
     width="300" height="200"
     xmlns="http://www.w3.org/2000/svg">

    <rect width="100%" height="100%" fill="red"/>

    <circle cx="150" cy="100" r="80" fill="green"/>

    <text x="150" y="125" font-size="60" text-anchor="middle" fill="white">SVG</text>

</svg>

