<table cellpadding="0" cellspacing="0" style="width: 100%;">
    <tr>
        <td>
            <div><span
                    style="margin-left: 12px; font-size: 12px; background-color: #92AFD7; text-shadow: #555 1px 1px 1px; color: #fefefe; padding: 5px; border-radius: 2px;">Last Login: Jan 30, 2014</span>
            </div>
        </td>
        <td>
            <div><span
                    style="font-size: 2em; color: #777; font-weight: bold;text-transform: uppercase;">Hector Plahar</span><br><span
                    style="font-size: 11px; font-weight: bold;text-transform: uppercase; position: relative; top: -6px; color: #999">Lawrence Berkeley Laboratory</span>
            </div>
        </td>
    </tr>
    <tr>
        <td width="200px" style="vertical-align: top;">
            <table class="profile_menu margin-top-20" cellpadding="0" cellspacing="0">
                <tr></tr>
                <tr>
                    <td class="selected"><i style="display: inline; margin-right: 10px;" class="fa fa-user fa-fw"></i>Profile
                    </td>
                </tr>
                <tr>
                    <td class=""><i style="display: inline; margin-right: 10px;" class="fa fa-cog fa-fw"></i>Preferences
                    </td>
                </tr>
                <tr>
                    <td class=""><i style="display: inline; margin-right: 10px;" class="fa fa-group fa-fw"></i>Groups
                    </td>
                </tr>
                <tr>
                    <td class=""><i style="display: inline; margin-right: 10px;" class="fa fa-envelope-o fa-fw"></i>Messages
                    </td>
                </tr>
                <tr>
                    <td class=""><i style="display: inline; margin-right: 10px;" class="fa fa-th-list fa-fw"></i>Entries
                    </td>
                </tr>
            </table>
        </td>
        <td style="vertical-align: top;">
            <table cellpadding="0" cellspacing="0" style="width: 100%;">
                <tr>
                    <td>
                        <div><br><span id="send_message_btn"><button type="button" class="gwt-Button" aria-hidden="true"
                                                                     style="display: none;"><i
                                class="blue fa fa-envelope"></i> Send Message
                        </button></span> <span id="edit_profile_btn"><button type="button" class="gwt-Button"
                                                                             aria-hidden="false" style=""><i
                                class="blue fa fa-edit"></i> Edit Profile
                        </button></span> <span id="change_password_btn"><button type="button" class="gwt-Button"
                                                                                aria-hidden="true"
                                                                                style="display: none;"><i
                                style="color: #007dbc" class="fa fa-key"></i> Change Password
                        </button></span></div>
                    </td>
                </tr>
                <tr>
                    <td class="pad_top"><i style="color: #999; font-size: 0.85em">No profile description provided.</i>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>