<table cellspacing="0" cellpadding="0" width="210px">
    <tr>
        <td class="collections_header">
            WEB OF REGISTRIES
        </td>
    </tr>
    <tr>
        <td>
            <div class="system_collection_user_menu_row">
                <i class="fa fa-files-o color_444" style="font-size: 14px"></i> <span class="collection_user_menu">Browse</span>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="system_collection_user_menu_row">
                <i class="fa fa-dot-circle-o color_444" style="font-size: 14px"></i>
                <span class="collection_user_menu">JBEI Public</span>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="system_collection_user_menu_row">
                <i class="fa fa-dot-circle-o color_444" style="font-size: 14px"></i> <span
                    class="collection_user_menu">Synberc</span>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="system_collection_user_menu_row">
                <i class="fa fa-dot-circle-o color_444" style="font-size: 14px"></i> <span
                    class="collection_user_menu">JGI</span>
            </div>
        </td>
    </tr>
</table>