<div class="container-fluid">
    <!--if subfolder-->
    <div class="row entry_general_header_td" style="height: 60px;" ng-if="folder.type">
        <div class="col-md-12">
            <table>
                <tr>
                    <td>
                        <h4>
                            <span style="white-space: nowrap">
                                <img alt="Loading..." ng-if="loadingPage" src="/img/loader-mini.gif"/>
                                <strong><span ng-if="selectedCollection" style="text-transform: uppercase; color: #888"> {{selectedCollection}}</span>
                                    {{folder.folderName}}</strong>
                                <span ng-if="folder.publicReadAccess">&nbsp;
                                    <small style="font-size: 12px; position: relative; top: -4px"
                                           tooltip="Available on web of registries"
                                           tooltip-placement="right" tooltip-trigger="mouseenter"
                                           class="label label-info cursor_pointer"><i class="fa fa-globe"></i>
                                        Public
                                    </small>
                                </span>
                            </span>

                            <div class="no_wrap">
                                <small class="font-65em" ng-if="folder.created">
                                    {{folder.created | date:'short'}}
                                </small>
                                <small ng-if="folder.type==='SHARED'" style="color: #333">
                                    <span style="color: #ccc; width: 1px">&nbsp;|&nbsp;</span>

                                    <span ng-repeat="permission in folder.accessPermissions" style="margin-right: 3px">
                                        <span class="label" tooltip="{{shareText(permission)}}"
                                              ng-class="{'bg_permission_group':permission.article==='GROUP', 'bg_permission_user':permission.article==='ACCOUNT'}">
                                             <i class="fa"
                                                ng-class="{'fa-group':permission.article==='GROUP', 'fa-user':permission.article==='ACCOUNT'}"></i> {{getDisplay(permission)}}
                                        </span>
                                    </span>
                                </small>
                            </div>
                        </h4>
                    </td>
                    <td style="padding-left: 40px">
                        <span ng-show="folder.id" folder-actions class="font-95em"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!--collections like 'personal', 'available' do not have a folderName-->
    <div class="row" ng-if="!folder.type">
        <div class="col-md-12 entry_general_header_td">
            <h4><img alt="Loading..." ng-if="loadingPage" src="/img/loader-mini.gif"/>
                <strong style="color: #888;text-transform: uppercase;">{{selectedFolder}}</strong>
                <!--<br><small class="font-65em">Folder Description</small>-->
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="pad_top" data-ng-show='!folder'>
            <img alt="Loading..." src="/img/loader-mini.gif"/> Loading...
        </div>

        <div class="pad_top" ng-show="folder && folder.entries.length == 0">
            No entries for selection
        </div>

        <table ng-if='folder && folder.entries.length > 0' cellspacing="0"
               class="table table-bordered table-responsive table-hover font-95em"
               ng-class="{'opacity_4':loadingPage}">
            <thead>
            <tr>
                <th>
                    <!--<i class="fa cursor_pointer"-->
                    <!--ng-class="{'fa-square-o':!showAllSelected, 'fa-check-square-o': showAllSelected}"-->
                    <!--style="color: #999; font-size: 14px;" ng-click="selectAll()"></i>-->
                    <!--<sup style="font-size: 9px; font-weight: normal; display: inherit"-->
                    <!--ng-show="selection.length>0">{{selection.length}}</sup>-->
                </th>
                <th ng-click="sort('type')" class="cursor_pointer">
                    <i ng-show="params.sort=='type'" style="font-size: 14px" class="fa opacity_4"
                       ng-class="{'fa-sort-down':params.asc==false, 'fa-sort-up':params.asc==true}"></i>
                    Type
                </th>
                <th ng-click="sort('part_id')" class="cursor_pointer">
                    <i ng-show="params.sort=='part_id'" style="font-size: 14px" class="fa opacity_4"
                       ng-class="{'fa-sort-down':params.asc==false, 'fa-sort-up':params.asc==true}"></i>
                    Part ID
                </th>
                <th data-ng-click="sort('name')" class="cursor_pointer">
                    <i ng-show="params.sort=='name'" style="font-size: 14px" class="fa opacity_4"
                       ng-class="{'fa-sort-down':params.asc==false, 'fa-sort-up':params.asc==true}"></i>
                    Name
                </th>
                <th ng-click="sort('summary')" class="cursor_pointer">
                    <i ng-show="params.sort=='summary'" style="font-size: 14px" class="fa opacity_4"
                       ng-class="{'fa-sort-down':params.asc==false, 'fa-sort-up':params.asc==true}"></i>
                    Summary
                </th>
                <th ng-click="sort('status')" class="cursor_pointer">
                    <i ng-show="params.sort=='status'" style="font-size: 14px" class="fa opacity_4"
                       ng-class="{'fa-sort-down':params.asc==false, 'fa-sort-up':params.asc==true}"></i>
                    Status
                </th>
                <th style="width:30px">
                    <i class="fa fa-paperclip fa-fw" style="font-size: 14px; "></i>
                </th>
                <th style="width:30px">
                    <i class="fa fa-flask fa-fw" style="font-size: 14px; "></i>
                </th>
                <th style="width:30px; text-align:center">
                    <img src="img/dna.svg" height="16px" alt="has dna"/>
                </th>
                <th ng-click="sort('created')" class="cursor_pointer">
                    <i ng-show="params.sort=='created'" style="font-size: 14px" class="fa opacity_4"
                       ng-class="{'fa-sort-down':params.asc==false, 'fa-sort-up':params.asc==true}"></i>
                    Created
                </th>
            </tr>
            </thead>

            <tbody>
            <tr data-ng-repeat="entry in folder.entries">
                <td width="10px">
                    <!--<i class="fa cursor_pointer fa-check-square-o" ng-if="allSelected"-->
                    <!--style="color: #000; font-size: 14px;" ng-click="select(entry)"></i>-->

                    <i class="fa fa-fw color-888 cursor_default"
                       ng-class="{'fa-square-o':!isSelected(entry), 'fa-check-square-o':isSelected(entry)}"
                       style="font-size: 14px;" ng-click="select(entry)"></i>
                </td>
                <td>{{entry.type | capitalize}}</td>
                <td><a ng-click="showEntryDetails(entry, $index)" class="cell_mouseover form-group"
                       popover-trigger="mouseenter" ng-mouseover="tooltipDetails(entry)"
                       popover-template="/views/template.html" popover-placement="right">{{entry.partId}}</a>
                </td>
                <td>
                    <div title="{{entry.name}}" class="ellipsis" style="width: 150px">{{entry.name}}</div>
                </td>
                <td>
                    <div tooltip="{{entry.shortDescription}}"
                         style="width: 500px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        {{entry.shortDescription}}
                    </div>
                </td>
                <td style="width:80px; white-space:nowrap">{{entry.status | capitalize}}</td>
                <td><i ng-show="{{entry.hasAttachment}}" class="fa fa-paperclip fa-fw"
                       style="color: #555; font-size: 14px;"></i></td>
                <td><i ng-show="{{entry.hasSample}}" class="fa fa-flask fa-fw"
                       style="color: #555; font-size: 14px;"></i></td>
                <td style="width:30px; text-align:center">
                    <img ng-show="{{entry.hasSequence}}" src="img/dna.svg" height="16px"/>
                </td>
                <td style="width:160px; white-space:nowrap">{{entry.creationTime | date:'MMM d, yyyy'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row" ng-if="folder && folder.entries.length > 0">
        <div class="col-md-5" style="padding-left: 0">
            <pagination total-items="folder.count" on-select-page="setPage(page)" page="currentPage" max-size="maxSize"
                        class="pagination-sm" items-per-page="15" boundary-links="true"></pagination>
        </div>
        <div class="col-md-7" style="margin-top: 25px;">
            <strong class="small">
                <i ng-show="loadingPage" class="fa fa-spin fa-gear opacity_4"></i> {{pageCounts(currentPage,
                folder.count)}}
            </strong>
        </div>
    </div>
</div>

