<div class="container-fluid">
    <!--if subfolder-->
    <div class="row entry_general_header_td" style="height: 60px;" ng-if="folder.type">
        <div class="col-md-12">
            <table>
                <tr>
                    <td>
                        <h4>
                            <span style="white-space: nowrap">
                                <img alt="Loading..." ng-if="loadingPage" src="img/loader-mini.gif"/>
                                <strong>
                                    <span style="text-transform: uppercase; color: #888">{{selectedCollection || folder.type}}</span>
                                    <span ng-class="{folder_name:folder.canEdit}" tooltip={{folderNameTooltip}}
                                          ng-click="showFolderRenameModal()">
                                        {{folder.folderName}}
                                    </span>
                                </strong>
                                <span ng-if="folder.publicReadAccess">&nbsp;
                                    <small style="font-size: 12px; position: relative; top: -4px"
                                           tooltip="Available on web of registries"
                                           tooltip-placement="right" tooltip-trigger="mouseenter"
                                           class="label label-info cursor_pointer"><i class="fa fa-globe"></i>
                                        Public
                                    </small>
                                </span>
                            </span>

                            <div class="no_wrap">
                                <small class="font-65em" ng-if="folder.type==='SHARED'">
                                    Shared by <a ng-href="profile/{{folder.owner.id}}">{{folder.owner.firstName}}
                                    {{folder.owner.lastName}}</a>
                                    <span style="color: #ccc; width: 1px">&nbsp;|&nbsp;</span>
                                </small>
                                <small class="font-65em" ng-if="folder.created">
                                    {{folder.created | date:'short'}}
                                </small>
                                <small ng-if="folder.type==='SHARED'" style="color: #333">
                                    <span style="color: #ccc; width: 1px">&nbsp;|&nbsp;</span>

                                    <span ng-repeat="permission in folder.accessPermissions" style="margin-right: 3px">
                                        <span class="label" tooltip="{{shareText(permission)}}"
                                              ng-class="{'bg_permission_group':permission.article==='GROUP', 'bg_permission_user':permission.article==='ACCOUNT'}">
                                             <i class="fa"
                                                ng-class="{'fa-group':permission.article==='GROUP', 'fa-user':permission.article==='ACCOUNT'}"></i> {{getDisplay(permission)}}
                                        </span>
                                    </span>
                                </small>
                            </div>
                        </h4>
                    </td>
                    <td style="padding-left: 40px">
                        <span ng-show="folder.id" folder-actions class="font-95em"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!--collections like 'personal', 'available' do not have a folderName-->
    <div class="row" ng-if="!folder.type">
        <div class="col-md-12 entry_general_header_td">
            <h4><img alt="Loading..." ng-if="loadingPage" src="img/loader-mini.gif"/>
                <strong style="color: #888;text-transform: uppercase;">{{selectedFolder}}</strong>
                <!--<br><small class="font-65em">Folder Description</small>-->
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="pad_top" data-ng-show='!folder'>
            <img alt="Loading..." src="img/loader-mini.gif"/> Loading...
        </div>

        <div class="pad_top" ng-show="folder && folder.entries.length == 0">
            No entries available for selection
        </div>

        <table ng-if="folder && folder.entries && folder.entries.length" cellspacing="0"
               class="table table-responsive table-border-bottom table-hover table-condensed table-striped font-95em"
               ng-class="{'opacity_4':loadingPage}">
            <thead>
            <tr>
                <!--selection toggle-->
                <th class="dropdown" dropdown
                    style="padding:0; font-size: 15px; vertical-align: middle; text-align: center">
                    <span class="dropdown-toggle" dropdown-toggle>
                        <i class="fa cursor_default" ng-class="selectAllClass()" ng-click="selectAll()"
                           stop-event="click"></i>
                        <span class="caret cursor_pointer"></span>
                    </span>
                    <ul class="dropdown-menu" dropdown-menu style="min-width: 100px">
                        <li class="font-75em cursor_pointer" ng-click="setType('all')"><a>All</a></li>
                        <li ng-repeat="choice in items" ng-click="setType(choice.type)"
                            class="font-75em cursor_pointer">
                            <a>{{choice.type | capitalize}}</a>
                        </li>
                        <li class="font-75em cursor_pointer" ng-click="setType('none')"><a>None</a></li>
                    </ul>

                    <!--<sup style="font-size: 9px; font-weight: normal; display: inherit"-->
                    <!--ng-show="selection.length>0">{{selection.length}}</sup>-->
                </th>
                <th ng-click="sort('type')" class="cursor_pointer">
                    <span style="font-size: 12px; text-transform: uppercase">TYPE</span>
                    <i ng-if="params.sort!=='type'" class="sortable fa fa-angle-down"></i>
                    <i ng-show="params.sort=='type'" style="font-size: 14px;" class="fa opacity_4"
                       ng-class="{'fa-angle-down':params.asc==false, 'fa-angle-up':params.asc==true}"></i>
                </th>
                <th ng-click="sort('part_id')" class="cursor_pointer"
                    style="font-size: 12px; text-transform: uppercase">
                    <span style="font-size: 12px; text-transform: uppercase">Part ID</span>
                    <i ng-if="params.sort!=='part_id'" class="sortable fa fa-angle-down"></i>
                    <i ng-show="params.sort=='part_id'" style="font-size: 14px" class="fa opacity_4"
                       ng-class="{'fa-angle-down':params.asc==false, 'fa-angle-up':params.asc==true}"></i>
                </th>
                <th data-ng-click="sort('name')" class="cursor_pointer"
                    style="font-size: 12px; text-transform: uppercase">
                    <span style="font-size: 12px; text-transform: uppercase">Name</span>
                    <i ng-if="params.sort!=='name'" class="sortable fa fa-angle-down"></i>
                    <i ng-show="params.sort=='name'" style="font-size: 14px" class="fa opacity_4"
                       ng-class="{'fa-angle-down':params.asc==false, 'fa-angle-up':params.asc==true}"></i>
                </th>
                <th></th>
                <th ng-click="sort('status')" class="cursor_pointer">
                    <span style="font-size: 11px; text-transform: uppercase">Status</span>
                    <i ng-if="params.sort!=='status'" class="sortable fa fa-angle-down"></i>
                    <i ng-show="params.sort=='status'" style="font-size: 14px" class="fa opacity_4"
                       ng-class="{'fa-angle-down':params.asc==false, 'fa-angle-up':params.asc==true}"></i>
                </th>
                <th style="width:100px;">
                    <i class="fa fa-flask fa-fw" style="font-size: 14px; "></i>
                    <img src="img/dna.svg" width="15px" alt="has dna"/>
                </th>
                <th ng-click="sort('created')" class="cursor_pointer">
                    <span style="font-size: 11px; text-transform: uppercase">Created</span>
                    <i ng-show="params.sort=='created'" style="font-size: 14px" class="fa opacity_4"
                       ng-class="{'fa-angle-down':params.asc==false, 'fa-angle-up':params.asc==true}"></i>
                    <i ng-if="params.sort!=='created'" class="sortable fa fa-angle-down"></i>
                </th>
            </tr>
            </thead>

            <tbody>
            <tr data-ng-repeat="entry in folder.entries">
                <td width="43px">
                    <!--<i class="fa cursor_pointer fa-check-square-o" ng-if="allSelected"-->
                    <!--style="color: #000; font-size: 14px;" ng-click="select(entry)"></i>-->

                    <i class="fa fa-fw  cursor_default" style="font-size: 15px"
                       ng-class="{'fa-square-o':!isSelected(entry), 'fa-check-square-o':isSelected(entry)}"
                       ng-click="select(entry)"></i>
                </td>
                <td style="opacity:0.7; font-weight: bold; font-size: 0.85em; text-shadow: 0 1px 0 #fff">
                    {{entry.type | uppercase}}
                </td>
                <td><a ng-click="showEntryDetails(entry, $index)" class="cell_mouseover form-group"
                       popover-trigger="mouseenter" ng-mouseover="tooltipDetails(entry)"
                       popover-template="folderPopupTemplateUrl" popover-placement="right">{{entry.partId}}</a>
                </td>
                <td>
                    <div title="{{entry.name}}" class="ellipsis" style="width: 350px">{{entry.name}}</div>
                    <div title="{{entry.shortDescription}}" class="small"
                         style="opacity: 0.6; width: 350px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        {{entry.shortDescription}}
                    </div>
                </td>
                <td style="vertical-align: middle">
                    <small style="opacity: 0.4">
                        <ng-pluralize count="entry.viewCount"
                                      when="{'0': '',
                                  '1': '1 view',
                                  'other':'{} views'}"></ng-pluralize>
                    </small>
                </td>
                <td style="vertical-align: middle; width:100px; white-space:nowrap">
                    <span class="label" ng-class="{
                    'ice-label-success':entry.status.toUpperCase()=='COMPLETE',
                    'label-default': entry.status.toUpperCase()=='In Progress'.toUpperCase(),
                    'ice-label-danger': entry.status.toUpperCase()=='Abandoned'.toUpperCase(),
                    'ice-label-info': entry.status.toUpperCase()=='Planned'.toUpperCase()}">{{entry.status | capitalize}}
                    </span>
                </td>
                <td style="vertical-align: middle;">
                    <i ng-show="entry.hasSample" class="fa fa-flask fa-fw"
                       style="color: #555; font-size: 14px;"></i>
                    <i ng-show="!entry.hasSample" class="fa fa-square fa-fw"
                       style="opacity: 0; font-size: 14px;"></i>
                    <img ng-show="entry.hasSequence" src="img/dna.svg" width="15px"/>
                </td>
                <td style="width:130px; white-space:nowrap; vertical-align: middle;">
                    {{entry.creationTime | date:'MMM d, yyyy'}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row" ng-if="folder && folder.entries.length > 0" style="margin-top: -15px">
        <div class="col-md-5" style="padding-left: 0">
            <pagination total-items="folder.count" ng-change="folderPageChange()" ng-model="params.currentPage"
                        max-size="maxSize" class="pagination-sm" items-per-page="15" boundary-links="true">
            </pagination>
        </div>
        <div class="col-md-7" style="margin-top: 25px;">
            <strong class="small">
                <i ng-show="loadingPage" class="fa fa-spin fa-gear opacity_4"></i> {{pageCounts(params.currentPage,
                folder.count)}}
            </strong>
        </div>
    </div>
</div>

