<div class="row">
    <div class="col-2 d-flex">
        <label [for]="field.label" [ngClass]="{'fw-bold': field.active}">{{field.label}}
            <span class="text-danger" *ngIf="field.required"
                  style="font-size: larger">*</span>
        </label>
    </div>

    <div class="col" [id]="field.label">
        <i class="bi" style="font-size: x-large" (click)="toggleField()"
           [ngClass]="{'bi-toggle2-on text-success': field.value === 'true', 'bi-toggle2-off': field.value === 'false'
           || !field.value, 'cursor-pointer': field.editMode}"></i>
    </div>

</div>


