<div class="row">
    <div class="col-3 offset-1 d-flex">
        <label [for]="field.label" [ngClass]="{'fw-bold': field.active}">{{field.label}}
            <span class="text-danger" *ngIf="field.required"
                  style="font-size: larger">*</span>
        </label>
    </div>

    <div class="col-8" [id]="field.label">

        <i class="bi  cursor-pointer" style="font-size: x-large" (click)="toggleField()"
           [ngClass]="{'bi-toggle2-on text-success': field.value === 'true', 'bi-toggle2-off': field.value === 'false'
           || !field.value}"></i>

    </div>

</div>


