html {
	height: 98%;
}

body {
	color: #454545;
	font: 0.8em/1.5em Arial, sans-serif;
	background: #ffffff;
	padding: 0;
	margin-top: 5;
	margin-bottom: 5;
	margin-left: 5;
	margin-right: 5;
	height: 100%;
}
.quick_search_btn {
	color: white;
	background-color: #4787ED;
	padding: 4px 15px;
	border: 1px solid #4787ED;
	font-weight: bold;
	font: arial, sans-serif;
}

.quick_search_input {
	border: 1px solid #ccc;
	padding: 4px;
}

a {
	color: #185DA0;
	text-decoration: none;
}

a:hover {
	color: #9EC068;
}

.footer {
	float: bottom;
}

.float_right {
	float: right;
}

.small_text {
	font-size: 0.90em;
	font: arial;
}

.color_eee {
	color: #EEE;
}

.header_info_left {
	float: left;
	width: 240px;
}

.base_tabs {
	position: relative;
	top: 0;
	margin: 2px 2px 0 0;
	float: left;
	/* background: #F0F0F0; */
	border-right: 1px solid #AAA;
	border-top: 1px solid #AAA;
	border-left: 1px solid #AAA;
	padding: 2px 10px 2px 10px;
	text-decoration: none;
	color: #333;
	cursor: pointer;
}

.tabs_hover {
	padding: 3px 10px 3px 10px;
	margin-top: 0px;
	background: #FFFFFF;
}

.tabs_active {
	font-weight: bold;
	padding: 3px 10px 3px 10px;
	margin-top: 0px;
	background: #F0F0F0;
}

.footer {
	float: bottom;
	width: 99%;
	position: absolute;
	bottom: 0px;
	height: 60px;
}

.pad_right {
	padding-right: 10px;
}

.pad_top {
	padding-top: 10px;
	vertical-align: top;
}

.pad_left {
	padding-left: 10px;
}

.footer_line {
	height: 2px;
	background-color: #CCCC99;
}

.required {
	color: #CC3333;
}

.help_text {
	color: #777777;
	font-size: 9px;
	padding-left: 3px;
}

.panel_header {
	font-size: 14px;
	font-weight: bold;
}

.title_row_header,.headers {
	background-color: #F0F0F0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	white-space: nowrap;
}

.blue_underline {
	height: 2px;
	background-color: #6C95C9;
}

.data_table {
	background-color: #BBBBBB;
	width: 100%;
}

.background_white {
	background-color: #fff;
}

.form_textarea {
	height: 50px;
	width: 640px;
}

.gray_border {
	border: 1px solid #BBBBBB;
}

.collections_header {
	background-color: #F0F0F0;
	font-size: 13px;
	border-bottom: 1px solid #BBB;
	font-weight: bold;
	padding: 3px;
}

.gwt-Button {
	margin-left: 2px;
	margin-right: 2px;
}

.gwt-TextBox,.inputbox {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #BBBBBB;
}

.pager {
	border: 1px solid #CCC;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #F0F0F0;
	padding: 2px;
}

.pager_nav {
	font-weight: bold;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #5a4545;
}

.button_to_link {
	padding: 2px 6px 2px 6px;
	border: 1px solid #ccc;
	background-color: white;
	color: #185DA0;
	font-size: 0.85em;
	cursor: default;
}

.button_to_link_hover {
	padding: 2px 6px 2px 6px;
	border: 1px solid #ccc;
	background-color: white;
	color: #9EC068;
	font-size: 0.85em;
	cursor: pointer;
}

.button_to_link_disabled {
	padding: 2px 6px 2px 6px;
	border: 1px solid #ccc;
	background-color: white;
	font-size: 0.85em;
	color: #555;
	cursor: default;
	font-weight: bold;
}

.entry_table {
	background-color: #BBBBBB;
	width: 800px;
}

.bg_gray {
	background-color: #BBBBBB;
}

.popup {
	border: 0px;
}

.cursor_hand {
	cursor: pointer;
}

.cursor_default {
	cursor: default;
}

.collections_menu_hover {
	background-color: #FAFAFA;
	color: #9EC068;
}

/* TABS */
/* the panel itself */
.gwt-TabLayoutPanel {
	
}

/* the tab bar element */
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
	
}

/* applied to all child content widgets */
.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
	
}

/* an individual tab */
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
	background: none repeat scroll 0 0 #FFFFFF;
	border-left: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
	border-top: 1px solid #AAAAAA;
	color: #333333;
	float: left;
	margin: 2px 2px 0 0;
	padding: 2px 10px;
	position: relative;
	text-decoration: none;
	top: 0;
	cursor: pointer;
}

/* an element nested in each tab (useful for styling) */
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabInner {
	
}

/* applied to all child content widgets */
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
	background: none repeat scroll 0 0 #F0F0F0;
	border-left: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
	border-top: 1px solid #AAAAAA;
	color: #333333;
	float: left;
	margin: 0 2px 0 0;
	padding: 3px 10px;
	position: relative;
	text-decoration: none;
	top: 0;
	font-weight: bold;
	cursor: default;
}

/* DATE PICKER */
.gwt-DatePicker {
	border: 1px solid #ccc;
	border-top: 1px solid #999;
	cursor: default;
}

.gwt-DatePicker td,.datePickerMonthSelector td:focus {
	outline: none;
}

.datePickerMonthSelector td:focus {
	outline: none;
}

.datePickerDays {
	width: 100%;
	background: white;
}

.datePickerDay,.datePickerWeekdayLabel,.datePickerWeekendLabel {
	font-size: 85%;
	text-align: center;
	padding: 4px;
	outline: none;
	font-weight: bold;
	color: #333;
	border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
}

.datePickerWeekdayLabel,.datePickerWeekendLabel {
	background: #fff;
	padding: 0px 4px 2px;
	cursor: default;
	color: #666;
	font-size: 70%;
	font-weight: normal;
}

.datePickerDay {
	padding: 4px 7px;
	cursor: hand;
	cursor: pointer;
}

.datePickerDayIsWeekend {
	background: #f7f7f7;
}

.datePickerDayIsFiller {
	color: #999;
	font-weight: normal;
}

.datePickerDayIsValue {
	background: #d7dfe8;
}

.datePickerDayIsDisabled {
	color: #AAAAAA;
	font-style: italic;
}

.datePickerDayIsHighlighted {
	background: #F0E68C;
}

.datePickerDayIsValueAndHighlighted {
	background: #d7dfe8;
}

.datePickerDayIsToday {
	padding: 3px;
	color: #fff;
	background: blue;
}

.datePickerMonthSelector {
	width: 100%;
	padding: 1px 0 5px 0;
	background: #fff;
}

.datePickerPreviousButton,.datePickerNextButton {
	font-size: 120%;
	line-height: 1em;
	color: #3a6aad;
	cursor: hand;
	cursor: pointer;
	font-weight: bold;
	padding: 0px 4px;
	outline: none;
}

td.datePickerMonth {
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	font-size: 100%;
	font-weight: bold;
	color: #333;
}

.gwt-DateBox { /* padding: 5px 4px;
  border: 1px solid #ccc;
  border-top: 1px solid #999;
  font-size: 100%; */
	
}

.gwt-DateBox input {
	width: 8em;
}

.dateBoxFormatError {
	background: #ffcccc;
}

.dateBoxPopup {
	
}