<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Context</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <display-name>ice</display-name>

    <filter>
        <filter-name>IceFilter</filter-name>
        <filter-class>org.jbei.ice.server.servlet.filter.IceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>IceFilter</filter-name>
        <url-pattern>/gwt_ice/ice</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>IceFilter</filter-name>
        <url-pattern>/messagebroker/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>IceFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>IceFilter</filter-name>
        <url-pattern>*.gupld</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>IceFilter</filter-name>
        <url-pattern>/download</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>IceFilter</filter-name>
        <url-pattern>/export</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>IceFilter</filter-name>
        <url-pattern>/sequence</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>IceFilter</filter-name>
        <url-pattern>/sequence_upload</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>IceFilter</filter-name>
        <url-pattern>/csv_upload</url-pattern>
    </filter-mapping>

    <!-- BlazeDS -->
    <servlet>
        <servlet-name>MessageBrokerServlet</servlet-name>
        <servlet-class>flex.messaging.MessageBrokerServlet</servlet-class>
        <init-param>
            <param-name>services.configuration.file</param-name>
            <param-value>/WEB-INF/flex/services-config.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>MessageBrokerServlet</servlet-name>
        <url-pattern>/messagebroker/*</url-pattern>
    </servlet-mapping>

    <!-- Apache CXF WebServices -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/cxf/beans.xml</param-value>
    </context-param>

    <!-- file upload -->
    <context-param>
        <!-- max size of the upload request -->
        <param-name>maxSize</param-name>
        <param-value>3145728</param-value>
    </context-param>
    <context-param>
        <!-- Useful in development mode to slow down the uploads in fast networks.
Put the number of milliseconds to sleep in each block received in the server.
false or 0, means don't use slow uploads  -->
        <param-name>slowUploads</param-name>
        <param-value>0</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.jbei.ice.server.servlet.IceServletContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <!-- GWT -->
    <servlet>
        <servlet-name>gwtIceServlet</servlet-name>
        <servlet-class>org.jbei.ice.server.RegistryServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>gwtIceServlet</servlet-name>
        <url-pattern>/gwt_ice/ice</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>org.jbei.ice.server.servlet.FileUploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>*.gupld</url-pattern>
    </servlet-mapping>

    <!--  file download -->
    <servlet>
        <servlet-name>FileDownloadServlet</servlet-name>
        <servlet-class>org.jbei.ice.server.servlet.FileDownloadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FileDownloadServlet</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>

    <!--  export as [file format] servlet -->
    <servlet>
        <servlet-name>EntryExportServlet</servlet-name>
        <servlet-class>org.jbei.ice.server.servlet.EntryExportServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EntryExportServlet</servlet-name>
        <url-pattern>/export</url-pattern>
    </servlet-mapping>

    <!--  sequence download -->
    <servlet>
        <servlet-name>SequenceDownloadServlet</servlet-name>
        <servlet-class>org.jbei.ice.server.servlet.SequenceDownloadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SequenceDownloadServlet</servlet-name>
        <url-pattern>/sequence</url-pattern>
    </servlet-mapping>

    <!--  sequence upload -->
    <servlet>
        <servlet-name>SequenceUploadServlet</servlet-name>
        <servlet-class>org.jbei.ice.server.servlet.SequenceUploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SequenceUploadServlet</servlet-name>
        <url-pattern>/sequence_upload</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>Gwt_ice.html</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
</web-app>