<div class="container-fluid">
    <div class="row">
        <div class="px-0 col d-flex">

            <div class="border-end bg-white" style="flex:0 0 250px">
                <app-main-sidebar-menu></app-main-sidebar-menu>
            </div>

            <div class="flex-grow-1">
                <div class="bg-white border-bottom p-3">
                    <app-header></app-header>
                </div>

                <div class="container">

                    <div class="row">
                        <div class="col p-4">
                            <h5 class="text-uppercase fw-bold">New <span class="text-muted">{{type}}</span> entry</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">

                            <div class="container" style="width: 75vw">
                                <ng-container *ngIf="!fields">
                                    <img src="assets/img/loader-mini.gif" alt="Loading..."> &nbsp; <i
                                    class="text-muted">Loading fields...</i>
                                </ng-container>

                                <ng-container *ngIf="fields && fields.length">
                                    <span *ngIf="newPart">{{newPart.id}}</span>
                                    <div class="row p-1" *ngFor="let field of fields">

                                        <ng-container *ngIf="field.fieldInputType === 'TEXT' || !field.fieldInputType
                                    || field.fieldInputType === 'LONG_TEXT'">
                                            <app-text-field [field]="field" [part]="newPart"
                                                            [longText]="field.fieldInputType === 'LONG_TEXT'"></app-text-field>
                                        </ng-container>


                                        <ng-container *ngIf="field.fieldInputType === 'SELECT'">
                                            <app-select-field [field]="field" [part]="newPart"></app-select-field>
                                        </ng-container>


                                        <ng-container *ngIf="field.fieldInputType === 'DATE'">
                                            <app-date-picker [field]="field" [part]="newPart"></app-date-picker>
                                        </ng-container>


                                        <ng-container *ngIf="field.fieldInputType === 'USER_WITH_EMAIL'">
                                            <app-user-with-email-field [field]="field"
                                                                       [part]="newPart"></app-user-with-email-field>
                                        </ng-container>


                                        <ng-container *ngIf="field.fieldInputType === 'TEXTAREA'">
                                            <app-textarea-field [field]="field" [part]="newPart"></app-textarea-field>
                                        </ng-container>


                                        <ng-container *ngIf="field.fieldInputType === 'BOOLEAN'">
                                            <app-boolean-field [field]="field" [part]="newPart"></app-boolean-field>
                                        </ng-container>


                                        <ng-container *ngIf="field.fieldInputType === 'MULTI_TEXT'">
                                            <app-multi-text-field [field]="field"
                                                                  [part]="newPart"></app-multi-text-field>
                                        </ng-container>

                                    </div>
                                </ng-container>
                                <app-sequence-visualization></app-sequence-visualization>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="float-end px-5">
                                <button class="btn btn-primary" (click)="submitNewPart()">Save</button>
                                <button class="btn btn-white ms-2" (click)="clearNewPart()">Cancel</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
