<div class="container-fluid">
    <div class="row">
        <div class="px-0 col d-flex">

            <div class="border-end bg-white" style="flex:0 0 250px">
                <app-main-sidebar-menu></app-main-sidebar-menu>
            </div>

            <div class="flex-grow-1">
                <div class="bg-white border-bottom p-3">
                    <app-header></app-header>
                </div>

                <div class="container-fluid">

                    <div class="row">
                        <div class="col p-4">
                            <h5 class="text-uppercase fw-bold">New <span class="text-muted">{{type}}</span> entry</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">

                            <div class="container-fluid" style="width: 75vw">
                                <div class="row p-1" *ngFor="let field of fields">

                                    <div class="col-3 offset-1 d-flex">
                                        <label [for]="field.label">{{field.label}}
                                            <span class="text-danger" *ngIf="field.required"
                                                  style="font-size: larger">*</span>
                                        </label>
                                    </div>

                                    <div class="col-8" [id]="field.label">
                                        <select class="form-select form-select-sm w-50" id="inputGroupSelect01"
                                                *ngIf="field.fieldInputType === 'SELECT'">
                                            <option selected>Choose...</option>
                                            <option value="1" *ngFor="let option of field.options">
                                                {{option.name}}
                                            </option>
                                        </select>

                                        <!--                                        <div class="input-group" *ngIf="field.fieldInputType === 'USER_WITH_EMAIL'">-->
                                        <!--                                            <input type="text" class="form-control form-control-sm" aria-label="Name">-->
                                        <!--                                            <input type="text" class="form-control form-control-sm" aria-label="Email"-->
                                        <!--                                                   placeholder="Optional Email">-->
                                        <!--                                        </div>-->

                                        <div *ngIf="field.fieldInputType === 'TEXT'
                                                || field.fieldInputType === 'USER_WITH_EMAIL'
                                                || !field.fieldInputType">

                                            <input class="form-control form-control-sm w-50" [(ngModel)]="field.value"
                                                   (focusout)="textInputFocusOut(field)" maxlength="127">
                                        </div>

                                        <input class="form-control form-control-sm w-75"
                                               *ngIf="field.fieldInputType === 'LONG_TEXT'">

                                        <textarea style="height: 70px;" class="form-control form-control-sm"
                                                  *ngIf="field.fieldInputType === 'TEXTAREA'"></textarea>

                                        <i class="bi bi-toggle2-off" style="font-size: x-large"
                                           *ngIf="field.fieldInputType === 'BOOLEAN'"></i>

                                        <div *ngIf="field.fieldInputType === 'MULTI_TEXT'" class="d-flex">
                                            <input class="form-control form-control-sm w-50"> <i
                                            class="bi bi-plus text-success" style="font-size: x-large"></i>
                                        </div>

                                        <div *ngIf="field.fieldInputType === 'DATE'">
                                            <app-date-picker></app-date-picker>
                                        </div>
                                    </div>

                                </div>

                                <div class="row mt-4">
                                    <div class="col">
                                        <div class="fw-bold">Sequence Information</div>
                                        <div class="alert alert-info" style="margin-bottom: 10px; margin-top: 10px">
                                            <i style="font-size: 18px" class="bi bi-info-lg"></i>
                                            <span>Supported file formats are Genbank, Fasta and SBOL</span>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col">
                                        {{newPart | json}}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <pre>{{fields | json}}</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
