<div ng-controller="AdminSampleRequestController">
    <div class="row">
        <table cellspacing="0" class="data_table" ng-class="{'opacity_4':loadingPage}">
            <tr data-ng-show='!sampleRequests'>
                <td colspan="10"><img src="/img/loader-mini.gif"> Loading...</td>
            </tr>

            <tr data-ng-if='sampleRequests && sampleRequests.requests.length > 0'>
                <th>
                    <span class="cursor_pointer">Requester</span>
                    <i ng-show="params.sort=='type'" class="fa"
                       ng-class="{'fa-caret-down':params.asc==true, 'fa-caret-up':params.asc==false}"></i>
                </th>
                <th style="width: 170px">Entry Name</th>
                <th style="width: 110px">Selection Markers</th>
                <th style="width:230px">
                    <span class="cursor_pointer">Type</span>
                    <i ng-show="params.sort=='name'" class="fa"
                       ng-class="{'fa-caret-down':params.asc==false, 'fa-caret-up':params.asc==true}"></i>
                </th>
                <th ng-click="sort('summary')">Requested</th>
                <th ng-click="sort('summary')">Fulfilled</th>
                <th style="width: 100px">Status</th>
                <th></th>
            </tr>
            <tr data-ng-show="sampleRequests.requests.length === 0">
                <td colspan="10">No sample requests available</td>
            </tr>
            <tr data-ng-repeat="request in sampleRequests.requests">
                <td><a href="/profile/{{request.requester.id}}" class="no_wrap">{{request.requester.firstName}}
                    {{request.requester.lastName}}</a></td>
                <td><a href="/entry/{{request.partData.id}}">{{request.partData.name}}</a></td>
                <td>
                    <small>{{request.partData.selectionMarkers.toString()}}</small>
                </td>
                <td>
                    <span ng-if="request.requestType==='LIQUID_CULTURE'"><i
                            class="fa fa-flask"></i> Liquid Culture</span>
                    <span ng-if="request.requestType!=='LIQUID_CULTURE'"><i class="fa fa-circle-thin"></i> Streak on Agar Plate</span>
                </td>
                <td style="width:160px; white-space:nowrap">{{request.requestTime | date:'MMM d, yyyy'}}</td>
                <td style="width:160px; white-space:nowrap">{{request.updateTime | date:'MMM d, yyyy'}}</td>
                <td>
                    <div ng-if="request.status==='REJECTED'"><i class="fa fa-circle text-danger"></i> Rejected</div>
                    <div ng-if="request.status==='FULFILLED'"><i class="fa fa-circle text-success"></i> Delivered</div>
                    <div ng-if="request.status==='PENDING'"><i class="fa fa-circle text-warning"></i> Pending</div>
                    <div ng-if="request.status==='IN_CART'"><i class="fa fa-circle text-info"></i> In Cart</div>
                </td>
                <td style="width: 134px">
                    <div ng-if="request.status==='PENDING'">
                        <button class="btn btn-primary btn-xs" ng-click="updateStatus(request, 'FULFILLED')">
                            <i class="fa fa-check"></i> Fulfill
                        </button>
                        <button class="btn btn-default btn-xs" ng-click="updateStatus(request, 'REJECTED')">
                            <i class="fa fa-ban red"></i> Reject
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="row" ng-if='sampleRequests && sampleRequests.requests.length > 0'>
        <div class="col-md-6" style="padding-left: 0">
            <pagination total-items="sampleRequests.count" on-select-page="setSamplePage(page)" page="currentPage"
                        max-size="maxSize"
                        class="pagination-sm" items-per-page="15" boundary-links="true"></pagination>
        </div>
        <div class="col-md-4" style="margin-top: 20px;"><strong class="small">
            <i ng-show="loadingPage" class="fa fa-spin fa-gear opacity_4"></i> {{pageCounts(currentPage,
            sampleRequests.count)}}</strong>
        </div>
    </div>
</div>