<div ng-controller="AdminUserController">
    <div class="row pad_top">
        <button type="button" ng-click="showCreateProfile=true" class="ice-button">
            <i style="font-size: 14px" class="blue fa fa-user"></i> Create Account
        </button>
    </div>

    <div class="row margin-top-10 panel panel-default font-95em" ng-show="showCreateProfile">
        <form class="panel-body" role="form" ng-submit="createProfile()" >
            <div class="col-md-2 pad-top-5 text-right">
                <span style="white-space:nowrap">First name <span class="required">*</span> </span>
            </div>

            <div class="col-md-10 pad-top-5">
                <input type="text" class="input_box" ng-model="newProfile.firstName" maxlength="125" style="width: 235px;">
            </div>
            <div class="col-md-2 pad-top-5 text-right">
                Last name <span class="required">*</span>
            </div>

            <div class="col-md-10 pad-top-5">
                <input type="text" class="input_box" ng-model="newProfile.lastName" maxlength="125" style="width: 235px;">
            </div>

            <div class="col-md-2 pad-top-5 text-right">
                Email <span class="required">*</span>
            </div>

            <div class="col-md-10 pad-top-5">
                <input type="text" ng-model="newProfile.email" class="input_box" maxlength="125" style="width: 235px;">
            </div>

            <div class="col-md-2 pad-top-5 text-right">
                <span style="white-space:nowrap">Institution</span>
            </div>
            <div class="col-md-10 pad-top-5">
                <input type="text" class="input_box" ng-model="newProfile.institution" maxlength="125" style="width: 235px;">
            </div>

            <div class="col-md-2 pad-top-5 text-right">
                <span style="white-space:nowrap">About</span>
            </div>
            <div class="col-md-10 pad-top-5">
                <textarea rows="3" cols="30" ng-model="newProfile.description" class="input_box" placeholder="Enter profile description"></textarea>
            </div>

            <br>

            <div class="col-xs-offset-2 col-md-10 pad_top">
                <button type="submit" class="btn btn-xs btn-primary">Save</button>
                <button type="button" ng-click="showCreateProfile=undefined" class="btn btn-xs btn-default">Cancel</button>
            </div>
        </form>
    </div>

    <div class="row pad_top">
        <table width="100%" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <table cellspacing="0" class="data_table">
                        <tr data-ng-show='!userList'>
                            <td colspan="10">Loading...</td>
                        </tr>

                        <tr data-ng-if='userList && userList.length > 0'>
                            <th ng-click="sort('type')" style="width: 85px">
                                <span class="cursor_pointer">FirstName</span> <i ng-show="params.sort=='type'" class="fa"
                                                                            ng-class="{'fa-caret-down':params.asc==true, 'fa-caret-up':params.asc==false}"></i>
                            </th>
                            <th style="width: 110px">LastName</th>
                            <th data-ng-click="sort('name')" style="width:230px">
                                <span class="cursor_pointer">Email</span> <i ng-show="params.sort=='name'" class="fa"
                                                                            ng-class="{'fa-caret-down':params.asc==false, 'fa-caret-up':params.asc==true}"></i>
                            </th>
                            <th ng-click="sort('summary')">AccountType</th>
                            <th ng-click="sort('status')">
                                <span class="cursor_pointer"># Entries</span> <i ng-show="params.sort=='status'" class="fa"
                                                                              ng-class="{'fa-caret-down':params.asc==false, 'fa-caret-up':params.asc==true}"></i>
                            </th>
                            <th ng-click="sort('summary')">Last Login</th>
                        </tr>
                        <tr data-ng-show=" userList.length == 0">
                            <td colspan="10">No user accounts available</td>
                        </tr>
                        <tr data-ng-repeat="user in userList">
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.email}}</td>
                            <td style="width:160px; white-space:nowrap">{{user.accountType | capitalize}}</td>
                            <td style="width:90px; white-space:nowrap">{{user.userEntryCount | number}}</td>
                            <td style="width:160px; white-space:nowrap">{{user.lastLogin | date:'MMM d, yyyy'}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>