<div ng-controller="WebOfRegistriesController">
    <div class="row pad_top">
        <button type="button" class="ice-button" ng-click="showAddRegistryForm=true">
            <i style="font-size: 14px" class="fa fa-upload blue"></i> Add Registry
        </button>
    </div>

    <div class="row margin-top-10 panel panel-default font-95em" ng-show="showAddRegistryForm">
        <form class="panel-body" role="form" ng-submit="addPartner()">
            <div class="col-md-2 pad-top-5">
                <span style="white-space:nowrap">Registry Name <span class="required">*</span> </span>
            </div>
            <div class="col-md-10 pad-top-5">
                <input placeholder="Unique display identifier" type="text" class="input_box" ng-model="newPartner.name" maxlength="125" style="width: 235px;">
            </div>

            <div class="col-md-2 pad-top-5">
                <span style="white-space: nowrap">Registry URL <span class="required">*</span></span>
            </div>
            <div class="col-md-10 pad-top-5">
                <input placeholder="Valid url for remote ice instance" type="text" class="input_box" ng-model="newPartner.url" maxlength="125" style="width: 235px;">
            </div>

            <br>

            <div class="col-xs-offset-2 col-md-10 pad_top">
                <button type="submit" class="btn btn-xs btn-primary">Save</button>
                <button type="button" ng-click="showAddRegistryForm=false; newPartner=undefined" class="btn btn-xs btn-default">Cancel</button>
            </div>
        </form>
    </div>

    <div class="row pad_top" ng-if="wor">
        <table cellspacing="0" class="table table-condensed table-hover table-striped font-95em">
            <thead>
            <tr>
                <td>&nbsp;</td>
                <td><b>Name</b></td>
                <td><b>URL</b></td>
                <td><b>Added</b></td>
                <td><b>Status</b></td>
                <td>&nbsp;</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="partner in wor.partners">
                <td style="line-height:1; opacity:0.2; text-shadow:0 1px 0 #fff;">
                    <b>{{$index+1}}</b>
                </td>
                <td><a class="cursor_pointer">{{partner.name}}</a></td>
                <td><a target="_blank" ng-href="https://{{partner.url}}">{{partner.url}}</a> <i class="fa fa-external-link font-85em"></i></td>
                <td>{{partner.addTime | date:'MMM d, y, h:mm a'}}</td>
                <td>{{partner.status}}</td>
                <td style="font-size:14px"><i class="fa fa-trash-o delete_icon" ng-click="removePartner(partner, $index)"></i></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>