<div ng-controller="WebOfRegistriesController">
    <div class="row pad_top">
        <button type="button" class="ice-button" ng-click="enableDisableWor()">
            <i style="font-size: 14px" class="fa" ng-class="{'fa-toggle-on green':isWorEnabled, 'fa-toggle-off':!isWorEnabled}"></i>
        </button>
    </div>

    <div class="row" ng-init="getPartners(true)" ng-if="isWorEnabled && wor && wor.partners.length">
        <div class="page-header">
            <h5>
               <strong>Registry Partners</strong>
               <i ng-click="showAddRegistryForm=true" class="fa fa-plus blue opacity_hover" style="font-size: 14px"></i>
            </h5>
        </div>

        <div class=" margin-top-10 panel panel-default font-95em" ng-show="showAddRegistryForm">
            <form class="panel-body" role="form" ng-submit="addPartner()">
                <div class="col-md-2 pad-top-5">
                    <span style="white-space:nowrap">Registry Name <span class="required">*</span> </span>
                </div>
                <div class="col-md-10 pad-top-5">
                    <input placeholder="Unique display identifier" type="text" class="input_box" ng-model="newPartner.name"
                           maxlength="125" style="width: 235px;">
                </div>

                <div class="col-md-2 pad-top-5">
                    <span style="white-space: nowrap">Registry URL <span class="required">*</span></span>
                </div>
                <div class="col-md-10 pad-top-5">
                    <input placeholder="Valid url for remote ice instance" type="text" class="input_box"
                           ng-model="newPartner.url" maxlength="125" style="width: 235px;">
                </div>

                <br>

                <div class="col-xs-offset-2 col-md-10 pad_top">
                    <button type="submit" class="btn btn-xs btn-primary">Save</button>
                    <button type="button" ng-click="showAddRegistryForm=false; newPartner=undefined"
                            class="btn btn-xs btn-default">Cancel
                    </button>
                </div>
            </form>
        </div>

        <table cellspacing="0" class="table table-condensed table-hover table-striped font-95em">
            <thead>
            <tr>
                <td>&nbsp;</td>
                <td><b>Name</b></td>
                <td><b>URL</b></td>
                <td><b>Added</b></td>
                <td><b>Status</b></td>
                <td>&nbsp;</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="partner in wor.partners">
                <td style="line-height:1; opacity:0.2; text-shadow:0 1px 0 #fff;">
                    <b>{{$index+1}}</b>
                </td>
                <td><a class="cursor_pointer">{{partner.name}}</a></td>
                <td><a target="_blank" ng-href="https://{{partner.url}}">{{partner.url}}</a> <i
                        class="fa fa-external-link font-85em"></i></td>
                <td>{{partner.addTime | date:'MMM d, y, h:mm a'}}</td>
                <td>{{partner.status | capitalize}}</td>
                <td style="font-size:14px">
                    <span tooltip="Delete" style="padding: 2px 4px; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);"><i
                            class="fa fa-trash-o fa-fw delete_icon" ng-click="removePartner(partner, $index)"></i></span>
                    <span ng-if="partner.status !== 'APPROVED'" tooltip="Approve" style="padding: 2px 4px; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);"><i
                            class="fa fa-check fa-fw add_icon" ng-click="approvePartner(partner, $index)"></i></span>
                    <span ng-if="partner.status !== 'BLOCKED'" tooltip="Block" style="padding: 2px 4px; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);"><i
                            class="fa fa-ban fa-fw flag_icon" ng-click="removePartner(partner, $index)"></i></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>