<div class="modal-header">
    <h3 class="modal-title">Add to folder</h3>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()">
    </button>
</div>

<div class="modal-body p-0">
    <div class="input-group flex-nowrap p-3">
        <span class="input-group-text p-1">
            <i class="bi bi-filter"></i>
        </span>

        <input type="text" class="form-control form-control-sm shadow-sm" placeholder="Filter folders"
               [(ngModel)]="term">
    </div>


    <div style="max-height: 200px; overflow: auto" class="border-top">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let folder of userFolders | filter:term">
                <input class="form-check-input mt-0 me-2" type="checkbox" value=""
                       (click)="selectDeselectFolder(folder)"
                       [checked]="selectedFolders.indexOf(folder) !== -1"
                       aria-label="Checkbox selecting folder">  {{folder.folderName}}
            </li>
        </ul>
    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-link btn-sm" (click)="activeModal.close()">Cancel</button>
    <button type="button" class="btn btn-primary btn-sm" (click)="submitAddToFolder()"
            [disabled]="!selectedFolders.length">Submit
    </button>
</div>



