<div class="d-flex justify-content-end" *ngIf="sequence">
    <span class="opacity_hover mx-2" (click)="deleteSequence()">Delete <i class="bi bi-trash"></i></span>
    <span class="opacity_hover mx-2" (click)="deleteSequence()">Open <i class="bi bi-arrows-angle-expand"></i></span>
    <div ngbDropdown class="opacity_hover mx-2">
        <span ngbDropdownToggle>Download</span>

        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <div class="small" ngbDropdownItem>Genbank</div>
            <div class="small" ngbDropdownItem>FASTA</div>
            <div class="small" ngbDropdownItem>SBOL</div>
            <div class="small" ngbDropdownItem>GFF3</div>
        </div>
    </div>

    <span class="opacity_hover mx-2" (click)="deleteSequence()">Auto Annotate</span>
</div>

<div id="part-preview-root" style="height: 550px" class="bg-white shadow-sm">

    <div style="padding: 15px">
        <ng-container *ngIf="loadingSequence">
            <img alt="loading..." src="assets/img/loader-mini.gif"> &nbsp; <i class="opacity_6">Loading sequence
            visualization...</i>
        </ng-container>

        <ng-container *ngIf="!loadingSequence">
            <div>
                No sequence information associated with this entry. To add a sequence, please use one of the options
                below
            </div>

            <div class="pt-4">
                <input type="file" (change)="selectSequenceFile($event)"
                       accept=".gb, .fa, .fasta, .fas, .gen, .genbank"/>
            </div>
        </ng-container>
    </div>
</div>
