<div class="row">

    <div class="col-2 text-nowrap">
        <span [ngClass]="{'fw-bold': field.active}">
            <span [ngClass]="{'text-muted': !field.editMode}">{{field.label}}</span>
            <span class="text-danger" *ngIf="field.required && field.editMode" style="font-size: larger">*</span>
        </span>
    </div>

    <div class="col d-flex">

        <div class="field-value" *ngIf="!field.editMode">
            <span *ngIf="!field.subField">{{field.value}}</span>
            <a *ngIf="field.subField">{{field.value}} ({{field.subField}})</a>
            &nbsp;<i class="bi bi-pencil" (click)="switchEditMode()"></i>
        </div>

        <div class="input-group" *ngIf="field.editMode">
            <input type="text" class="form-control form-control-sm" aria-label="Name"
                   [ngClass]="{'is-invalid': field.isInvalid}" [(ngModel)]="field.value"
                   (focusout)="textInputFocusOut(field)" (focusin)="textInputFocusIn(field)">

            <input type="text" class="form-control form-control-sm" aria-label="Email"
                   placeholder="Optional Email" (focusout)="textInputFocusOut(field, true)"
                   (focusin)="textInputFocusIn(field, true)" [(ngModel)]="field.subField">
        </div>
    </div>

</div>


