<div class="modal-header">
    <h3 class="modal-title">Create new folder</h3>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()">
    </button>
</div>

<div class="modal-body">
    <b>Folder Name</b>
    <input type="text" placeholder="Enter folder name"
           [(ngModel)]="newFolder.folderName"
           class="form-control form-control-sm w-75">

    <br>
    <b>Description</b>
    <textarea class="form-control form-control-sm" [(ngModel)]="newFolder.description"></textarea>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="!newFolder.folderName" (click)="createFolder()">
        Create
    </button>
    <button type="button" class="btn btn-link" (click)="activeModal.close()">Cancel</button>
</div>


