<div class="container-fluid" *ngIf="folderDetails">

    <div class="row">
        <div class="col px-0 pt-5 pb-3">

            <div class="d-flex">
                <div class="w-75">
                    <!--                    <div class="text-nowrap bp3-text-overflow-ellipsis" style="max-width: 250px">-->
                    <h2 class="text-secondary">
                    <span class="cursor-pointer"
                          (click)="goToCollection(collectionName)">{{collectionName | titlecase}}</span>
                        <i class="bi bi-chevron-right font-80em ps-2"></i> {{folderDetails.folderName}}
                        <div ngbDropdown class="d-inline-block" #myDrop="ngbDropdown">
                            <button class="btn p-0" ngbDropdownAnchor (focus)="myDrop.open()"></button>
                            <div ngbDropdownMenu aria-labelledby="dropdownManual">
                                <button ngbDropdownItem class="small" (click)="navigateToFolder(folder)"
                                        *ngFor="let folder of userFolders">{{folder.folderName}}</button>
                            </div>
                        </div>
                    </h2>
                </div>

                <div class="d-flex justify-content-end w-25">
                    <div *ngIf="folderDetails.canEdit">
                        <button type="button" class="btn btn-white border font-95em" [ngClass]="{'text-muted': false}"
                                (click)="shareFolder()">
                            <!--                            [disabled]="!selectedFolderId"-->
                            <i class="bi bi-people-fill"></i> Share
                        </button>
                    </div>

                    <div ngbDropdown class="ms-1 d-inline-block">
                        <button type="button" class="btn btn-white border font-95em" ngbDropdownToggle>
                            <i class="bi bi-three-dots-vertical"></i> Folder Actions
                        </button>

                        <div ngbDropdownMenu aria-labelledby="folderActionDropDownOptions">
                            <div ngbDropdownItem class="small cursor-pointer" (click)="showCreateSamplesModal()">Create
                                Samples
                            </div>
                            <div ngbDropdownItem class="small cursor-pointer">Export</div>
                            <!--                            <div ngbDropdownItem class="small cursor-pointer">Bulk Edit</div>-->
                            <div ngbDropdownItem class="small cursor-pointer">Upload</div>

                            <ng-container *ngIf="isAdmin()">
                            <div class="dropdown-divider"></div>

                                <div ngbDropdownItem class="small cursor-pointer" (click)="showTransferModal()">Transfer
                                    Folder
                            </div>
                                <div ngbDropdownItem class="small cursor-pointer">Accept Transfer</div>

                                <div ngbDropdownItem class="small cursor-pointer">Add To Featured Collection</div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col px-0">
            <app-folder-actions></app-folder-actions>
            <br>
            <app-parts-table [folderId]="folderDetails.id"></app-parts-table>
        </div>
    </div>
</div>
